Repository catalyst-cooperative/pudl, pull requests merged in 2021-09, with the labels that each got.

#1122 EIA860 2001-2003
  devtools/early-eia860-harvesting-debug.ipynb
  devtools/ferc1-eia-glue/ferc1-eia-glue.ipynb
  docs/data_dictionaries/pudl_db.rst
  setup.py
  src/pudl/constants.py
  src/pudl/extract/excel.py
  src/pudl/glue/ferc1_eia.py
  src/pudl/helpers.py
  src/pudl/package_data/meta/datapkg/datapackage.json
  src/pudl/package_data/meta/xlsx_maps/eia860/column_maps/generator.csv
  src/pudl/package_data/meta/xlsx_maps/eia860/column_maps/generator_proposed.csv
  src/pudl/package_data/meta/xlsx_maps/eia860/column_maps/ownership.csv
  src/pudl/package_data/meta/xlsx_maps/eia860/column_maps/plant.csv
  src/pudl/package_data/meta/xlsx_maps/eia860/column_maps/utility.csv
  src/pudl/package_data/meta/xlsx_maps/eia860/file_map.csv
  src/pudl/package_data/meta/xlsx_maps/eia860/skipfooter.csv
  src/pudl/package_data/meta/xlsx_maps/eia860/skiprows.csv
  src/pudl/package_data/meta/xlsx_maps/eia860/tab_map.csv
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/transform/eia.py
  src/pudl/transform/eia860.py
  test/integration/etl_test.py
  test/unit/helpers_test.py
  test/validate/eia860_test.py
  test/validate/eia_test.py
Labels: eia860

#1227 Basic epa cems output
  src/pudl/output/epacems.py
  test/integration/epacems_test.py
Labels: output, epacems

#1231 Map small gen pudl ids
  devtools/ferc1-eia-glue/ferc1-eia-glue.ipynb
  src/pudl/package_data/glue/mapping_eia923_ferc1.xlsx
Labels: glue, eia923, ferc1

#1209 Add FERC1 output table that combines key FERC1 subtables
  src/pudl/output/ferc1.py
  src/pudl/output/pudltabl.py
  test/integration/fast_output_test.py
Labels: ferc1, output, analysis

#1230 Deduplicate and re-organize metadata from constants.py
  .gitignore
  .pre-commit-config.yaml
  devtools/eia-etl-debug.ipynb
  devtools/ferc1-eia-glue/ferc1-eia-glue.ipynb
  devtools/ferc1/ferc1-new-year.ipynb
  docs/data_sources/eia923.rst
  notebooks/work-in-progress/eia861-transform.ipynb
  notebooks/work-in-progress/eia_column_changes_through_time.ipynb
  notebooks/work-in-progress/explore-mcoe.ipynb
  src/pudl/analysis/timeseries_cleaning.py
  src/pudl/cli.py
  src/pudl/constants.py
  src/pudl/convert/epacems_to_parquet.py
  src/pudl/convert/ferc1_to_sqlite.py
  src/pudl/etl.py
  src/pudl/extract/eia860m.py
  src/pudl/extract/eia861.py
  src/pudl/extract/epacems.py
  src/pudl/extract/ferc1.py
  src/pudl/extract/ferc714.py
  src/pudl/glue/ferc1_eia.py
  src/pudl/helpers.py
  src/pudl/load/sqlite.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/constants.py
  src/pudl/metadata/dfs.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/helpers.py
  src/pudl/metadata/labels.py
  src/pudl/metadata/resources.py
  src/pudl/output/epacems.py
  src/pudl/output/ferc1.py
  src/pudl/output/pudltabl.py
  src/pudl/transform/eia.py
  src/pudl/transform/eia860.py
  src/pudl/transform/eia861.py
  src/pudl/transform/eia923.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/ferc714.py
  src/pudl/workspace/setup.py
  test/conftest.py
  test/integration/epacems_test.py
  test/integration/etl_test.py
  test/integration/glue_test.py
  test/unit/harvest_test.py
  test/unit/metadata_test.py
  test/validate/ferc1_test.py
  tox.ini
Labels: metadata
