Repository catalyst-cooperative/pudl, pull requests merged in 2021-12, with the labels that each got.

#1361 Allow PUDL SQLite DB to be loaded into Postgres
  .gitignore
  devtools/environment.yml
  devtools/pudl_to_postgres.sh
  devtools/pyspy_pudl_etl.sh
  setup.py
  src/pudl/metadata/fields.py
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/transform/eia923.py
Labels: output, sqlite

#1373 Add support for Python 3.10
  .github/workflows/tox-pytest.yml
  devtools/ci-environment.yml
  devtools/environment.yml
  setup.py
Labels: testing, dependencies

#1075 backfill eia860gens technology_description based on energy_source_cod…
  src/pudl/output/eia860.py
  src/pudl/output/pudltabl.py
Labels: eia860

#1377 Implement PyArrow schemas in Pydantic metadata classes
  .pre-commit-config.yaml
  docs/conf.py
  src/pudl/__init__.py
  src/pudl/cli.py
  src/pudl/constants.py
  src/pudl/convert/metadata_to_rst.py
  src/pudl/etl.py
  src/pudl/helpers.py
  src/pudl/load.py
  src/pudl/load/__init__.py
  src/pudl/load/parquet.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/constants.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/helpers.py
  src/pudl/metadata/resources/epacems.py
  src/pudl/transform/eia860.py
  src/pudl/transform/eia923.py
  test/unit/metadata_test.py
Labels: metadata, parquet

#1376 Na values
  src/pudl/constants.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/transform/eia860.py
  src/pudl/transform/eia923.py
  src/pudl/transform/ferc1.py
Labels: data cleaning, sqlite, metadata
