Repository catalyst-cooperative/pudl, pull requests merged in 2021-03, with the labels that each got.

#907 Metadata docs
  .pre-commit-config.yaml
  docs/_static/custom.css
  docs/api/pudl.convert.datapkg_to_rst.rst
  docs/api/pudl.convert.rst
  docs/conf.py
  docs/data_sources.rst
  docs/data_sources/eia860.rst
  docs/data_sources/metadata.rst
  setup.py
  src/pudl/__init__.py
  src/pudl/convert/datapkg_to_rst.py
  src/pudl/package_data/meta/datapkg/datapackage.json
  test/integration/console_scripts_test.py
  tox.ini
Labels: datapkg, docs, metadata

#939 Update transform documentation
  src/pudl/transform/__init__.py
  src/pudl/transform/eia.py
  src/pudl/transform/eia860.py
  src/pudl/transform/eia861.py
  src/pudl/transform/eia923.py
  src/pudl/transform/epacems.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/ferc714.py
Labels: docs

#948 Convert Census DP1 to SQLite
  .github/workflows/tox-pytest.yml
  docs/api/pudl.convert.censusdp1tract_to_sqlite.rst
  docs/api/pudl.convert.rst
  docs/api/pudl.output.censusdp1tract.rst
  docs/api/pudl.output.rst
  setup.py
  src/pudl/__init__.py
  src/pudl/analysis/service_territory.py
  src/pudl/convert/censusdp1tract_to_sqlite.py
  src/pudl/convert/ferc1_to_sqlite.py
  src/pudl/output/censusdp1tract.py
  src/pudl/output/ferc714.py
  src/pudl/workspace/datastore.py
  src/pudl/workspace/setup.py
Labels: sqlite
