Repository catalyst-cooperative/pudl, pull requests merged in 2022-05, with the labels that each got.

#1447 Refactor labeling of true granularities with plant part to generator match function
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/output/pudltabl.py
  test/unit/analysis/plant_parts_eia_test.py
Labels: eia_ppl, ccai

#1600 Re-gigger backfilling `technology_description` & make `prime_mover_code` an annually harvested column
  devtools/harvesting_debug.ipynb
  docs/release_notes.rst
  src/pudl/metadata/resources/__init__.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/output/eia860.py
  src/pudl/transform/eia860.py
Labels: output, data repair, rmi

#1624 Clean operational_status_code using metadata encoder
  docs/release_notes.rst
  src/pudl/etl.py
  src/pudl/extract/eia861.py
  src/pudl/metadata/codes.py
  src/pudl/metadata/resources/eia.py
  src/pudl/transform/eia860.py
Labels: eia860, data cleaning, metadata, rmi

#1626 add opex_nonfuel column to all FERC1 plant tables in output layer for all_plants_ferc1 table
  src/pudl/output/ferc1.py
Labels: ferc1, rmi

#1578 Add installation_year and construction_year as plant part level
  docs/release_notes.rst
  src/pudl/analysis/plant_parts_eia.py
  test/unit/analysis/plant_parts_eia_test.py
Labels: ccai

#1642 Small docs updates
  docs/dev/dev_setup.rst
  docs/dev/index.rst
  docs/dev/run_the_etl.rst
  docs/dev/settings_files.rst
  docs/intro.rst
  src/pudl/cli.py
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/package_data/settings/ferc1_solo_test.yml
Labels: docs

#1532 Dynamically generate RSTs with new DataSource metadata
  devtools/datasette/publish.sh
  docs/conf.py
  docs/data_sources/eia860.rst
  docs/data_sources/eia923.rst
  docs/data_sources/ferc1.rst
  docs/release_notes.rst
  docs/templates/codemetadata.rst.jinja
  docs/templates/data_source_parent.rst.jinja
  docs/templates/eia860_child.rst.jinja
  docs/templates/eia923_child.rst.jinja
  docs/templates/epacems_child.rst.jinja
  docs/templates/ferc1_child.rst.jinja
  docs/templates/generic_child_template.rst.jinja
  docs/templates/package.rst.jinja
  docs/templates/resource.rst.jinja
  setup.py
  src/pudl/convert/datasette_metadata_to_yml.py
  src/pudl/convert/metadata_to_rst.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/sources.py
  src/pudl/metadata/templates/datasette-metadata.yml.jinja
  src/pudl/workspace/datastore.py
  test/integration/datasette_metadata_test.py
  tox.ini
Labels: docs, metadata
