Repository catalyst-cooperative/pudl, pull requests merged in 2022-06, with the labels that each got.

#1676 Add DataSource Metadata for EPA-EIA Crosswalk
  src/pudl/metadata/sources.py
Labels: epacems, metadata, rmi

#1550 Rework clean_merge_asof func
  src/pudl/analysis/mcoe.py
  src/pudl/helpers.py
  src/pudl/output/eia923.py
  src/pudl/output/pudltabl.py
  test/data/date_merge_unit_test/timeseries_fillin_expected_out.csv
  test/data/date_merge_unit_test/timeseries_fillin_through_month_expected_out.csv
  test/unit/helpers_test.py
  test/validate/mcoe_test.py
Labels: ccai

#1690 Release notes for date_merge and default columns change for PPL and MCOE
  docs/release_notes.rst
Labels: docs

#1656 Fix all plants ferc1
  src/pudl/metadata/resources/ferc1.py
  src/pudl/output/ferc1.py
  src/pudl/output/pudltabl.py
  src/pudl/transform/ferc1.py
  test/integration/output_test.py
  test/validate/ferc1_test.py
Labels: rmi
