Repository catalyst-cooperative/pudl, pull requests merged in 2022-10, with the labels that each got.

#1966 Add a static table of political subdivision attributes.
  src/pudl/analysis/state_demand.py
  src/pudl/etl.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/dfs.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/metadata/resources/pudl.py
  src/pudl/metadata/sources.py
  src/pudl/transform/eia.py
  src/pudl/transform/eia860.py
Labels: eia860, new-data

#1931 Integrate xbrl to dbf utility ID mapping
  devtools/ferc1-eia-glue/find_unmapped_plants_utils.py
  docs/templates/ferc1_child.rst.jinja
  src/pudl/glue/ferc1_eia.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/output/eia860.py
  src/pudl/output/ferc1.py
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/glue/utility_id_ferc1.csv
  src/pudl/package_data/glue/utility_id_pudl.csv
  src/pudl/transform/classes.py
  src/pudl/transform/eia861.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
  test/conftest.py
  test/integration/datasette_metadata_test.py
  test/integration/etl_test.py
  test/integration/glue_test.py
  test/integration/output_test.py
  test/unit/glue.py
  test/unit/transform/classes_test.py
  tox.ini
Labels: ferc1, rmi

#1988 Add labeling functions for manual maps
  docs/dev/annual_updates.rst
  docs/dev/pudl_id_mapping.rst
  src/pudl/glue/ferc1_eia.py
  test/integration/glue_test.py
Labels: glue, ferc1, rmi, xbrl

#1937 EIA Bulk Electricity Aggregates
  .github/workflows/tox-pytest.yml
  notebooks/work-in-progress/eia_bulk_data_testbed.ipynb
  notebooks/work-in-progress/replace_eia_api.ipynb
  src/pudl/__init__.py
  src/pudl/etl.py
  src/pudl/extract/eia_bulk_elec.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/dfs.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia_bulk_elec.py
  src/pudl/metadata/resources/ferc714.py
  src/pudl/metadata/sources.py
  src/pudl/output/eia923.py
  src/pudl/output/pudltabl.py
  src/pudl/transform/eia_bulk_elec.py
  test/integration/output_test.py
  test/unit/extract/eia_bulk_elec_test.py
  test/unit/transform/eia_bulk_elec_test.py
  tox.ini
Labels: eia923, analysis

#1990 Add 2021 861 to output
  docs/dev/annual_updates.rst
  src/pudl/extract/excel.py
  src/pudl/package_data/eia861/column_maps/advanced_metering_infrastructure_eia861.csv
  src/pudl/package_data/eia861/column_maps/balancing_authority_eia861.csv
  src/pudl/package_data/eia861/column_maps/delivery_companies_eia861.csv
  src/pudl/package_data/eia861/column_maps/demand_response_eia861.csv
  src/pudl/package_data/eia861/column_maps/distribution_systems_eia861.csv
  src/pudl/package_data/eia861/column_maps/dynamic_pricing_eia861.csv
  src/pudl/package_data/eia861/column_maps/energy_efficiency_eia861.csv
  src/pudl/package_data/eia861/column_maps/frame_eia861.csv
  src/pudl/package_data/eia861/column_maps/mergers_eia861.csv
  src/pudl/package_data/eia861/column_maps/net_metering_eia861.csv
  src/pudl/package_data/eia861/column_maps/non_net_metering_eia861.csv
  src/pudl/package_data/eia861/column_maps/operational_data_eia861.csv
  src/pudl/package_data/eia861/column_maps/reliability_eia861.csv
  src/pudl/package_data/eia861/column_maps/sales_eia861.csv
  src/pudl/package_data/eia861/column_maps/service_territory_eia861.csv
  src/pudl/package_data/eia861/column_maps/short_form_eia861.csv
  src/pudl/package_data/eia861/column_maps/utility_data_eia861.csv
  src/pudl/package_data/eia861/file_map.csv
  src/pudl/package_data/eia861/skiprows.csv
  src/pudl/workspace/datastore.py
Labels: docs, new-data, eia861, rmi

#1992 Integrating 2021 FERC1 XBRL hydro table
  src/pudl/glue/ferc1_eia.py
  src/pudl/metadata/fields.py
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/transform/classes.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
  test/unit/transform/classes_test.py
Labels: ferc1, rmi, xbrl

#1962 Document new transforms & organize imports/logging
  .pre-commit-config.yaml
  src/pudl/__init__.py
  src/pudl/analysis/__init__.py
  src/pudl/analysis/allocate_net_gen.py
  src/pudl/analysis/classify_plants_ferc1.py
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/analysis/service_territory.py
  src/pudl/analysis/state_demand.py
  src/pudl/cli.py
  src/pudl/convert/__init__.py
  src/pudl/convert/censusdp1tract_to_sqlite.py
  src/pudl/convert/datasette_metadata_to_yml.py
  src/pudl/convert/epacems_to_parquet.py
  src/pudl/convert/ferc_to_sqlite.py
  src/pudl/convert/metadata_to_rst.py
  src/pudl/etl.py
  src/pudl/extract/__init__.py
  src/pudl/extract/eia860.py
  src/pudl/extract/eia860m.py
  src/pudl/extract/eia861.py
  src/pudl/extract/eia923.py
  src/pudl/extract/epacems.py
  src/pudl/extract/excel.py
  src/pudl/extract/ferc1.py
  src/pudl/extract/ferc714.py
  src/pudl/extract/xbrl.py
  src/pudl/glue/__init__.py
  src/pudl/glue/epacamd_eia.py
  src/pudl/glue/ferc1_eia.py
  src/pudl/helpers.py
  src/pudl/load.py
  src/pudl/logging_helpers.py
  src/pudl/metadata/__init__.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/fields.py
  src/pudl/output/__init__.py
  src/pudl/output/censusdp1tract.py
  src/pudl/output/eia860.py
  src/pudl/output/eia923.py
  src/pudl/output/ferc1.py
  src/pudl/output/ferc714.py
  src/pudl/output/pudltabl.py
  src/pudl/transform/__init__.py
  src/pudl/transform/classes.py
  src/pudl/transform/eia.py
  src/pudl/transform/eia860.py
  src/pudl/transform/eia861.py
  src/pudl/transform/eia923.py
  src/pudl/transform/epacems.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/ferc714.py
  src/pudl/transform/params/__init__.py
  src/pudl/transform/params/ferc1.py
  src/pudl/validate.py
  src/pudl/workspace/__init__.py
  src/pudl/workspace/datastore.py
  src/pudl/workspace/resource_cache.py
  src/pudl/workspace/setup.py
  src/pudl/workspace/setup_cli.py
  test/unit/transform/classes_test.py
Labels: ferc1, docs, xbrl

#2008 Add release notes about EIA API removal / fuel price filling
  docs/release_notes.rst
Labels: docs

#2017 Add 2021 eia923 eia860 final release
  README.rst
  docs/dev/pudl_id_mapping.rst
  docs/release_notes.rst
  src/pudl/package_data/eia860/file_map.csv
  src/pudl/package_data/eia860/skiprows.csv
  src/pudl/package_data/eia923/column_maps/boiler_fuel.csv
  src/pudl/package_data/eia923/column_maps/fuel_receipts_costs.csv
  src/pudl/package_data/eia923/column_maps/generation_fuel.csv
  src/pudl/package_data/eia923/column_maps/generator.csv
  src/pudl/package_data/eia923/column_maps/plant_frame.csv
  src/pudl/package_data/eia923/column_maps/stocks.csv
  src/pudl/package_data/eia923/file_map.csv
  src/pudl/package_data/eia923/skiprows.csv
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/workspace/datastore.py
  test/validate/eia_test.py
  test/validate/mcoe_test.py
Labels: eia923, eia860, new-data, rmi
