Repository catalyst-cooperative/pudl, pull requests merged in 2022-11, with the labels that each got.

#1096 Allocate fuel consumption
  devtools/harvesting_debug.ipynb
  notebooks/work-in-progress/explore_fuel_allocation.ipynb
  src/pudl/analysis/allocate_net_gen.py
  src/pudl/analysis/mcoe.py
  src/pudl/helpers.py
  src/pudl/output/eia923.py
  src/pudl/output/pudltabl.py
  test/conftest.py
  test/integration/output_test.py
  test/unit/analysis/allocate_net_gen_test.py
  test/validate/eia_test.py
  test/validate/gen_eia923_test.py
  test/validate/mcoe_test.py
  tox.ini
Labels: eia923, eia860, analysis, egrid

#2044 Updated docs to include nightly build failure etiquette.
  docs/dev/nightly_data_builds.rst
Labels: docs, cloud

#2005 xbrl and dbf integration of pumped storage ferc1 table
  src/pudl/glue/ferc1_eia.py
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/transform/classes.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
  test/unit/transform/classes_test.py
Labels: ferc1, rmi, xbrl

#2011 xbrl and dbf integration of purchased power ferc1 table
  src/pudl/metadata/classes.py
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
Labels: ferc1, rmi, xbrl

#2025 First draft of `plant_in_service_ferc1` DBF + XBRL transform
  docs/dev/nightly_data_builds.rst
  src/pudl/extract/ferc1.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/package_data/ferc1/dbf_to_xbrl.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
Labels: ferc1, rmi, xbrl

#2054 Add aggregation metadata for `plant_in_service_ferc1` table
  .gitignore
  src/pudl/package_data/ferc1/dbf_to_xbrl.csv
  src/pudl/transform/classes.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
Labels: ferc1, metadata, xbrl, dbf

#2059 Fix bad multi-index construction that was scrambling XBRL columns.
  src/pudl/transform/ferc1.py
Labels: ferc1, xbrl

#2035 Transforms for small gens table XBRL
  src/pudl/glue/ferc1_eia.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
Labels: rmi, xbrl

#2058 Integrate XBRL taxonomy metadata into `plant_in_service` transform
  src/pudl/etl.py
  src/pudl/extract/ferc1.py
  src/pudl/glue/ferc1_eia.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/transform/classes.py
  src/pudl/transform/ferc1.py
  test/conftest.py
  test/integration/etl_test.py
Labels: ferc1, xbrl

#2068 Fix doc stings for small gens table transform
  src/pudl/transform/ferc1.py
Labels: docs, rmi, xbrl

#2067 Resolve duplicate DBF-XBRL mappings and duplicate records in `plant_in_service_ferc1`
  src/pudl/package_data/ferc1/small_plants_2004-2016.xlsx
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/transform/classes.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
  test/unit/transform/ferc1_test.py
Labels: bug, glue, ferc1, testing, xbrl, dbf

#2092 Address missing fuel ferc1 records
  setup.py
  src/pudl/transform/ferc1.py
  test/validate/ferc1_test.py
Labels: ferc1, xbrl

#2091 Add loglevel and logfile to all CLI commands
  src/pudl/analysis/service_territory.py
  src/pudl/analysis/state_demand.py
  src/pudl/cli.py
  src/pudl/convert/censusdp1tract_to_sqlite.py
  src/pudl/convert/datasette_metadata_to_yml.py
  src/pudl/convert/epacems_to_parquet.py
  src/pudl/convert/ferc_to_sqlite.py
  src/pudl/convert/metadata_to_rst.py
  src/pudl/workspace/datastore.py
  src/pudl/workspace/setup_cli.py
Labels: cli

#2095 Add FERC XBRL DBs to datasette deployment.
  devtools/datasette/publish.sh
  docs/release_notes.rst
  src/pudl/metadata/classes.py
  src/pudl/metadata/sources.py
  src/pudl/metadata/templates/datasette-metadata.yml.jinja
  src/pudl/settings.py
  test/integration/datasette_metadata_test.py
Labels: ferc1, ferc714, ferc2, datasette, xbrl, ferc6, ferc60

#2088 Dbf xbrl mapping
  .gitattributes
  .pre-commit-config.yaml
  devtools/environment.yml
  docs/data_dictionaries/ferc1_db.csv
  src/pudl/package_data/eia860/file_map.csv
  src/pudl/package_data/eia860/skiprows.csv
  src/pudl/package_data/eia861/column_maps/advanced_metering_infrastructure_eia861.csv
  src/pudl/package_data/eia861/column_maps/balancing_authority_eia861.csv
  src/pudl/package_data/eia861/column_maps/delivery_companies_eia861.csv
  src/pudl/package_data/eia861/column_maps/demand_response_eia861.csv
  src/pudl/package_data/eia861/column_maps/demand_side_management_eia861.csv
  src/pudl/package_data/eia861/column_maps/distributed_generation_eia861.csv
  src/pudl/package_data/eia861/column_maps/distribution_systems_eia861.csv
  src/pudl/package_data/eia861/column_maps/dynamic_pricing_eia861.csv
  src/pudl/package_data/eia861/column_maps/energy_efficiency_eia861.csv
  src/pudl/package_data/eia861/column_maps/frame_eia861.csv
  src/pudl/package_data/eia861/column_maps/green_pricing_eia861.csv
  src/pudl/package_data/eia861/column_maps/mergers_eia861.csv
  src/pudl/package_data/eia861/column_maps/net_metering_eia861.csv
  src/pudl/package_data/eia861/column_maps/non_net_metering_eia861.csv
  src/pudl/package_data/eia861/column_maps/operational_data_eia861.csv
  src/pudl/package_data/eia861/column_maps/reliability_eia861.csv
  src/pudl/package_data/eia861/column_maps/sales_eia861.csv
  src/pudl/package_data/eia861/column_maps/service_territory_eia861.csv
  src/pudl/package_data/eia861/column_maps/short_form_eia861.csv
  src/pudl/package_data/eia861/column_maps/utility_data_eia861.csv
  src/pudl/package_data/eia861/file_map.csv
  src/pudl/package_data/eia861/skiprows.csv
  src/pudl/package_data/eia923/column_maps/boiler_fuel.csv
  src/pudl/package_data/eia923/column_maps/fuel_receipts_costs.csv
  src/pudl/package_data/eia923/column_maps/generation_fuel.csv
  src/pudl/package_data/eia923/column_maps/generator.csv
  src/pudl/package_data/eia923/column_maps/plant_frame.csv
  src/pudl/package_data/eia923/column_maps/stocks.csv
  src/pudl/package_data/eia923/file_map.csv
  src/pudl/package_data/eia923/skiprows.csv
  src/pudl/package_data/ferc1/dbf_to_xbrl.csv
  src/pudl/package_data/ferc1/dbf_to_xbrl_tables.csv
  src/pudl/package_data/ferc1/file_map.csv
  src/pudl/package_data/ferc1/row_maps/f1_plant_in_srvce.csv
  src/pudl/transform/ferc1.py
  test/data/date_merge_unit_test/timeseries_fillin_expected_out.csv
  test/data/date_merge_unit_test/timeseries_fillin_through_month_expected_out.csv
  test/unit/transform/ferc1_test.py
Labels: ferc1, metadata, xbrl

#2079 eia860m september update
  docs/release_notes.rst
  src/pudl/etl.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/pudl.py
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia860m/column_maps/generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860m/column_maps/generator_retired.csv
  src/pudl/package_data/eia860m/file_map.csv
  src/pudl/package_data/eia860m/page_map.csv
  src/pudl/package_data/eia860m/skipfooter.csv
  src/pudl/package_data/eia860m/skiprows.csv
  src/pudl/settings.py
  src/pudl/workspace/datastore.py
  test/unit/settings_test.py
  test/validate/eia_test.py
  test/validate/mcoe_test.py
Labels: eia860, rmi

#2094 integrate the elecrtric energy source dbf & xbrl tbl
  src/pudl/extract/ferc1.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/package_data/ferc1/dbf_to_xbrl.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
  test/unit/transform/ferc1_test.py
Labels: ferc1, rmi, xbrl, dbf
