Repository catalyst-cooperative/pudl, pull requests merged in 2022-09, with the labels that each got.

#1881 Xbrl steam but really
  src/pudl/analysis/classify_plants_ferc1.py
  src/pudl/transform/__init__.py
  src/pudl/transform/classes.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
  tox.ini
Labels: ferc1, rmi

#1897 Encode balancing authority codes
  src/pudl/metadata/codes.py
  src/pudl/metadata/resources/eia.py
Labels: eia923, eia860, data cleaning

#1906 Fill in some null BA codes using BA names
  src/pudl/transform/eia.py
Labels: eia923, eia860, data-cleaning

#1903 Implement drop_invalid_rows() for fuel_ferc1 table
  src/pudl/transform/classes.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/__init__.py
  src/pudl/transform/params/ferc1.py
Labels: ferc1, data-cleaning

#1900 Split TableTransformer.transform() into 3 phases
  devtools/environment.yml
  pyproject.toml
  src/pudl/analysis/allocate_net_gen.py
  src/pudl/analysis/classify_plants_ferc1.py
  src/pudl/extract/excel.py
  src/pudl/transform/classes.py
  src/pudl/transform/eia.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/ferc714.py
  src/pudl/transform/params/__init__.py
  src/pudl/transform/params/ferc1.py
  test/test-environment.yml
Labels: ferc1, rmi, xbrl

#1831 Prepare raw FERC XBRL DB's for publication with Datasette
  setup.py
  src/pudl/__init__.py
  src/pudl/convert/datasette_metadata_to_yml.py
  src/pudl/convert/ferc_to_sqlite.py
  src/pudl/extract/ferc1.py
  src/pudl/extract/xbrl.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/sources.py
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/package_data/settings/ferc1_solo_test.yml
  src/pudl/settings.py
  src/pudl/workspace/datastore.py
  src/pudl/workspace/setup.py
  test/conftest.py
  test/integration/datasette_metadata_test.py
  test/integration/etl_test.py
Labels: ferc1, ferc714, sqlite, cli, ferc2, datasette, xbrl

#1915 Aggregate data_maturity in gfn_eia923, update EIA ETL debugging Notebook
  devtools/eia-etl-debug.ipynb
  src/pudl/transform/eia923.py
Labels: eia923, data-cleaning

#1911 Fill in pre-2013 BA codes
  src/pudl/output/eia860.py
  src/pudl/transform/eia.py
  src/pudl/transform/eia861.py
Labels: rmi

#1922 Add metadata & DOIs for EIA Bulk Electricity data source
  devtools/environment.yml
  docs/release_notes.rst
  pyproject.toml
  src/pudl/metadata/sources.py
  src/pudl/workspace/datastore.py
Labels: eia923, eia860, new-data, zenodo

#1921 Integrate EIA-861 2021 Early Release data
  README.rst
  docs/release_notes.rst
  src/pudl/extract/eia861.py
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia861/column_maps/advanced_metering_infrastructure_eia861.csv
  src/pudl/package_data/eia861/column_maps/balancing_authority_eia861.csv
  src/pudl/package_data/eia861/column_maps/delivery_companies_eia861.csv
  src/pudl/package_data/eia861/column_maps/demand_response_eia861.csv
  src/pudl/package_data/eia861/column_maps/distribution_systems_eia861.csv
  src/pudl/package_data/eia861/column_maps/dynamic_pricing_eia861.csv
  src/pudl/package_data/eia861/column_maps/energy_efficiency_eia861.csv
  src/pudl/package_data/eia861/column_maps/frame_eia861.csv
  src/pudl/package_data/eia861/column_maps/mergers_eia861.csv
  src/pudl/package_data/eia861/column_maps/net_metering_eia861.csv
  src/pudl/package_data/eia861/column_maps/non_net_metering_eia861.csv
  src/pudl/package_data/eia861/column_maps/operational_data_eia861.csv
  src/pudl/package_data/eia861/column_maps/reliability_eia861.csv
  src/pudl/package_data/eia861/column_maps/sales_eia861.csv
  src/pudl/package_data/eia861/column_maps/service_territory_eia861.csv
  src/pudl/package_data/eia861/column_maps/short_form_eia861.csv
  src/pudl/package_data/eia861/column_maps/utility_data_eia861.csv
  src/pudl/package_data/eia861/file_map.csv
  src/pudl/package_data/eia861/page_map.csv
  src/pudl/package_data/eia861/skipfooter.csv
  src/pudl/package_data/eia861/skiprows.csv
  src/pudl/workspace/datastore.py
Labels: new-data, eia861, rmi

#1692 Add epacems crosswalk to etl
  README.rst
  docs/data_sources/epacems/camd_power_sector_emissions_guide.pdf
  docs/data_sources/epacems/plant_configuration.png
  docs/dev/run_the_etl.rst
  docs/release_notes.rst
  docs/templates/epacems_child.rst.jinja
  notebooks/work-in-progress/explore-CEMS.ipynb
  src/pudl/__init__.py
  src/pudl/analysis/epa_crosswalk.py
  src/pudl/etl.py
  src/pudl/extract/eia860.py
  src/pudl/extract/eia860m.py
  src/pudl/extract/eia861.py
  src/pudl/extract/eia923.py
  src/pudl/extract/epacems.py
  src/pudl/glue/eia_epacems.py
  src/pudl/glue/epacamd_eia.py
  src/pudl/helpers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/epacems.py
  src/pudl/metadata/resources/glue.py
  src/pudl/metadata/resources/pudl.py
  src/pudl/metadata/sources.py
  src/pudl/output/epacems.py
  src/pudl/output/pudltabl.py
  src/pudl/transform/epacems.py
  test/integration/epacems_test.py
  test/unit/analysis/epa_crosswalk_test.py
  test/unit/helpers_test.py
  test/unit/transform/epacems_test.py
  test/validate/epacamd_eia_test.py
Labels: glue, epacems, rmi

#1934 Re-add and update the epacamd-eia crosswalk analysis module
  src/pudl/__init__.py
  src/pudl/analysis/epacamd_eia.py
  src/pudl/extract/epacems.py
  src/pudl/glue/epacamd_eia.py
  src/pudl/transform/epacems.py
Labels: rmi

#1902 Ensure PUDL works with Pandas 1.5.0
  setup.py
  src/pudl/analysis/allocate_net_gen.py
  src/pudl/extract/excel.py
  src/pudl/helpers.py
  src/pudl/metadata/constants.py
  src/pudl/output/ferc714.py
  src/pudl/transform/eia.py
  src/pudl/transform/ferc714.py
Labels: dependencies

#1865 Plant part updates to fix RMI CI memory issues
  docs/release_notes.rst
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/helpers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia.py
  test/unit/analysis/plant_parts_eia_test.py
Labels: metadata, ppe, data-types, rmi, ccai

#1940 Fix build error for `epacamd_eia_test`
  test/validate/eia_test.py
  test/validate/epacamd_eia_test.py
Labels: epacems, rmi

#1919 New FERC 1 / XBRL Transform Unit Tests
  README.rst
  notebooks/work-in-progress/ferc1-transform-refactor/ferc1-transform-refactor.ipynb
  notebooks/work-in-progress/ferc1-transform-refactor/ferc1_transform_refactor.py
  setup.py
  src/pudl/extract/xbrl.py
  src/pudl/helpers.py
  src/pudl/metadata/classes.py
  src/pudl/transform/classes.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
  test/unit/transform/classes_test.py
  test/unit/transform/ferc1_test.py
Labels: ferc1, testing, rmi, xbrl
