Repository catalyst-cooperative/pudl, pull requests merged in 2022-01, with the labels that each got.

#1386 Separate resource definitions by data source
  src/pudl/constants.py
  src/pudl/metadata/codes.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/labels.py
  src/pudl/metadata/resources/__init__.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/metadata/resources/eia861.py
  src/pudl/metadata/resources/eia923.py
  src/pudl/metadata/resources/epacems.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/metadata/resources/ferc714.py
  src/pudl/transform/eia860.py
  src/pudl/transform/eia861.py
  tox.ini
Labels: eia923, eia860, eia861, metadata

#1388 Export code static labeling to documentation
  docs/conf.py
  docs/data_dictionaries/index.rst
  src/pudl/etl.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/codes.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/templates/codemetadata.rst.jinja
  src/pudl/transform/eia860.py
  src/pudl/transform/eia923.py
Labels: docs, metadata

#1416 Replace simple label substitutions with coding tables
  src/pudl/etl.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/codes.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia923.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/package_data/eia923/column_maps/fuel_receipts_costs.csv
  src/pudl/transform/eia861.py
  src/pudl/transform/eia923.py
  src/pudl/transform/ferc1.py
Labels: metadata

#1405 Fix county FIPS codes string type in fuel_receipts_costs_eia923
  src/pudl/extract/eia923.py
  src/pudl/helpers.py
  src/pudl/metadata/fields.py
  src/pudl/output/eia923.py
  src/pudl/transform/eia923.py
Labels: bug, eia923, output
