Repository catalyst-cooperative/pudl, pull requests merged in 2022-03, with the labels that each got.

#1479 Enrich Datasette with new metadata
  devtools/datasette/publish.sh
  devtools/environment.yml
  setup.py
  src/pudl/convert/metadata_to_yml.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/metadata/sources.py
  src/pudl/metadata/templates/metadata.yml.jinja
  test/integration/datasette_metadata_test.py
  tox.ini
Labels: metadata, datasette

#1510 Add eia860m through 2021-12
  devtools/ferc1-eia-glue/find_unmapped_plants_utils.py
  docs/conf.py
  docs/dev/pudl_id_mapping.rst
  docs/release_notes.rst
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia860m/column_maps/generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860m/column_maps/generator_retired.csv
  src/pudl/package_data/eia860m/file_map.csv
  src/pudl/package_data/eia860m/page_map.csv
  src/pudl/package_data/eia860m/skipfooter.csv
  src/pudl/package_data/eia860m/skiprows.csv
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/workspace/datastore.py
Labels: eia860, new data

#1518 Recombine nuke/non-nuke gen fuel in output functions
  docs/release_notes.rst
  src/pudl/output/eia923.py
  src/pudl/output/pudltabl.py
  test/integration/output_test.py
  test/validate/eia860_test.py
  test/validate/eia_test.py
Labels: eia923, output

#1157 Move the EIA plant-parts list into PUDL outputs
  notebooks/work-in-progress/make_master_unit_list_eia.ipynb
  src/pudl/__init__.py
  src/pudl/analysis/mcoe.py
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/helpers.py
  src/pudl/output/pudltabl.py
  src/pudl/package_data/glue/ferc_acct_to_pm_tech_map.csv
  test/integration/output_test.py
  test/unit/analysis/plant_parts_eia_test.py
Labels: ccai

#1524 Update release notes with changes since v0.5.0
  docs/release_notes.rst
Labels: docs

#1528 Adjust expected row counts for eia860m-2012-12
  test/validate/eia_test.py
Labels: eia860, new data

#1565 Update to pip 22, setuptools 61. Add nbconvert to pudl-dev
  devtools/environment.yml
  pyproject.toml
Labels: dependencies
