Repository catalyst-cooperative/pudl, pull requests merged in 2022-12, with the labels that each got.

#2100 Electric Dispositions Table
  src/pudl/extract/ferc1.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
  test/unit/transform/ferc1_test.py
  test/validate/ferc1_test.py
Labels: ferc1, rmi, xbrl, dbf

#2113 Map `f1_bal_sheet_cr`
  src/pudl/package_data/ferc1/dbf_to_xbrl.csv
Labels: ferc1, rmi, xbrl

#2105 Utility plant summary
  src/pudl/extract/ferc1.py
  src/pudl/glue/ferc1_eia.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/package_data/ferc1/dbf_to_xbrl.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/transform/classes.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
  test/unit/transform/ferc1_test.py
  test/validate/ferc1_test.py
Labels: ferc1, rmi, xbrl, dbf

#2114 Map `f1_elc_op_mnt_expn` table
  src/pudl/package_data/ferc1/dbf_to_xbrl.csv
Labels: ferc1, rmi, xbrl

#2127 Add the `balance_sheet_assets_ferc1` table
  src/pudl/extract/ferc1.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
  test/unit/transform/ferc1_test.py
  test/validate/ferc1_test.py
Labels: ferc1, rmi, xbrl, dbf

#2136 Xbrl metadata restructuring
  devtools/environment.yml
  setup.py
  src/pudl/etl.py
  src/pudl/extract/ferc1.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/transform/classes.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
  test/conftest.py
  test/integration/etl_test.py
  test/test-environment.yml
  tox.ini
Labels: ferc1, metadata, xbrl

#2143 Transform `f1_dacs_epda`
  src/pudl/extract/ferc1.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/package_data/ferc1/dbf_to_xbrl.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
Labels: ferc1, xbrl

#2147 Integrate `income_statement_ferc1` table
  src/pudl/extract/ferc1.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/package_data/ferc1/dbf_to_xbrl.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
  test/unit/transform/ferc1_test.py
  test/validate/ferc1_test.py
Labels: ferc1, rmi, xbrl, dbf

#2157 Ferc1 xbrl table release notes
  .gitattributes
  docs/data_sources/ferc1/ferc1_blank_2025-07-31.html
  docs/data_sources/ferc1/ferc1a_blank_2025-07-31.html
  docs/data_sources/ferc1/ferc1f_blank_2025-07-31.html
  docs/data_sources/ferc1/ferc3q_electric_2025-07-31.html
  docs/data_sources/ferc1/ferc3q_gas_2025-07-31.html
  docs/data_sources/ferc2/ferc2_blank_2025-07-31.html
  docs/data_sources/ferc6/ferc6_blank_2025-07-31.html
  docs/data_sources/ferc6/ferc6q_blank_2025-07-31.html
  docs/data_sources/ferc60/ferc60_blank_2025-07-31.html
  docs/data_sources/ferc714/ferc714_blank_2025-07-31.html
  docs/release_notes.rst
  docs/templates/ferc1_child.rst.jinja
  src/pudl/metadata/classes.py
Labels: ferc1, docs

#2134 Transform `f1_bal_sheet_cr`
  src/pudl/extract/ferc1.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
  test/unit/transform/ferc1_test.py
  test/validate/ferc1_test.py
Labels: ferc1, rmi, xbrl, dbf

#2155 Transform `f1_retained_erng` xbrl + dbf
  docs/release_notes.rst
  src/pudl/extract/ferc1.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/package_data/ferc1/dbf_to_xbrl.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
  test/validate/ferc1_test.py
Labels: rmi
