Repository catalyst-cooperative/pudl, pull requests merged in 2022-04, with the labels that each got.

#1554 Add installation_year and construction_year to PPL
  src/pudl/analysis/plant_parts_eia.py
Labels: analysis, eia_ppl, ccai

#1563 Modify EPA CEMS ETL to facilitate Intake Catalog
  src/pudl/convert/epacems_to_parquet.py
  src/pudl/etl.py
  src/pudl/extract/epacems.py
  src/pudl/load.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/constants.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/epacems.py
  src/pudl/settings.py
  src/pudl/transform/epacems.py
  test/conftest.py
  test/integration/epacems_test.py
Labels: epacems, intake, parquet

#1575 Hub EIA transition
  src/pudl/analysis/allocate_net_gen.py
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/output/pudltabl.py
  test/integration/output_test.py
  test/unit/analysis/plant_parts_eia_test.py
Labels: eia923, eia860, output, analysis, eia_ppl, rmi

#1591 Use partial function in map of EPA CEMS ETL
  .mypy.ini
  devtools/environment.yml
  src/pudl/etl.py
  src/pudl/output/epacems.py
  test/integration/epacems_test.py
Labels: epacems, dependencies
