Repository catalyst-cooperative/pudl, pull requests merged in 2022-08, with the labels that each got.

#1778 Integrate EPA CEMS hourly emissions data for 2021
  src/pudl/metadata/sources.py
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/workspace/datastore.py
  test/integration/epacems_test.py
  test/unit/workspace/datastore_test.py
Labels: epacems, new data

#1834 EIA923 early release, EIA860 early release, and 860m 2022-06
  .codecov.yml
  README.rst
  docs/dev/annual_updates.rst
  docs/release_notes.rst
  src/pudl/extract/eia923.py
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia860/column_maps/boiler_generator_assn.csv
  src/pudl/package_data/eia860/column_maps/generator.csv
  src/pudl/package_data/eia860/column_maps/generator_existing.csv
  src/pudl/package_data/eia860/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860/column_maps/generator_retired.csv
  src/pudl/package_data/eia860/column_maps/ownership.csv
  src/pudl/package_data/eia860/column_maps/plant.csv
  src/pudl/package_data/eia860/column_maps/utility.csv
  src/pudl/package_data/eia860/file_map.csv
  src/pudl/package_data/eia860/page_map.csv
  src/pudl/package_data/eia860/skipfooter.csv
  src/pudl/package_data/eia860/skiprows.csv
  src/pudl/package_data/eia860m/column_maps/generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860m/column_maps/generator_retired.csv
  src/pudl/package_data/eia860m/file_map.csv
  src/pudl/package_data/eia860m/page_map.csv
  src/pudl/package_data/eia860m/skipfooter.csv
  src/pudl/package_data/eia860m/skiprows.csv
  src/pudl/package_data/eia923/column_maps/boiler_fuel.csv
  src/pudl/package_data/eia923/column_maps/fuel_receipts_costs.csv
  src/pudl/package_data/eia923/column_maps/generation_fuel.csv
  src/pudl/package_data/eia923/column_maps/generator.csv
  src/pudl/package_data/eia923/column_maps/plant_frame.csv
  src/pudl/package_data/eia923/column_maps/stocks.csv
  src/pudl/package_data/eia923/file_map.csv
  src/pudl/package_data/eia923/page_map.csv
  src/pudl/package_data/eia923/skipfooter.csv
  src/pudl/package_data/eia923/skiprows.csv
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/transform/eia860.py
  src/pudl/transform/eia861.py
  src/pudl/transform/eia923.py
  src/pudl/workspace/datastore.py
  test/integration/output_test.py
  test/validate/eia_test.py
  test/validate/mcoe_test.py
Labels: eia923, eia860, new data, rmi

#1848 Avoid using Shapely v1.8.3 due to upstream bug / incompatibility
  setup.py
Labels: dependencies

#1846 Update eia923 raw inputs to include revisions made by EIA on 2022-08-11
  docs/release_notes.rst
  setup.py
  src/pudl/metadata/codes.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/__init__.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/package_data/eia860/column_maps/boiler_generator_assn.csv
  src/pudl/package_data/eia860m/column_maps/generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/generator_retired.csv
  src/pudl/package_data/eia923/column_maps/boiler_fuel.csv
  src/pudl/package_data/eia923/column_maps/fuel_receipts_costs.csv
  src/pudl/package_data/eia923/column_maps/generation_fuel.csv
  src/pudl/package_data/eia923/column_maps/generator.csv
  src/pudl/transform/eia.py
  src/pudl/workspace/datastore.py
  test/validate/eia_test.py
  test/validate/mcoe_test.py
Labels: eia923, new data

#1836 Add missing columns from EIA spreadsheets
  docs/release_notes.rst
  setup.py
  src/pudl/etl.py
  src/pudl/extract/excel.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/codes.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/__init__.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/package_data/eia860/column_maps/boiler_generator_assn.csv
  src/pudl/package_data/eia860/column_maps/generator.csv
  src/pudl/package_data/eia860/column_maps/generator_existing.csv
  src/pudl/package_data/eia860/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860/column_maps/generator_retired.csv
  src/pudl/package_data/eia860/column_maps/plant.csv
  src/pudl/package_data/eia860/column_maps/utility.csv
  src/pudl/package_data/eia860m/column_maps/generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/generator_retired.csv
  src/pudl/package_data/eia923/column_maps/boiler_fuel.csv
  src/pudl/package_data/eia923/column_maps/fuel_receipts_costs.csv
  src/pudl/package_data/eia923/column_maps/generation_fuel.csv
  src/pudl/package_data/eia923/column_maps/generator.csv
  src/pudl/package_data/eia923/column_maps/plant_frame.csv
  src/pudl/package_data/eia923/column_maps/stocks.csv
  src/pudl/transform/eia.py
  src/pudl/transform/eia860.py
  src/pudl/transform/eia923.py
  src/pudl/workspace/datastore.py
  test/validate/eia_test.py
  test/validate/mcoe_test.py
  tox.ini
Labels: eia923, eia860
