Repository catalyst-cooperative/pudl, pull requests merged in 2023-01, with the labels that each got.

#2119 Transform `f1_accumdepr_prvsn` dbf + xbrl
  docs/release_notes.rst
  setup.py
  src/pudl/etl.py
  src/pudl/extract/ferc1.py
  src/pudl/metadata/dfs.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/package_data/ferc1/dbf_to_xbrl.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
  test/unit/transform/ferc1_test.py
  test/validate/ferc1_test.py
Labels: ferc1, xbrl

#2177 Make transform params stricter 2
  src/pudl/transform/classes.py
  src/pudl/transform/ferc1.py
Labels: ferc1, rmi, xbrl

#2168 Validate the raw ferc1 tables in the settings
  src/pudl/extract/ferc1.py
  src/pudl/helpers.py
  src/pudl/settings.py
  src/pudl/transform/ferc1.py
  test/unit/helpers_test.py
Labels: ferc1, settings

#2184 Integrate `f1_cash_flow` FERC1 table
  docs/release_notes.rst
  src/pudl/extract/ferc1.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/package_data/ferc1/dbf_to_xbrl.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
  test/validate/ferc1_test.py
Labels: ferc1, rmi, xbrl, dbf

#2199 Add direct S3 nightly build download links to README.
  README.rst
Labels: docs
