Repository catalyst-cooperative/pudl, pull requests merged in 2023-08, with the labels that each got.

#2741 Add EIA860, EIA860m, & EIA923 2022 early release data
  docs/release_notes.rst
  src/pudl/analysis/allocate_gen_fuel.py
  src/pudl/glue/ferc1_eia.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/codes.py
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia860/column_maps/boiler_cooling.csv
  src/pudl/package_data/eia860/column_maps/boiler_generator_assn.csv
  src/pudl/package_data/eia860/column_maps/boiler_info.csv
  src/pudl/package_data/eia860/column_maps/boiler_mercury.csv
  src/pudl/package_data/eia860/column_maps/boiler_nox.csv
  src/pudl/package_data/eia860/column_maps/boiler_particulate.csv
  src/pudl/package_data/eia860/column_maps/boiler_so2.csv
  src/pudl/package_data/eia860/column_maps/boiler_stack_flue.csv
  src/pudl/package_data/eia860/column_maps/cooling_equipment.csv
  src/pudl/package_data/eia860/column_maps/emission_control_strategies.csv
  src/pudl/package_data/eia860/column_maps/emissions_control_equipment.csv
  src/pudl/package_data/eia860/column_maps/fgd_equipment.csv
  src/pudl/package_data/eia860/column_maps/fgp_equipment.csv
  src/pudl/package_data/eia860/column_maps/generator_existing.csv
  src/pudl/package_data/eia860/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860/column_maps/generator_retired.csv
  src/pudl/package_data/eia860/column_maps/multifuel_existing.csv
  src/pudl/package_data/eia860/column_maps/multifuel_retired.csv
  src/pudl/package_data/eia860/column_maps/ownership.csv
  src/pudl/package_data/eia860/column_maps/plant.csv
  src/pudl/package_data/eia860/column_maps/stack_flue_equipment.csv
  src/pudl/package_data/eia860/column_maps/utility.csv
  src/pudl/package_data/eia860/file_map.csv
  src/pudl/package_data/eia860/page_map.csv
  src/pudl/package_data/eia860/skipfooter.csv
  src/pudl/package_data/eia860/skiprows.csv
  src/pudl/package_data/eia860m/column_maps/generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860m/column_maps/generator_retired.csv
  src/pudl/package_data/eia860m/file_map.csv
  src/pudl/package_data/eia860m/page_map.csv
  src/pudl/package_data/eia860m/skipfooter.csv
  src/pudl/package_data/eia860m/skiprows.csv
  src/pudl/package_data/eia923/column_maps/boiler_fuel.csv
  src/pudl/package_data/eia923/column_maps/emissions_control.csv
  src/pudl/package_data/eia923/column_maps/fuel_receipts_costs.csv
  src/pudl/package_data/eia923/column_maps/generation_fuel.csv
  src/pudl/package_data/eia923/column_maps/generator.csv
  src/pudl/package_data/eia923/column_maps/plant_frame.csv
  src/pudl/package_data/eia923/column_maps/stocks.csv
  src/pudl/package_data/eia923/file_map.csv
  src/pudl/package_data/eia923/page_map.csv
  src/pudl/package_data/eia923/skipfooter.csv
  src/pudl/package_data/eia923/skiprows.csv
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/glue/utility_id_pudl.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/transform/eia860.py
  src/pudl/workspace/datastore.py
  test/integration/glue_test.py
  test/validate/eia_test.py
Labels: eia923, eia860, new-data

#2778 Fix validation errors for 2022 EIA data
  src/pudl/analysis/mcoe.py
  src/pudl/validate.py
  test/validate/mcoe_test.py
Labels: eia923, eia860, testing, new-data

#2553 Dagsterize MCOE output tables
  docs/release_notes.rst
  migrations/versions/28bb2b27e2cf_add_mcoe_table.py
  src/pudl/analysis/mcoe.py
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/etl/__init__.py
  src/pudl/helpers.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/metadata/resources/mcoe.py
  src/pudl/output/pudltabl.py
  src/pudl/validate.py
  test/integration/output_test.py
  test/validate/mcoe_test.py
  test/validate/plant_parts_eia_test.py
Labels: analysis, dagster

#2782 Eia861 2022
  src/pudl/metadata/codes.py
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia861/column_maps/advanced_metering_infrastructure_eia861.csv
  src/pudl/package_data/eia861/column_maps/balancing_authority_eia861.csv
  src/pudl/package_data/eia861/column_maps/delivery_companies_eia861.csv
  src/pudl/package_data/eia861/column_maps/demand_response_eia861.csv
  src/pudl/package_data/eia861/column_maps/distribution_systems_eia861.csv
  src/pudl/package_data/eia861/column_maps/dynamic_pricing_eia861.csv
  src/pudl/package_data/eia861/column_maps/energy_efficiency_eia861.csv
  src/pudl/package_data/eia861/column_maps/frame_eia861.csv
  src/pudl/package_data/eia861/column_maps/mergers_eia861.csv
  src/pudl/package_data/eia861/column_maps/net_metering_eia861.csv
  src/pudl/package_data/eia861/column_maps/non_net_metering_eia861.csv
  src/pudl/package_data/eia861/column_maps/operational_data_eia861.csv
  src/pudl/package_data/eia861/column_maps/reliability_eia861.csv
  src/pudl/package_data/eia861/column_maps/sales_eia861.csv
  src/pudl/package_data/eia861/column_maps/service_territory_eia861.csv
  src/pudl/package_data/eia861/column_maps/short_form_eia861.csv
  src/pudl/package_data/eia861/column_maps/utility_data_eia861.csv
  src/pudl/package_data/eia861/file_map.csv
  src/pudl/package_data/eia861/page_map.csv
  src/pudl/package_data/eia861/skipfooter.csv
  src/pudl/package_data/eia861/skiprows.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/transform/eia861.py
  src/pudl/workspace/datastore.py
Labels: new-data, eia861

#2779 Integrate 2022 CEMS data
  docs/release_notes.rst
  src/pudl/etl/epacems_assets.py
  src/pudl/extract/epacems.py
  src/pudl/metadata/dfs.py
  src/pudl/metadata/sources.py
  src/pudl/package_data/epacems/additional_epacems_plants.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/transform/epacems.py
  src/pudl/workspace/datastore.py
  test/integration/epacems_test.py
  test/unit/workspace/datastore_test.py
  tox.ini
Labels: epacems, new-data, rmi

#2763 Use all dimensions in `XbrlCalculationForestFerc1` and exploded tables
  migrations/versions/aa872f6d3736_draft_xbrl_calculation_tree.py
  src/pudl/extract/ferc1.py
  src/pudl/output/ferc1.py
  src/pudl/package_data/ferc1/dbf_to_xbrl.csv
  src/pudl/package_data/ferc1/xbrl_calculation_component_fixes.csv
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
  test/unit/output/ferc1_test.py
  test/unit/transform/ferc1_test.py
Labels: ferc1, metadata, xbrl

#2798 Allow a mix of Zenodo sandbox & production DOIs
  README.rst
  docs/dev/datastore.rst
  docs/dev/testing.rst
  src/pudl/cli/etl.py
  src/pudl/ferc_to_sqlite/cli.py
  src/pudl/metadata/classes.py
  src/pudl/resources.py
  src/pudl/workspace/datastore.py
  test/conftest.py
  test/integration/zenodo_datapackage_test.py
  test/unit/workspace/datastore_test.py
Labels: datastore, zenodo

#2320 Update PUDL to pandas 2.0
  migrations/versions/8b3029915ab1_pandas_2_0.py
  pyproject.toml
  src/pudl/analysis/allocate_gen_fuel.py
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/analysis/state_demand.py
  src/pudl/extract/eia_bulk_elec.py
  src/pudl/glue/ferc1_eia.py
  src/pudl/helpers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/constants.py
  src/pudl/metadata/fields.py
  src/pudl/output/censusdp1tract.py
  src/pudl/output/ferc714.py
  src/pudl/transform/eia860.py
  src/pudl/transform/ferc1.py
  test/unit/analysis/plant_parts_eia_test.py
  test/unit/extract/eia_bulk_elec_test.py
  test/unit/helpers_test.py
  test/unit/io_managers_test.py
  test/unit/transform/classes_test.py
  test/unit/transform/ferc1_test.py
  tox.ini
Labels: dependencies, inframundo

#2817 enable FERC explosion tags to be dimension specific
  src/pudl/output/ferc1.py
  src/pudl/package_data/ferc1/xbrl_factoid_rate_base_tags.csv
Labels: ferc1
