Repository catalyst-cooperative/pudl, pull requests merged in 2023-03, with the labels that each got.

#2344 Run nightly builds in dagster-world
  .github/workflows/build-deploy-pudl.yml
  devtools/datasette/publish.sh
  docker/.env
  docker/Dockerfile
  docker/docker-compose.yml
  docker/gcp_pudl_etl.sh
  docker/local_pudl_etl.sh
  docs/dev/nightly_data_builds.rst
  src/pudl/convert/censusdp1tract_to_sqlite.py
  src/pudl/output/censusdp1tract.py
  src/pudl/output/epacems.py
  src/pudl/workspace/setup.py
  test/conftest.py
Labels: inframundo

#2319 Add boiler-associated attributes from EIA 860 6.2 EnvrEquip tables to ETL
  docs/release_notes.rst
  src/pudl/analysis/allocate_net_gen.py
  src/pudl/analysis/mcoe.py
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/metadata/codes.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/__init__.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/output/eia860.py
  src/pudl/output/eia923.py
  src/pudl/output/pudltabl.py
  src/pudl/package_data/eia860/column_maps/boiler_info.csv
  src/pudl/package_data/eia860/column_maps/boiler_particulate.csv
  src/pudl/package_data/eia860/column_maps/emission_control_strategies.csv
  src/pudl/package_data/eia860/column_maps/emissions_control_equipment.csv
  src/pudl/package_data/eia860/column_maps/fgp_equipment.csv
  src/pudl/package_data/eia860/column_maps/generator.csv
  src/pudl/package_data/eia860/column_maps/generator_existing.csv
  src/pudl/package_data/eia860/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860/column_maps/generator_retired.csv
  src/pudl/package_data/eia860/column_maps/multifuel_existing.csv
  src/pudl/package_data/eia860/column_maps/multifuel_retired.csv
  src/pudl/package_data/eia860/file_map.csv
  src/pudl/package_data/eia860/page_map.csv
  src/pudl/package_data/eia860/skipfooter.csv
  src/pudl/package_data/eia860/skiprows.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/transform/eia.py
  src/pudl/transform/eia860.py
  test/integration/output_test.py
  test/unit/analysis/allocate_net_gen_test.py
  test/unit/analysis/plant_parts_eia_test.py
  test/validate/eia_test.py
  test/validate/mcoe_test.py
Labels: eia860, harvest, inframundo

#2353 Merge `dev` into `dagster-asset-etl` once again
  .pre-commit-config.yaml
  README.rst
  docs/release_notes.rst
  setup.py
  src/pudl/analysis/allocate_net_gen.py
  src/pudl/analysis/mcoe.py
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/extract/eia860.py
  src/pudl/extract/excel.py
  src/pudl/glue/epacamd_eia.py
  src/pudl/metadata/codes.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/__init__.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/metadata/resources/glue.py
  src/pudl/output/eia860.py
  src/pudl/output/eia923.py
  src/pudl/output/pudltabl.py
  src/pudl/package_data/eia860/column_maps/boiler_info.csv
  src/pudl/package_data/eia860/column_maps/boiler_particulate.csv
  src/pudl/package_data/eia860/column_maps/emission_control_strategies.csv
  src/pudl/package_data/eia860/column_maps/emissions_control_equipment.csv
  src/pudl/package_data/eia860/column_maps/fgp_equipment.csv
  src/pudl/package_data/eia860/column_maps/generator.csv
  src/pudl/package_data/eia860/column_maps/generator_existing.csv
  src/pudl/package_data/eia860/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860/column_maps/generator_retired.csv
  src/pudl/package_data/eia860/column_maps/multifuel_existing.csv
  src/pudl/package_data/eia860/column_maps/multifuel_retired.csv
  src/pudl/package_data/eia860/file_map.csv
  src/pudl/package_data/eia860/page_map.csv
  src/pudl/package_data/eia860/skipfooter.csv
  src/pudl/package_data/eia860/skiprows.csv
  src/pudl/transform/classes.py
  src/pudl/transform/eia.py
  src/pudl/transform/eia860.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
  src/pudl/workspace/datastore.py
  test/integration/output_test.py
  test/unit/analysis/allocate_net_gen_test.py
  test/unit/analysis/plant_parts_eia_test.py
  test/unit/transform/classes_test.py
  test/validate/eia_test.py
  test/validate/epacamd_eia_test.py
  test/validate/ferc1_test.py
  test/validate/mcoe_test.py
Labels: inframundo

#2363 Make nightly build message a little cleaner.
  docker/gcp_pudl_etl.sh
Labels: inframundo

#2364 Add EIA 860 EnviroAssoc/EnviroEquip boiler and emissions control attributes
  docs/release_notes.rst
  setup.py
  src/pudl/analysis/allocate_net_gen.py
  src/pudl/analysis/mcoe.py
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/metadata/codes.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/__init__.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/output/eia860.py
  src/pudl/output/eia923.py
  src/pudl/output/pudltabl.py
  src/pudl/package_data/eia860/column_maps/boiler_info.csv
  src/pudl/package_data/eia860/column_maps/boiler_particulate.csv
  src/pudl/package_data/eia860/column_maps/emission_control_strategies.csv
  src/pudl/package_data/eia860/column_maps/emissions_control_equipment.csv
  src/pudl/package_data/eia860/column_maps/fgp_equipment.csv
  src/pudl/package_data/eia860/column_maps/generator.csv
  src/pudl/package_data/eia860/column_maps/generator_existing.csv
  src/pudl/package_data/eia860/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860/column_maps/generator_retired.csv
  src/pudl/package_data/eia860/column_maps/multifuel_existing.csv
  src/pudl/package_data/eia860/column_maps/multifuel_retired.csv
  src/pudl/package_data/eia860/file_map.csv
  src/pudl/package_data/eia860/page_map.csv
  src/pudl/package_data/eia860/skipfooter.csv
  src/pudl/package_data/eia860/skiprows.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/transform/eia.py
  src/pudl/transform/eia860.py
  test/integration/output_test.py
  test/unit/analysis/allocate_net_gen_test.py
  test/unit/analysis/plant_parts_eia_test.py
  test/validate/eia_test.py
  test/validate/mcoe_test.py
Labels: eia860

#2367 Fix inconsistently reported leading zeros in EIA boiler id
  docs/release_notes.rst
  src/pudl/extract/eia860.py
  src/pudl/extract/eia860m.py
  src/pudl/extract/eia861.py
  src/pudl/extract/eia923.py
  src/pudl/glue/epacamd_eia.py
  src/pudl/settings.py
  test/validate/eia_test.py
  test/validate/mcoe_test.py
  tox.ini
Labels: eia923, eia860, data-cleaning, eia861, inframundo

#2354 Consolidate EPA CEMS parquet files
  docker/gcp_pudl_etl.sh
  docker/local_pudl_etl.sh
  src/pudl/cli.py
  src/pudl/convert/epacems_to_parquet.py
  src/pudl/etl/epacems_assets.py
  src/pudl/etl/output_assets.py
  src/pudl/io_managers.py
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/settings.py
  test/conftest.py
  test/integration/epacems_test.py
Labels: epacems, parquet, inframundo

#2375 Reorder PK of boilers_eia860 to group data like other tables
  src/pudl/metadata/resources/eia860.py
Labels: eia860, inframundo

#2388 Move `--no-sign-request` to the end of the command in the nightly_data_build docs
  docs/dev/nightly_data_builds.rst
Labels: docs

#2382 Bump allowed range of Dagster versions to >=1.1,<1.3
  .pre-commit-config.yaml
  setup.py
  src/pudl/helpers.py
  src/pudl/io_managers.py
Labels: dependencies, dagster, inframundo

#2393 Dagster filter table schemas
  src/pudl/cli.py
  src/pudl/helpers.py
  src/pudl/io_managers.py
  src/pudl/metadata/classes.py
Labels: dagster, inframundo

#2306 Dagster ETL documentation
  .github/workflows/tox-pytest.yml
  devtools/environment.yml
  docs/conf.py
  docs/dev/clone_ferc1.rst
  docs/dev/dev_setup.rst
  docs/dev/run_the_etl.rst
  docs/images/dagit_home.png
  docs/images/dagit_pudl_etl.png
  docs/release_notes.rst
  setup.py
  src/pudl/etl/__init__.py
  src/pudl/etl/check_foreign_keys.py
  src/pudl/extract/ferc1.py
  src/pudl/extract/xbrl.py
  src/pudl/ferc_to_sqlite/__init__.py
  src/pudl/io_managers.py
  src/pudl/resources.py
  src/pudl/workspace/setup.py
Labels: docs, dagster, inframundo

#2362 Move `prime_mover_code` back into `boiler_fuel_eia923`
  docs/release_notes.rst
  src/pudl/analysis/allocate_net_gen.py
  src/pudl/metadata/resources/__init__.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia923.py
  src/pudl/output/eia923.py
  src/pudl/transform/eia923.py
  test/validate/eia_test.py
  test/validate/mcoe_test.py
Labels: eia923, inframundo

#2411 Standardize asset group and asset module names
  src/pudl/etl/__init__.py
  src/pudl/etl/analysis_assets.py
  src/pudl/etl/denormalized_assets.py
  src/pudl/etl/eia_bulk_elec_assets.py
  src/pudl/helpers.py
  src/pudl/transform/eia.py
Labels: dagster

#2413 integrate Ella's NextEra FERC-EIA mannual matches
  src/pudl/package_data/glue/ferc1_eia_null.csv
  src/pudl/package_data/glue/ferc1_eia_train.csv
Labels: glue, ferc1, eia860, rmi

#2416 Rename check_pudl_fks to pudl_check_fks to align w/ other CLI names
  docs/dev/run_the_etl.rst
  setup.py
  src/pudl/etl/check_foreign_keys.py
Labels: cli

#2379 add new duke training data for FERC-EIA record linkage
  src/pudl/package_data/glue/ferc1_eia_null.csv
  src/pudl/package_data/glue/ferc1_eia_train.csv
Labels: rmi

#2428 Pin grpcio==1.46.1 (arm64 compatible version available on conda-forge)
  setup.py
Labels: dependencies, dagster

#2356 Convert devtools notebooks to use dagster concepts
  devtools/eia-etl-debug.ipynb
  devtools/ferc1-etl-debug.ipynb
  devtools/harvesting_debug.ipynb
  devtools/inspect-assets.ipynb
  src/pudl/extract/ferc1.py
  src/pudl/helpers.py
  src/pudl/transform/ferc1.py
  test/conftest.py
  test/integration/etl_test.py
Labels: dagster, inframundo

#2421 Convert FERC-714 ETL to use Dagster
  README.rst
  docs/conf.py
  docs/data_sources/index.rst
  docs/data_sources/wip_future.rst
  docs/dev/annual_updates.rst
  docs/intro.rst
  docs/release_notes.rst
  docs/templates/data_source_parent.rst.jinja
  docs/templates/ferc714_child.rst.jinja
  src/pudl/etl/__init__.py
  src/pudl/extract/ferc714.py
  src/pudl/io_managers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/constants.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc714.py
  src/pudl/metadata/sources.py
  src/pudl/output/pudltabl.py
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/settings.py
  src/pudl/transform/ferc714.py
  test/integration/glue_test.py
  test/integration/output_test.py
Labels: ferc714, dagster

#2440 Simplify EPA CAMD EIA X-walk output to just read from DB.
  src/pudl/output/epacems.py
  src/pudl/output/pudltabl.py
Labels: glue, eia860, output, epacems

#2441 Add new settings file behavior in docs
  docs/dev/run_the_etl.rst
Labels: docs, dagster

#2403 Convert EIA-861 ETL to use Dagster
  .pre-commit-config.yaml
  README.rst
  docs/conf.py
  docs/data_sources/index.rst
  docs/data_sources/wip_future.rst
  docs/dev/annual_updates.rst
  docs/further_reading.bib
  docs/intro.rst
  docs/release_notes.rst
  docs/templates/data_source_parent.rst.jinja
  docs/templates/eia860_child.rst.jinja
  docs/templates/eia861_child.rst.jinja
  docs/templates/eia923_child.rst.jinja
  docs/templates/ferc714_child.rst.jinja
  src/pudl/etl/__init__.py
  src/pudl/extract/eia861.py
  src/pudl/extract/ferc714.py
  src/pudl/io_managers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/constants.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/labels.py
  src/pudl/metadata/resources/__init__.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/metadata/resources/eia861.py
  src/pudl/metadata/resources/eia923.py
  src/pudl/metadata/resources/ferc714.py
  src/pudl/metadata/sources.py
  src/pudl/output/epacems.py
  src/pudl/output/pudltabl.py
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/settings.py
  src/pudl/transform/classes.py
  src/pudl/transform/eia861.py
  src/pudl/transform/eia923.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/ferc714.py
  src/pudl/workspace/setup.py
  test/integration/glue_test.py
  test/integration/output_test.py
Labels: eia861, dagster, inframundo

#2447 Integrate EIA-923 Annual Environmental Information (Schedule 8C) spreadsheet maps
  src/pudl/extract/eia923.py
  src/pudl/metadata/fields.py
  src/pudl/package_data/eia923/column_maps/emissions_control.csv
  src/pudl/package_data/eia923/file_map.csv
  src/pudl/package_data/eia923/page_map.csv
  src/pudl/package_data/eia923/skipfooter.csv
  src/pudl/package_data/eia923/skiprows.csv
Labels: eia923, new-data

#2463 `dev` -> `main` 2023-03-28
  .pre-commit-config.yaml
  README.rst
  docs/conf.py
  docs/data_sources/index.rst
  docs/data_sources/wip_future.rst
  docs/dev/annual_updates.rst
  docs/further_reading.bib
  docs/intro.rst
  docs/release_notes.rst
  docs/templates/data_source_parent.rst.jinja
  docs/templates/eia860_child.rst.jinja
  docs/templates/eia861_child.rst.jinja
  docs/templates/eia923_child.rst.jinja
  docs/templates/ferc714_child.rst.jinja
  setup.py
  src/pudl/etl/__init__.py
  src/pudl/extract/eia861.py
  src/pudl/extract/eia923.py
  src/pudl/extract/ferc714.py
  src/pudl/io_managers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/constants.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/labels.py
  src/pudl/metadata/resources/__init__.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/metadata/resources/eia861.py
  src/pudl/metadata/resources/eia923.py
  src/pudl/metadata/resources/ferc714.py
  src/pudl/metadata/sources.py
  src/pudl/output/epacems.py
  src/pudl/output/pudltabl.py
  src/pudl/package_data/eia923/column_maps/emissions_control.csv
  src/pudl/package_data/eia923/file_map.csv
  src/pudl/package_data/eia923/page_map.csv
  src/pudl/package_data/eia923/skipfooter.csv
  src/pudl/package_data/eia923/skiprows.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/settings.py
  src/pudl/transform/classes.py
  src/pudl/transform/eia861.py
  src/pudl/transform/eia923.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/ferc714.py
  src/pudl/workspace/setup.py
  test/integration/glue_test.py
  test/integration/output_test.py
Labels: new-data, ferc714, eia861, dagster

#2331 Throw error if database metadata has changed
  setup.py
  src/pudl/io_managers.py
  test/unit/io_managers_test.py
Labels: sqlite, dagster, inframundo

#2450 Untangle eia_transform / harvesting / bga multi-asset
  devtools/debug-eia-etl.ipynb
  devtools/debug-ferc1-etl.ipynb
  devtools/debug-harvesting.ipynb
  devtools/harvesting_debug.ipynb
  devtools/inspect-assets.ipynb
  setup.py
  src/pudl/etl/check_foreign_keys.py
  src/pudl/metadata/resources/__init__.py
  src/pudl/settings.py
  src/pudl/transform/eia.py
  src/pudl/transform/eia923.py
  test/integration/jupyter_notebooks_test.py
  tox.ini
Labels: eia923, eia860, harvest, dagster

#2466 Create `PudlSQLiteIOManager` to accept a `Package` object
  src/pudl/io_managers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/epacems.py
  src/pudl/metadata/resources/ferc1.py
Labels: sqlite, dagster

#2408 Update PUDL from Python 3.10 to 3.11
  .pre-commit-config.yaml
  devtools/environment.yml
  devtools/materialize_asset.py
  docs/docs-environment.yml
  docs/release_notes.rst
  pyproject.toml
  setup.py
  src/pudl/analysis/ferc1_eia.py
  src/pudl/etl/__init__.py
  src/pudl/ferc_to_sqlite/__init__.py
  src/pudl/workspace/setup.py
  test/test-environment.yml
Labels: dependencies

#2459 Use enforce_schema() and read-chunking in PudlSQLiteIOManager.
  src/pudl/io_managers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/constants.py
  test/unit/io_managers_test.py
Labels: output, sqlite, performance, data-types, dagster
