Repository catalyst-cooperative/pudl, pull requests merged in 2023-06, with the labels that each got.

#2620 Add records correcting FERC 1 calculations that are off
  devtools/debug-ferc1-etl.ipynb
  migrations/versions/9680af0e1432_update_row_type_xbrl_enum.py
  migrations/versions/cc04ea89a4c8_change_denorm_plant_in_service_pk.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
Labels: ferc1, data-repair, metadata, rmi, xbrl

#2587 Boiler cooler stack flue association tables
  migrations/versions/d2be2b6102aa_add_schema_for_boiler_cooling_assn_.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/output/pudltabl.py
  src/pudl/transform/eia.py
  src/pudl/transform/eia860.py
  test/validate/eia_test.py
Labels: eia860, rmi

#2634 Update max rows for boils_eia860, plants_eia860, and pu_eia860 tables…
  test/validate/eia_test.py
Labels: eia860

#2637 Add business_model, service_type to sales_eia861 PK
  migrations/versions/29d443aadf25_update_after_changes_to_dev.py
  migrations/versions/5b87e23a41c6_initial_schema_dump.py
  migrations/versions/91358c4810b5_add_schema_for_emissions_control_tables.py
  migrations/versions/92780dd3d879_start_over_with_new_pk_in_sales_eia861.py
  migrations/versions/9ab4befcc33a_merge_migrations.py
  migrations/versions/d2be2b6102aa_add_schema_for_boiler_cooling_assn_.py
  migrations/versions/e878ec83ceb5_add_report_year_to_epacamd_eia_table.py
  src/pudl/metadata/resources/eia861.py
  src/pudl/transform/eia861.py
Labels: eia861

#2564 Integrate FERC Form 2 dbf formats into ferc_to_sqlite
  devtools/datasette/publish.sh
  src/pudl/extract/dbf.py
  src/pudl/extract/ferc.py
  src/pudl/extract/ferc1.py
  src/pudl/extract/ferc2.py
  src/pudl/extract/xbrl.py
  src/pudl/ferc_to_sqlite/__init__.py
  src/pudl/ferc_to_sqlite/cli.py
  src/pudl/metadata/sources.py
  src/pudl/package_data/ferc2/dbc_file_map.csv
  src/pudl/package_data/ferc2/table_file_map.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/settings.py
  src/pudl/workspace/datastore.py
  test/conftest.py
  test/integration/etl_test.py
  test/integration/ferc_dbf_extract_test.py
  test/unit/workspace/datastore_test.py
Labels: ferc2, dbf

#2563 Rename and test XBRL metadata calculations
  devtools/debug-ferc1-etl.ipynb
  migrations/versions/88d9201ae4c4_update_schema_for_ferc1_exploder.py
  pyproject.toml
  src/pudl/extract/ferc1.py
  src/pudl/glue/ferc1_eia.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
  test/conftest.py
Labels: ferc1, metadata, rmi, xbrl

#2651 Use PUDL_INPUT not hard-coded data dir in datastore CLI
  src/pudl/workspace/datastore.py
Labels: cli, ferc2

#2652 Fix ferc2 full etl integration test issues
  src/pudl/package_data/ferc2/dbc_file_map.csv
  test/integration/ferc_dbf_extract_test.py
Labels: testing, ferc2

#2648 Manage duplicate PKs in EIA-861 table transforms
  src/pudl/transform/eia861.py
Labels: data-cleaning, eia861

#2644 Read EIA860 data in parallel
  src/pudl/extract/eia860.py
Labels: eia860, dagster

#2595 Integrate FERC Form 6 from dbf
  docs/release_notes.rst
  src/pudl/extract/dbf.py
  src/pudl/extract/ferc.py
  src/pudl/extract/ferc1.py
  src/pudl/extract/ferc2.py
  src/pudl/extract/ferc6.py
  src/pudl/ferc_to_sqlite/__init__.py
  src/pudl/metadata/sources.py
  src/pudl/package_data/ferc6/dbc_file_map.csv
  src/pudl/package_data/ferc6/table_file_map.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/settings.py
Labels: sqlite, dbf, ferc6

#2645 Fix `retained_earnings_ferc1` transform
  docs/release_notes.rst
  migrations/versions/cd70aa9ce4e9_remove_amount_column_from_retained_.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
Labels: rmi, xbrl

#2664 Tweaks to emissions control equipment table
  migrations/versions/3c458b36094e_start_over_with_new_pk_in_emissions_.py
  migrations/versions/88d9201ae4c4_update_schema_for_ferc1_exploder.py
  src/pudl/metadata/codes.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/package_data/eia860/column_maps/emissions_control_equipment.csv
  src/pudl/transform/eia860.py
Labels: eia860, data-cleaning, metadata

#2675 Upgrade to ferc-xbrl-extractor v0.8.3
  pyproject.toml
Labels: dependencies

#2550 Convert EIA-861 and FERC 714 service territory outputs to Dagster assets
  docs/release_notes.rst
  migrations/versions/1ec25c296a6d_add_service_terrtory_ferc714_state_.py
  src/pudl/analysis/service_territory.py
  src/pudl/analysis/state_demand.py
  src/pudl/etl/__init__.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/metadata/resources/eia861.py
  src/pudl/metadata/resources/ferc714.py
  src/pudl/metadata/resources/pudl.py
  src/pudl/output/ferc714.py
  src/pudl/output/pudltabl.py
  test/integration/output_test.py
  test/validate/service_territory_test.py
  test/validate/state_demand_test.py
Labels: service-territories, dagster

#2690 Update plant_in_service_ferc1 expected row count
  test/validate/ferc1_test.py
Labels: ferc1, testing

#2691 Fix apparent typos in FERC 1 rename params.
  src/pudl/transform/params/ferc1.py
Labels: bug, ferc1, xbrl, dbf
