Repository catalyst-cooperative/pudl, pull requests merged in 2023-05, with the labels that each got.

#2451 Improve dagster docs
  docs/dev/dev_dagster.rst
  docs/dev/index.rst
  docs/dev/run_the_etl.rst
  docs/images/dagit_logs.png
  docs/images/dataset_settings_config.png
  docs/images/reload_code_locations.png
  docs/images/run_logs.png
Labels: docs, dagster

#2565 Fix income_statement_ferc1 utility_type categorization bug
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
Labels: ferc1, rmi, xbrl

#2580 Use multiple years in crosswalk
  migrations/versions/e878ec83ceb5_add_report_year_to_epacamd_eia_table.py
  src/pudl/etl/glue_assets.py
  src/pudl/metadata/resources/glue.py
  test/unit/transform/glue_test.py
  test/validate/epacamd_eia_test.py
Labels: rmi

#2561 Emission control table
  docs/release_notes.rst
  migrations/versions/91358c4810b5_add_schema_for_emissions_control_tables.py
  src/pudl/helpers.py
  src/pudl/metadata/codes.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/output/eia860.py
  src/pudl/output/pudltabl.py
  src/pudl/transform/eia.py
  src/pudl/transform/eia860.py
  test/unit/helpers_test.py
  test/validate/eia_test.py
Labels: eia860, rmi

#2594 Allow JupyterLab v4.0.0 in pudl-dev environment.
  devtools/environment.yml
Labels: dependencies

#2602 Fix rouge operational status codes causing foreign key failure
  src/pudl/metadata/codes.py
Labels: eia860, data-repair

#2617 Add encoding step to the transform step for the emissions_control_equ…
  src/pudl/transform/eia860.py
Labels: eia860, data-cleaning
