Repository catalyst-cooperative/pudl, pull requests merged in 2023-09, with the labels that each got.

#2835 Add generator to the retirement_year / _month columns for the monthly…
  docs/release_notes.rst
  src/pudl/package_data/eia860m/column_maps/generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/generator_retired.csv
Labels: bug, eia860

#2837 Fix docker builds
  .github/workflows/docker-build-test.yml
  docker/Dockerfile
  pyproject.toml
  test/test-environment.yml
Labels: nightly-builds

#2832 Convert the FERC exploded forest to a table for readability
  .github/workflows/tox-pytest.yml
  .github/workflows/zenodo-cache-sync.yml
  src/pudl/convert/censusdp1tract_to_sqlite.py
  src/pudl/output/ferc1.py
Labels: ferc1

#2851 Fix missing keywords in archived datasources
  src/pudl/metadata/constants.py
  src/pudl/metadata/sources.py
Labels: metadata

#2855 Expand multi-dimensional totals correctly
  .gitignore
  src/pudl/output/ferc1.py
  src/pudl/transform/ferc1.py
  test/unit/transform/ferc1_test.py
Labels: ferc1, xbrl

#2866 Remove libabseil version pins since gdal & geopandas have new versions.
  devtools/environment.yml
  test/test-environment.yml
Labels: dependencies

#2805 Make leafy balance sheet assets & liabilities data
  .github/workflows/zenodo-cache-sync.yml
  .pre-commit-config.yaml
  src/pudl/convert/censusdp1tract_to_sqlite.py
  src/pudl/output/ferc1.py
  src/pudl/package_data/ferc1/xbrl_factoid_rate_base_tags.csv
  src/pudl/transform/ferc1.py
  test/unit/transform/ferc1_test.py
  tox.ini
Labels: ferc1, metadata, xbrl

#2633 💥 FERC feature branch 💥 : FERC tables post caclulation validation by concat-ing & deduping
  .github/workflows/zenodo-cache-sync.yml
  .gitignore
  .pre-commit-config.yaml
  migrations/versions/b5226cb31143_pandas2_explode_ferc1.py
  pyproject.toml
  src/pudl/convert/censusdp1tract_to_sqlite.py
  src/pudl/extract/ferc1.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/output/ferc1.py
  src/pudl/package_data/ferc1/dbf_to_xbrl.csv
  src/pudl/package_data/ferc1/xbrl_calculation_component_fixes.csv
  src/pudl/package_data/ferc1/xbrl_factoid_rate_base_tags.csv
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
  test/unit/io_managers_test.py
  test/unit/output/ferc1_test.py
  test/unit/transform/ferc1_test.py
  tox.ini
Labels: ferc1, metadata, xbrl

#2884 Add PHMSA Natural Gas annual report DOI to datastore.
  .github/workflows/zenodo-cache-sync.yml
  .gitignore
  src/pudl/workspace/datastore.py
Labels: datastore, new-data, phmsa, zenodo

#2890 Fix inter-table 1:1 dimensions in calculations for XBRL explosion
  src/pudl/package_data/ferc1/xbrl_calculation_component_fixes.csv
Labels: rmi, xbrl

#2714 Dagsterize `mega_generators` and `plant_parts_eia`
  docs/release_notes.rst
  migrations/versions/13b9fb61c466_add_ppe_and_harvest_owner_utils.py
  migrations/versions/273a78878b74_purchased_storage_mwh.py
  src/pudl/analysis/ferc1_eia.py
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/etl/__init__.py
  src/pudl/helpers.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/__init__.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/output/eia860.py
  src/pudl/output/pudltabl.py
  src/pudl/package_data/glue/utility_id_pudl.csv
  src/pudl/transform/eia.py
  src/pudl/transform/eia860.py
  test/integration/output_test.py
  test/unit/analysis/plant_parts_eia_test.py
  test/validate/eia_test.py
  test/validate/mcoe_test.py
Labels: ccai
