Repository catalyst-cooperative/pudl, pull requests merged in 2023-07, with the labels that each got.

#2527 Convert EIA generation and fuel allocations to Dagster
  docs/release_notes.rst
  migrations/versions/8c0a49eb9098_dagsterize_net_gen_allocation_revision.py
  migrations/versions/e2670d0ec0eb_.py
  src/pudl/analysis/__init__.py
  src/pudl/analysis/allocate_gen_fuel.py
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/etl/__init__.py
  src/pudl/helpers.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/allocate_gen_fuel.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/output/eia923.py
  src/pudl/output/pudltabl.py
  src/pudl/transform/eia.py
  src/pudl/transform/eia923.py
  src/pudl/validate.py
  test/integration/output_test.py
  test/unit/analysis/allocate_gen_fuel_test.py
  test/unit/analysis/plant_parts_eia_test.py
  test/validate/eia_test.py
  test/validate/mcoe_test.py
Labels: eia923, analysis, dagster

#2719 Remove refs to 2i2c JupyterHub. Move nightly build links to data access page
  README.rst
  docs/data_access.rst
Labels: docs, jupyterhub

#2653 Organize FERC 1 XBRL metadata with a calculation forest
  migrations/versions/1ec25c296a6d_add_service_terrtory_ferc714_state_.py
  migrations/versions/42cd9a3cd656_update_db.py
  migrations/versions/4806a28e8863_add_in_row_type_xbrl_to_the_.py
  migrations/versions/87b70fc62606_add_utility_type_to_explosion_tables.py
  migrations/versions/8c00e57bb0a2_draft_xbrl_calculation_tree.py
  migrations/versions/8c0a49eb9098_dagsterize_net_gen_allocation_revision.py
  migrations/versions/9a32db1fbe6e_rename_to_dollar_amount.py
  migrations/versions/e608f95a3b78_drop_amount_from_retained_earnings.py
  src/pudl/output/ferc1.py
  src/pudl/package_data/ferc1/xbrl_factoid_rate_base_tags.csv
  src/pudl/transform/ferc1.py
  test/unit/output/ferc1_test.py
  tox.ini
Labels: ferc1, metadata, xbrl

#2721 Make a calculation component table and use in the inter-table/inter-dimension checking
  src/pudl/output/ferc1.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
  test/unit/output/ferc1_test.py
  test/unit/transform/ferc1_test.py
Labels: ferc1, metadata, rmi, xbrl

#2739 Add old FERC 60 DBF data to the Datasette deployment.
  devtools/datasette/publish.sh
Labels: datasette, dbf, ferc60

#2725 Fix small typos
  docs/dev/data_guidelines.rst
  src/pudl/output/eia923.py
Labels: docs

#2753 Add parent dimensions into calculation component table
  src/pudl/output/ferc1.py
  src/pudl/transform/ferc1.py
  test/unit/transform/ferc1_test.py
Labels: ferc1, metadata, xbrl

#2750 Add FERC60 to data access docs
  docs/data_access.rst
Labels: sqlite, nightly-builds

#2754 Don't drop leaf calculation components from calc comps table.
  src/pudl/transform/ferc1.py
Labels: ferc1, metadata, xbrl

#2728 Clean-up XBRL calculation fixes
  src/pudl/output/ferc1.py
  src/pudl/package_data/ferc1/xbrl_calculation_component_fixes.csv
  src/pudl/transform/ferc1.py
  test/unit/transform/ferc1_test.py
Labels: ferc1, data-repair, metadata, xbrl
