Repository catalyst-cooperative/pudl, pull requests merged in 2023-10, with the labels that each got.

#2886 standardize the calc checks for the total to subtotal calcs
  src/pudl/output/ferc1.py
  src/pudl/transform/ferc1.py
  test/unit/transform/ferc1_test.py
Labels: ferc1, xbrl

#2821 Extract more data from FERC XBRLs and handle that new data in ETL
  docs/dev/testing.rst
  docs/pudl/pudl-etl.dot
  pyproject.toml
  src/pudl/analysis/ferc1_eia_train.py
  src/pudl/extract/xbrl.py
  src/pudl/metadata/classes.py
  src/pudl/output/ferc714.py
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/transform/classes.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
  src/pudl/workspace/datastore.py
  test/conftest.py
  test/unit/extract/xbrl_test.py
  test/validate/ferc1_test.py
  tox.ini
Labels: ferc1, xbrl

#2923 Remove libsnappy binary dependency
  devtools/environment.yml
  docs/docs-environment.yml
  test/test-environment.yml
Labels: dependencies

#2933 Unpin croniter as package metadata has been fixed.
  pyproject.toml
Labels: dependencies

#2938 dagsterification of ferc1_eia
  docs/release_notes.rst
  migrations/versions/f11241c9292d_add_my_cool_ferc1_eia_table.py
  src/pudl/analysis/__init__.py
  src/pudl/analysis/classify_plants_ferc1.py
  src/pudl/analysis/ferc1_eia_record_linkage.py
  src/pudl/etl/__init__.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/ferc1_eia_record_linkage.py
  src/pudl/output/pudltabl.py
  src/pudl/package_data/glue/ferc1_eia_null.csv
  src/pudl/package_data/glue/ferc1_eia_train.csv
  test/integration/ferc1_eia_train_test.py
Labels: eia923, ferc1, eia860, dagster

#2943 Parallelize extraction of Excel spreadsheets
  docs/release_notes.rst
  src/pudl/extract/eia860.py
  src/pudl/extract/eia861.py
  src/pudl/extract/eia923.py
  src/pudl/extract/excel.py
  src/pudl/settings.py
  test/unit/extract/excel_test.py
Labels: dagster, excel

#2950 Hotfix docker build by setting LD_LIBRARY_PATH
  docker/Dockerfile
Labels: cloud, dependencies, nightly-builds

#2901 Set up reproducible Python environments with conda-lock
  .github/workflows/tox-pytest.yml
  .github/workflows/update-lockfile.yml
  .github/workflows/zenodo-cache-sync.yml
  .gitignore
  .readthedocs.yaml
  devtools/environment.yml
  docker-compose.yml
  docker/Dockerfile
  docs/docs-environment.yml
  environments/conda-linux-64.lock
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock
  environments/conda-osx-arm64.lock.yml
  environments/conda-win-64.lock
  environments/conda-win-64.lock.yml
  environments/readthedocs-linux-64.conda.lock.yml
  pyproject.toml
  test/test-environment.yml
  tox.ini
Labels: dependencies

#2947 FERC1 2022 report year fix
  src/pudl/helpers.py
  src/pudl/io_managers.py
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/transform/ferc1.py
  src/pudl/validate.py
  test/integration/etl_test.py
  test/unit/io_managers_test.py
  test/unit/transform/ferc1_test.py
  test/validate/ferc1_test.py
Labels: ferc1, new-data, xbrl

#2915 Improve calculation error checking
  pyproject.toml
  src/pudl/output/ferc1.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
  test/unit/transform/ferc1_test.py
Labels: ferc1, testing, xbrl
