Repository catalyst-cooperative/pudl, pull requests merged in 2023-04, with the labels that each got.

#2479 Move project metadata & build specs from setup.py to pyproject.toml
  MANIFEST.in
  pyproject.toml
  setup.py
  tox.ini
Labels: packaging

#2472 Parallelize Dagster processing of EPA CEMS
  src/pudl/cli.py
  src/pudl/convert/epacems_to_parquet.py
  src/pudl/etl/epacems_assets.py
  test/conftest.py
Labels: epacems, performance, parquet, dagster

#2488 Retry on md5 mismatch in GCS
  src/pudl/workspace/resource_cache.py
Labels: zenodo, cloud

#2432 Parallelize tests
  .github/workflows/tox-pytest.yml
  src/pudl/workspace/datastore.py
  test/conftest.py
  tox.ini
Labels: testing, performance

#2492 Use FERC XBRL Extractor 0.8.2 to allow pandas 2.0
  pyproject.toml
Labels: ferc1, dependencies, xbrl

#2445 Create simple SQL view assets
  MANIFEST.in
  devtools/python-output-table-conversion-debug.ipynb
  src/pudl/etl/__init__.py
  src/pudl/io_managers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/metadata/resources/epacems.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/output/__init__.py
  src/pudl/output/denorm_eia.py
  src/pudl/output/denorm_ferc1.py
  src/pudl/output/eia860.py
  src/pudl/output/ferc1.py
  src/pudl/output/pudltabl.py
  src/pudl/output/sql/__init__.py
  src/pudl/output/sql/denorm_plants_utilities_ferc1.sql
  src/pudl/output/sql/helpers.py
  test/unit/helpers_test.py
  test/unit/io_managers_test.py
Labels: output, sqlite, metadata, dagster

#2498 Create Dynamic PudlTabl methods
  devtools/python-output-table-conversion-debug.ipynb
  docs/release_notes.rst
  src/pudl/metadata/resources/ferc1.py
  src/pudl/output/denorm_ferc1.py
  src/pudl/output/pudltabl.py
  src/pudl/workspace/resource_cache.py
  test/integration/output_test.py
Labels: output, dagster

#2429 Add 1:m matches into plant_parts_eia
  docs/release_notes.rst
  src/pudl/analysis/ferc1_eia.py
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia.py
  src/pudl/package_data/glue/ferc1_eia_null.csv
  src/pudl/package_data/glue/ferc1_eia_one_to_many.csv
  src/pudl/package_data/glue/ferc1_eia_one_to_many_orig.csv
  src/pudl/package_data/test/test_one_to_many.csv
  test/unit/analysis/plant_parts_eia_test.py
  test/validate/plant_parts_eia_test.py
Labels: glue, rmi

#2519 Dagsterize EIA output tables
  .gitignore
  devtools/python-output-table-conversion-debug.ipynb
  src/pudl/analysis/allocate_net_gen.py
  src/pudl/etl/__init__.py
  src/pudl/etl/denormalized_assets.py
  src/pudl/helpers.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/metadata/resources/eia923.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/output/__init__.py
  src/pudl/output/denorm_eia.py
  src/pudl/output/eia.py
  src/pudl/output/eia860.py
  src/pudl/output/eia923.py
  src/pudl/output/eia_bulk_elec.py
  src/pudl/output/new_ferc1.py
  src/pudl/output/pudltabl.py
  src/pudl/transform/eia.py
  src/pudl/transform/eia923.py
  test/integration/output_test.py
  test/validate/eia860_test.py
  test/validate/eia_test.py
Labels: eia923, eia860, output, dagster

#2521 Ferc output conversion
  docs/release_notes.rst
  src/pudl/etl/__init__.py
  src/pudl/extract/__init__.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/output/__init__.py
  src/pudl/output/ferc1.py
  src/pudl/output/new_ferc1.py
  src/pudl/output/pudltabl.py
  test/validate/fbp_ferc1_test.py
  test/validate/fuel_ferc1_test.py
  test/validate/plants_steam_ferc1_test.py
Labels: ferc1, output, dagster

#2491 Flesh-out the Sub Plant ID
  docs/release_notes.rst
  src/pudl/analysis/epacamd_eia.py
  src/pudl/etl/epacems_assets.py
  src/pudl/etl/glue_assets.py
  src/pudl/glue/__init__.py
  src/pudl/glue/epacamd_eia.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/glue.py
  src/pudl/output/epacems.py
  test/unit/transform/epacems_test.py
  test/unit/transform/glue_test.py
Labels: glue, eia860, epacems, rmi, dagster

#2536 Initial refactoring of dbf extraction process
  .pre-commit-config.yaml
  src/pudl/extract/dbf.py
  src/pudl/extract/ferc1.py
  src/pudl/metadata/constants.py
  src/pudl/package_data/ferc1/dbc_file_map.csv
  src/pudl/package_data/ferc1/file_map.csv
  src/pudl/package_data/ferc1/table_file_map.csv
  test/conftest.py
  test/integration/etl_test.py
Labels: ferc1, sqlite, ferc2, dbf, ferc6, ferc60
