Repository catalyst-cooperative/pudl, pull requests merged in 2024-03, with the labels that each got.

#3442 Add BA codes and EIA sector IDs to EIA-860M changelog table
  docs/release_notes.rst
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  migrations/versions/7a83fc268224_add_sector_id_eia_balancing_authority_.py
  src/pudl/extract/eia860m.py
  src/pudl/metadata/codes.py
  src/pudl/metadata/resources/eia860m.py
  src/pudl/package_data/eia860m/column_maps/generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860m/column_maps/generator_retired.csv
  src/pudl/transform/eia860m.py
Labels: eia860

#3302 Integrate splink model for FERC to EIA record linkage
  devtools/splink-ferc1-eia-match.ipynb
  docs/release_notes.rst
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
  src/pudl/analysis/record_linkage/__init__.py
  src/pudl/analysis/record_linkage/classify_plants_ferc1.py
  src/pudl/analysis/record_linkage/eia_ferc1_inputs.py
  src/pudl/analysis/record_linkage/eia_ferc1_model_config.py
  src/pudl/analysis/record_linkage/eia_ferc1_record_linkage.py
  src/pudl/analysis/record_linkage/embed_dataframe.py
  src/pudl/analysis/record_linkage/name_cleaner.py
  test/integration/ferc1_eia_train_test.py
Labels: ferc1, dependencies, ccai

#3454 Delete unused try/except Excel read-in method in `pudl.extract.excel`
  src/pudl/extract/excel.py
Labels: eia860, excel

#3446 Update pull_request_template.md to improve full ETL instructions
  .github/pull_request_template.md
Labels: testing

#3455 Update some pinned and stale minimum dependencies
  .pre-commit-config.yaml
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Labels: dependencies

#3457 Add EIA Thermoelectric Cooling Water dataset DOI to datastore.
  src/pudl/workspace/datastore.py
Labels: new-data, eiawater, zenodo

#3458 Fix broken links and rendering failure in PR template
  .github/pull_request_template.md
Labels: docs

#3405 Transform EIA860 and EIA923 Cooling System Tables
  Makefile
  docs/dev/dev_dagster.rst
  docs/templates/data_source_parent.rst.jinja
  docs/templates/package.rst.jinja
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  migrations/versions/5eb340696bf0_fix_fk_for_monthly_cooling_data.py
  migrations/versions/a16cffd105aa_add_cooling_equipment_codes_and_tables.py
  src/pudl/etl/__init__.py
  src/pudl/helpers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/codes.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/helpers.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/metadata/resources/eia923.py
  src/pudl/package_data/eia860/column_maps/cooling_equipment.csv
  src/pudl/package_data/eia923/column_maps/cooling_system_information.csv
  src/pudl/transform/eia860.py
  src/pudl/transform/eia923.py
  src/pudl/validate.py
  test/unit/helpers_test.py
Labels: eia923, eia860, new-data

#3475 Update `dask[dataframe]` dependencies
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Labels: dependencies

#3483 Add PUDL citation for Grid Strategies load growth report.
  docs/catalyst_cites.bib
Labels: docs

#3403 Clean EIA 860 and 923 FGD operation and maintenance data
  docs/release_notes.rst
  migrations/versions/b8ae440a2d32_add_923_and_860_fgd_tables.py
  src/pudl/helpers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/codes.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/metadata/resources/eia923.py
  src/pudl/package_data/eia860/column_maps/fgd_equipment.csv
  src/pudl/package_data/eia923/column_maps/fgd_operation_maintenance.csv
  src/pudl/transform/eia860.py
  src/pudl/transform/eia923.py
  test/unit/helpers_test.py
Labels: eia923, data-cleaning

#3491 Fix nightly build FK failure
  migrations/versions/41120381bfda_exclude_923_fgd_table_from_860_fk.py
  src/pudl/metadata/resources/eia860.py
Labels: bug, eia923, nightly-builds

#3489 Add manual GridPath RA Toolkit renewable profile data source.
  docker/Dockerfile
  docs/release_notes.rst
  src/pudl/metadata/sources.py
  src/pudl/workspace/datastore.py
Labels: datastore, new-data, zenodo, gridlab

#3493 Add logline that tells us more about BadZipFile.
  src/pudl/workspace/datastore.py
Labels: nightly-builds

#3494 EIA860 wind: extract
  src/pudl/extract/eia860.py
  src/pudl/package_data/eia860/column_maps/generator_wind_existing.csv
  src/pudl/package_data/eia860/column_maps/generator_wind_retired.csv
  src/pudl/package_data/eia860/file_map.csv
  src/pudl/package_data/eia860/page_map.csv
  src/pudl/package_data/eia860/skipfooter.csv
  src/pudl/package_data/eia860/skiprows.csv
Labels: eia860, new-data, gridlab

#3482 eia860 solar: extract
  src/pudl/extract/eia860.py
  src/pudl/package_data/eia860/column_maps/generator_solar_existing.csv
  src/pudl/package_data/eia860/column_maps/generator_solar_retired.csv
  src/pudl/package_data/eia860/column_maps/generator_wind_existing.csv
  src/pudl/package_data/eia860/column_maps/generator_wind_retired.csv
  src/pudl/package_data/eia860/file_map.csv
  src/pudl/package_data/eia860/page_map.csv
  src/pudl/package_data/eia860/skipfooter.csv
  src/pudl/package_data/eia860/skiprows.csv
Labels: eia860, new-data, gridlab

#3413 Update PUDL to use Python 3.12
  .github/workflows/pytest.yml
  .github/workflows/release.yml
  .github/workflows/update-conda-lockfile.yml
  docs/release_notes.rst
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Labels: dependencies

#3488 Extract EIA860 Energy Storage tables
  src/pudl/extract/eia860.py
  src/pudl/package_data/eia860/column_maps/generator_energy_storage_existing.csv
  src/pudl/package_data/eia860/column_maps/generator_energy_storage_retired.csv
  src/pudl/package_data/eia860/file_map.csv
  src/pudl/package_data/eia860/page_map.csv
  src/pudl/package_data/eia860/skipfooter.csv
  src/pudl/package_data/eia860/skiprows.csv
Labels: eia860, new-data, gridlab

#3502 Remove sqlglot pin and bump splink version
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Labels: dependencies

#3497 Extract EIA 930 data, refactor extractors to handle different date partitions
  docs/data_sources/eia930/eia930_instructions_2026_07_31.pdf
  src/pudl/etl/__init__.py
  src/pudl/extract/__init__.py
  src/pudl/extract/eia930.py
  src/pudl/extract/extractor.py
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia930/__init__.py
  src/pudl/package_data/eia930/column_maps/__init__.py
  src/pudl/package_data/eia930/column_maps/balance.csv
  src/pudl/package_data/eia930/column_maps/interchange.csv
  src/pudl/package_data/eia930/column_maps/subregion.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/settings.py
  src/pudl/workspace/datastore.py
  test/unit/extract/extractor_test.py
Labels: new-data, eia930, gridlab

#3450 Add total -> subtotal calculation correction & fix hard-coded plant-in-service table name
  migrations/versions/74417bd05169_wipe_and_reset.py
  migrations/versions/7a83fc268224_add_sector_id_eia_balancing_authority_.py
  migrations/versions/98836fb06355_restore_ferc1_plant_output_tables.py
  migrations/versions/a16cffd105aa_add_cooling_equipment_codes_and_tables.py
  migrations/versions/c76866dcc23c_rename_valid_till_date_to_valid_until_.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/output/ferc1.py
  src/pudl/package_data/ferc1/xbrl_factoid_rate_base_tags.csv
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
  test/unit/transform/ferc1_test.py
Labels: ferc1, rmi

#3521 Fix indent error in nightly builds
  src/pudl/package_data/settings/etl_full.yml
Labels: bug

#3516 Extract EIA923 energy storage table
  migrations/versions/5d043449e9e1_change_923_column_name_combined_heat_.py
  src/pudl/extract/eia923.py
  src/pudl/package_data/eia923/column_maps/boiler_fuel.csv
  src/pudl/package_data/eia923/column_maps/energy_storage.csv
  src/pudl/package_data/eia923/column_maps/generation_fuel.csv
  src/pudl/package_data/eia923/column_maps/generator.csv
  src/pudl/package_data/eia923/column_maps/plant_frame.csv
  src/pudl/package_data/eia923/file_map.csv
  src/pudl/package_data/eia923/skiprows.csv
  src/pudl/transform/eia923.py
Labels: eia923, new-data, gridlab

#3522 Transform EIA860 Wind
  docs/release_notes.rst
  migrations/versions/d50a02389baf_add_my_cool_wind_table.py
  src/pudl/metadata/codes.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/package_data/eia860/skipfooter.csv
  src/pudl/transform/eia.py
  src/pudl/transform/eia860.py
Labels: eia860, new-data, gridlab

#3525 add two new correction records into plant_in_service table
  test/validate/ferc1_test.py
Labels: ferc1, rmi, data-validation
