Repository catalyst-cooperative/pudl, pull requests merged in 2024-09, with the labels that each got.

#3827 Try to fix CodeCov report uploads in pytest workflow.
  .github/workflows/pytest.yml
Labels: testing, github-actions

#3826 If docs build interrupted, don't commit leftover autoapi files
  .gitignore
Labels: docs

#3829 Bump mamba docker image version to 1.5.9
  docker/Dockerfile
Labels: dependencies, nightly-builds

#3821 added primary key column in data dictionary page
  docs/templates/resource.rst.jinja
Labels: docs

#3791 Raise error if FERC1 column renames don't match expected data
  migrations/versions/a93bdb8d4fbd_constrain_ferc_xbrl_factoids.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/transform/classes.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
Labels: ferc1, data-validation

#3781 edited data dictionary description
  docs/data_dictionaries/ferc1_db.rst
  docs/data_dictionaries/index.rst
Labels: docs

#3690 Fix bugs in allocate_gen_fuel
  docs/release_notes.rst
  src/pudl/analysis/allocate_gen_fuel.py
  test/unit/analysis/allocate_gen_fuel_test.py
Labels: bug, eia923, analysis, community

#3822 Extract 714 xbrl
  docs/release_notes.rst
  src/pudl/etl/__init__.py
  src/pudl/extract/ferc714.py
  src/pudl/io_managers.py
  src/pudl/metadata/sources.py
  src/pudl/settings.py
  src/pudl/transform/ferc714.py
  test/conftest.py
  test/unit/io_managers_test.py
Labels: ferc714, xbrl, data-update

#3834 Update to Splink v4.0
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
  src/pudl/analysis/record_linkage/eia_ferc1_model_config.py
  src/pudl/analysis/record_linkage/eia_ferc1_record_linkage.py
Labels: dependencies, record-linkage

#3547 Update to Numpy v2.0 & Splink v4.0
  .pre-commit-config.yaml
  docs/release_notes.rst
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
  src/pudl/analysis/record_linkage/eia_ferc1_model_config.py
  src/pudl/analysis/record_linkage/eia_ferc1_record_linkage.py
  src/pudl/analysis/timeseries_cleaning.py
Labels: dependencies, record-linkage

#3849 Map FERC 714 XBRL and CSV IDs
  src/pudl/package_data/glue/respondent_id_ferc714.csv
Labels: ferc714

#3841 Add pudl usage metrics gcp infrastructure
  terraform/main.tf
Labels: cloud, superset

#3853 Increase nightly build VM disk from 80GB to 100GB
  devtools/generate_batch_config.py
Labels: nightly-builds, kaggle

#3843 Adjust superset row limits
  superset/README.md
  superset/docker-compose.yml
  superset/superset_config.py
Labels: superset

#3859 Add documentation section to PR template
  .github/pull_request_template.md
Labels: docs

#3856 Transform XBRL core_ferc714__yearly_planning_area_demand_forecast table
  migrations/versions/bbd84fd6320f_add_forecast_to_forecast_columns.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc714.py
  src/pudl/transform/ferc714.py
Labels: ferc714, data-update

#3857 FERC 714: Integrate the XBRL data Respondent ID table
  src/pudl/package_data/glue/respondent_id_ferc714.csv
  src/pudl/transform/ferc714.py
Labels: ferc714, data-update

#3850 Fixes to the 714 data source docs page
  docs/templates/ferc714_child.rst.jinja
Labels: docs, ferc714

#3865 Move dagster modules to `pyproject.toml` instead of CLI command
  Makefile
  docs/dev/run_the_etl.rst
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Labels: dagster

#3848 added introduction
  docs/index.rst
Labels: docs

#3808 added descriptions of the EIA861 data
  docs/templates/eia861_child.rst.jinja
Labels: docs

#3871 Integrate final 2023 EIA 860 data
  .github/ISSUE_TEMPLATE/existing_data_updates.md
  devtools/pudl_id_mapping_help.ipynb
  docs/dev/existing_data_updates.rst
  docs/dev/pudl_id_mapping.rst
  docs/release_notes.rst
  src/pudl/output/eia.py
  src/pudl/package_data/eia860/file_map.csv
  src/pudl/package_data/eia860/skiprows.csv
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/glue/utility_id_pudl.csv
  src/pudl/workspace/datastore.py
  test/validate/eia_test.py
  test/validate/mcoe_test.py
Labels: eia860
