Repository catalyst-cooperative/pudl, pull requests merged in 2024-01, with the labels that each got.

#3206 Use digest instead of tag so VM uses right image.
  .github/workflows/build-deploy-pudl.yml
Labels: nightly-builds

#3212 It's german. It means "the dev, the"
  .github/dependabot.yml
  .github/workflows/build-deploy-pudl.yml
  .github/workflows/run-etl.yml
  .github/workflows/update-conda-lockfile.yml
  .github/workflows/zenodo-cache-sync.yml
  .pre-commit-config.yaml
  README.rst
  docker/.env
  docker/Dockerfile
  docker/gcp_pudl_etl.sh
  docker/vm_startup_script.sh
  docs/data_access.rst
  docs/dev/nightly_data_builds.rst
  docs/dev/project_management.rst
  docs/index.rst
  docs/release_notes.rst
Labels: docs, cloud, release, nightly-builds

#3216 Switch from dev to main/nightly/stable branch structure.
  .github/dependabot.yml
  .github/workflows/build-deploy-pudl.yml
  .github/workflows/run-etl.yml
  .github/workflows/update-conda-lockfile.yml
  .github/workflows/zenodo-cache-sync.yml
  .pre-commit-config.yaml
  README.rst
  docker/.env
  docker/Dockerfile
  docker/gcp_pudl_etl.sh
  docker/vm_startup_script.sh
  docs/data_access.rst
  docs/dev/nightly_data_builds.rst
  docs/dev/project_management.rst
  docs/index.rst
  docs/release_notes.rst
Labels: nightly-builds

#3187 Make CEMS extraction handle new listed `year_quarter` partitions
  .github/workflows/pytest.yml
  src/pudl/extract/epacems.py
  src/pudl/workspace/datastore.py
  src/pudl/workspace/resource_cache.py
  test/integration/record_linkage_test.py
Labels: datastore, epacems, zenodo, performance

#3222 Tweak metadata and pyarrow schema methods to work for all tables
  .github/workflows/release.yml
  docs/conf.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/codes.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/pudl.py
  test/integration/output_test.py
  test/unit/metadata_test.py
Labels: output, metadata, parquet, data-types

#3227 Start EIA-176 pipelines: company data
  src/pudl/etl/__init__.py
  src/pudl/extract/__init__.py
  src/pudl/extract/csv.py
  src/pudl/extract/dbf.py
  src/pudl/extract/eia176.py
  src/pudl/package_data/eia176/table_file_map.csv
  src/pudl/workspace/datastore.py
  test/integration/etl_test.py
  test/unit/extract/csv_test.py
Labels: new-data, eia176, community

#3236 Generalize passing args through to flyctl deploy
  devtools/datasette/publish.py
Labels: datasette, nightly-builds

#3234 fill in the annual columns with quarterly balances
  docs/release_notes.rst
  src/pudl/output/ferc1.py
  src/pudl/transform/ferc1.py
Labels: ferc1, data-cleaning, dbf

#3184 FERC to EIA Entity Matching Refactor
  devtools/ferc1-eia-glue/training_data/create_FERC1-EIA_manual_mapping_spreadsheets.ipynb
  devtools/ferc1-eia-glue/training_data/validate_and_integrate_FERC1-EIA_manually_mapped_records.ipynb
  docs/release_notes.rst
  migrations/versions/997d2c7bc7de_add_utility_name_to_plant_parts_list.py
  src/pudl/analysis/__init__.py
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/analysis/record_linkage/__init__.py
  src/pudl/analysis/record_linkage/classify_plants_ferc1.py
  src/pudl/analysis/record_linkage/eia_ferc1_record_linkage.py
  src/pudl/analysis/record_linkage/eia_ferc1_train.py
  src/pudl/analysis/record_linkage/embed_dataframe.py
  src/pudl/analysis/record_linkage/name_cleaner.py
  src/pudl/etl/__init__.py
  src/pudl/metadata/resources/ferc1_eia_record_linkage.py
  test/integration/ferc1_eia_train_test.py
  test/integration/record_linkage_test.py
Labels: eia923, ferc1, eia860, ccai

#3235 WIP: Extract raw PHMSA transmission data (A-D, H, I)
  devtools/debug-column-mapping.ipynb
  src/pudl/package_data/phmsagas/column_maps/distribution.csv
  src/pudl/package_data/phmsagas/column_maps/transmission_gathering_a_d.csv
  src/pudl/package_data/phmsagas/column_maps/yearly_miles_of_gathering_pipe_by_nps.csv
  src/pudl/package_data/phmsagas/column_maps/yearly_miles_of_transmission_pipe_by_nps.csv
  src/pudl/package_data/phmsagas/column_maps/yearly_transmission_gathering_summary_by_commodity.csv
  src/pudl/package_data/phmsagas/file_map.csv
  src/pudl/package_data/phmsagas/page_map.csv
  src/pudl/package_data/phmsagas/page_part_map.csv
  src/pudl/package_data/phmsagas/skipfooter.csv
  src/pudl/package_data/phmsagas/skiprows.csv
Labels: new-data, phmsa

#3244 Bump gdal to 3.8.3, dagster to 1.6, remove recordlinkage, add jellyfish
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
  src/pudl/analysis/record_linkage/eia_ferc1_record_linkage.py
Labels: dependencies

#3249 Update EIA bulk electricity data archive.
  devtools/debug-ferc1-etl.ipynb
  src/pudl/workspace/datastore.py
Labels: new-data

#3252 Update gas price upper bound; Enable null-row check for MCOE.
  docs/release_notes.rst
  src/pudl/validate.py
  test/validate/mcoe_test.py
Labels: testing, nightly-builds

#2932 Extract raw PHMSA distribution and start of transmission data (Table A-D, H, I)
  devtools/debug-column-mapping.ipynb
  docs/conf.py
  docs/data_sources/index.rst
  docs/data_sources/phmsagas/Gas Distribution Annual Form - PHMSA F7100.1-1 (2005) - Data Fields.pdf
  docs/data_sources/phmsagas/Gas Distribution Annual Form - PHMSA F7100.1-1 (2021) - Data fields.pdf
  docs/data_sources/phmsagas/Gas Distribution Annual Form - RSPA F7100.1-1 (1985) - Data fields.txt
  docs/data_sources/phmsagas/Gas Transmission and Gathering Pipeline Annual Form - PHMSA F7100.2-1 (2005) - Data Fields.pdf
  docs/data_sources/phmsagas/Gas Transmission and Gathering Pipeline Annual Form - PHMSA F7100.2-1 (2005) - Data fields not on the form.txt
  docs/data_sources/phmsagas/Gas Transmission and Gathering Pipeline Annual Form - PHMSA F7100.2-1 (2014) - Data Fields.pdf
  docs/data_sources/phmsagas/Gas Transmission and Gathering Pipeline Annual Form - PHMSA F7100.2-1 (2022) - Data Fields.pdf
  docs/data_sources/phmsagas/Gas Transmission and Gathering Pipeline Annual Form - RSPA F7100.2-1 (1985) - Data fields.txt
  docs/data_sources/wip_future.rst
  docs/dev/datastore.rst
  docs/index.rst
  docs/release_notes.rst
  docs/templates/data_source_parent.rst.jinja
  docs/templates/phmsagas_child.rst.jinja
  pyproject.toml
  src/pudl/etl/__init__.py
  src/pudl/extract/__init__.py
  src/pudl/extract/eia923.py
  src/pudl/extract/excel.py
  src/pudl/extract/phmsagas.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/sources.py
  src/pudl/package_data/phmsagas/__init__.py
  src/pudl/package_data/phmsagas/column_maps/__init__.py
  src/pudl/package_data/phmsagas/column_maps/yearly_distribution.csv
  src/pudl/package_data/phmsagas/column_maps/yearly_miles_of_gathering_pipe_by_nps.csv
  src/pudl/package_data/phmsagas/column_maps/yearly_miles_of_transmission_pipe_by_nps.csv
  src/pudl/package_data/phmsagas/column_maps/yearly_transmission_gathering_summary_by_commodity.csv
  src/pudl/package_data/phmsagas/file_map.csv
  src/pudl/package_data/phmsagas/page_map.csv
  src/pudl/package_data/phmsagas/page_part_map.csv
  src/pudl/package_data/phmsagas/skipfooter.csv
  src/pudl/package_data/phmsagas/skiprows.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/settings.py
  src/pudl/workspace/datastore.py
Labels: new-data, phmsa

#3242 Extract raw tables for PHMSA transmission data Part F & G
  devtools/debug-column-mapping.ipynb
  docs/release_notes.rst
  src/pudl/extract/phmsagas.py
  src/pudl/package_data/phmsagas/column_maps/yearly_inspections_and_assessments.csv
  src/pudl/package_data/phmsagas/file_map.csv
  src/pudl/package_data/phmsagas/page_map.csv
  src/pudl/package_data/phmsagas/page_part_map.csv
  src/pudl/package_data/phmsagas/skipfooter.csv
  src/pudl/package_data/phmsagas/skiprows.csv
Labels: new-data, phmsa

#3269 Map PHMSA Natural Gas Transmission Part R columns
  docs/release_notes.rst
  src/pudl/extract/phmsagas.py
  src/pudl/package_data/phmsagas/column_maps/yearly_gas_transmission_miles_by_pressure_test_range_and_internal_inspection.csv
  src/pudl/package_data/phmsagas/file_map.csv
  src/pudl/package_data/phmsagas/page_map.csv
  src/pudl/package_data/phmsagas/page_part_map.csv
  src/pudl/package_data/phmsagas/skipfooter.csv
  src/pudl/package_data/phmsagas/skiprows.csv
Labels: new-data, phmsa

#3262 Map PHMSA Natural Gas Transmission Part S columns
  docs/release_notes.rst
  src/pudl/extract/phmsagas.py
  src/pudl/package_data/phmsagas/column_maps/yearly_transmission_material_verification.csv
  src/pudl/package_data/phmsagas/file_map.csv
  src/pudl/package_data/phmsagas/page_map.csv
  src/pudl/package_data/phmsagas/page_part_map.csv
  src/pudl/package_data/phmsagas/skipfooter.csv
  src/pudl/package_data/phmsagas/skiprows.csv
Labels: new-data, phmsa

#3267 Map PHMSA Natural Gas Transmission Part T columns
  docs/release_notes.rst
  src/pudl/extract/phmsagas.py
  src/pudl/package_data/phmsagas/column_maps/yearly_transmission_hca_miles_by_determination_method_and_risk_model.csv
  src/pudl/package_data/phmsagas/file_map.csv
  src/pudl/package_data/phmsagas/page_map.csv
  src/pudl/package_data/phmsagas/page_part_map.csv
  src/pudl/package_data/phmsagas/skipfooter.csv
  src/pudl/package_data/phmsagas/skiprows.csv
Labels: new-data, phmsa

#3260 Map PHMSA Natural Gas Transmission Part N-O columns
  docs/release_notes.rst
  src/pudl/extract/phmsagas.py
  src/pudl/package_data/phmsagas/column_maps/yearly_gas_transmission_miles_by_pressure_test_range_and_internal_inspection.csv
  src/pudl/package_data/phmsagas/column_maps/yearly_transmission_hca_miles_by_determination_method_and_risk_model.csv
  src/pudl/package_data/phmsagas/column_maps/yearly_transmission_material_verification.csv
  src/pudl/package_data/phmsagas/column_maps/yearly_transmission_preparer_certification.csv
  src/pudl/package_data/phmsagas/file_map.csv
  src/pudl/package_data/phmsagas/page_map.csv
  src/pudl/package_data/phmsagas/page_part_map.csv
  src/pudl/package_data/phmsagas/skipfooter.csv
  src/pudl/package_data/phmsagas/skiprows.csv
Labels: new-data, phmsa

#3266 3243 PHMSA transmission part J
  docs/release_notes.rst
  src/pudl/extract/phmsagas.py
  src/pudl/package_data/phmsagas/column_maps/yearly_miles_of_pipe_by_decade_installed.csv
  src/pudl/package_data/phmsagas/file_map.csv
  src/pudl/package_data/phmsagas/page_map.csv
  src/pudl/package_data/phmsagas/page_part_map.csv
  src/pudl/package_data/phmsagas/skipfooter.csv
  src/pudl/package_data/phmsagas/skiprows.csv
Labels: new-data, phmsa

#3254 Map PHMSA Natural Gas Transmission Part L columns
  docs/release_notes.rst
  src/pudl/extract/phmsagas.py
  src/pudl/package_data/phmsagas/column_maps/yearly_miles_of_pipe_by_class_location.csv
  src/pudl/package_data/phmsagas/column_maps/yearly_transmission_gathering_summary_by_commodity.csv
  src/pudl/package_data/phmsagas/file_map.csv
  src/pudl/package_data/phmsagas/page_map.csv
  src/pudl/package_data/phmsagas/page_part_map.csv
  src/pudl/package_data/phmsagas/skipfooter.csv
  src/pudl/package_data/phmsagas/skiprows.csv
Labels: new-data, phmsa

#3270 Map PHMSA Natural Gas Transmission Part M columns
  src/pudl/extract/phmsagas.py
  src/pudl/package_data/phmsagas/column_maps/yearly_transmission_failures_leaks_repairs.csv
  src/pudl/package_data/phmsagas/file_map.csv
  src/pudl/package_data/phmsagas/page_map.csv
  src/pudl/package_data/phmsagas/page_part_map.csv
  src/pudl/package_data/phmsagas/skipfooter.csv
  src/pudl/package_data/phmsagas/skiprows.csv
Labels: new-data, phmsa

#3280 Map PHMSA Natural Gas Transmission Part Q columns
  docs/release_notes.rst
  src/pudl/extract/phmsagas.py
  src/pudl/package_data/phmsagas/column_maps/yearly_transmission_miles_by_maop.csv
  src/pudl/package_data/phmsagas/file_map.csv
  src/pudl/package_data/phmsagas/page_map.csv
  src/pudl/package_data/phmsagas/page_part_map.csv
  src/pudl/package_data/phmsagas/skipfooter.csv
  src/pudl/package_data/phmsagas/skiprows.csv
Labels: new-data, phmsa

#3291 PHMSA: fix to Part Q - fix the column names for the other materials (NOT MILES!)
  src/pudl/package_data/phmsagas/column_maps/yearly_transmission_miles_by_maop.csv
Labels: new-data, phmsa

#3279 PHMSA transmission part P
  docs/release_notes.rst
  src/pudl/extract/phmsagas.py
  src/pudl/package_data/phmsagas/column_maps/yearly_miles_of_pipe_in_state_by_material.csv
  src/pudl/package_data/phmsagas/file_map.csv
  src/pudl/package_data/phmsagas/page_map.csv
  src/pudl/package_data/phmsagas/page_part_map.csv
  src/pudl/package_data/phmsagas/skipfooter.csv
  src/pudl/package_data/phmsagas/skiprows.csv
Labels: new-data, phmsa

#3287 Nightly build quality of life improvements
  .github/workflows/build-deploy-pudl.yml
  docker/Dockerfile
  docker/gcp_pudl_etl.sh
Labels: nightly-builds

#3281 Remove datapackage, use frictionless.
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
  src/pudl/workspace/datastore.py
Labels: datapkg, metadata, dependencies

#3297 Update conda lock; tell CodeCov to chill
  .codecov.yml
  Makefile
Labels: testing, dependencies

#3292 Push to prod Zenodo sometimes, fix pypi release flow, update docs
  .github/workflows/build-deploy-pudl.yml
  .github/workflows/release.yml
  devtools/zenodo/zenodo_data_release.py
  docker/gcp_pudl_etl.sh
  docs/data_access.rst
  docs/dev/index.rst
  docs/dev/run_a_release.rst
Labels: docs, zenodo, release

#3300 Parameterize the FERC1 transform step what transfers quarterly filed data into annual columns
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
Labels: ferc1

#3299 Add retries, and use fsspec to handle GCS
  devtools/zenodo/zenodo_data_release.py
Labels: zenodo, nightly-builds

#3211 Use Google Batch for full ETL runs
  .github/workflows/build-deploy-pudl.yml
  devtools/generate_batch_config.py
  docker/Dockerfile
  docker/dagster.yaml
  docker/gcp_pudl_etl.sh
Labels: cloud, nightly-builds

#3304 Add EIA Forms 191 and 757 to sources in PUDL metadata
  src/pudl/metadata/sources.py
Labels: eia176

#3226 Hide `_out` tables and restore metadata in Datasette
  devtools/datasette/publish.py
  migrations/versions/955e745a9fbd_add_epacamd_eia_back_to_datasources_enum.py
  src/pudl/helpers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/sources.py
  src/pudl/metadata/templates/datasette-metadata.yml.jinja
  test/integration/datasette_metadata_test.py
  test/unit/metadata_test.py
Labels: output, metadata, datasette

#3321 Update build ref
  .github/workflows/build-deploy-pudl.yml
Labels: nightly-builds

#3294 Rename some straggler assets
  devtools/debug-ferc1-etl.ipynb
  docs/dev/naming_conventions.rst
  docs/release_notes.rst
  migrations/versions/2e5b623ab40b_create_intermediate_steam_plants_table_.py
  migrations/versions/955e745a9fbd_add_epacamd_eia_back_to_datasources_enum.py
  migrations/versions/997d2c7bc7de_add_utility_name_to_plant_parts_list.py
  migrations/versions/c1e3439ef338_apply_new_naming_convention_to_.py
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/analysis/service_territory.py
  src/pudl/analysis/state_demand.py
  src/pudl/convert/censusdp1tract_to_sqlite.py
  src/pudl/etl/__init__.py
  src/pudl/etl/epacems_assets.py
  src/pudl/etl/glue_assets.py
  src/pudl/extract/eia860.py
  src/pudl/extract/eia861.py
  src/pudl/extract/eia923.py
  src/pudl/extract/excel.py
  src/pudl/extract/ferc1.py
  src/pudl/extract/phmsagas.py
  src/pudl/glue/ferc1_eia.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc714.py
  src/pudl/metadata/resources/pudl.py
  src/pudl/output/censusdp1tract.py
  src/pudl/output/eia923.py
  src/pudl/output/eia_bulk_elec.py
  src/pudl/output/ferc1.py
  src/pudl/output/ferc714.py
  src/pudl/output/pudltabl.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/ferc714.py
  test/conftest.py
  test/integration/output_test.py
  test/unit/output/ferc1_test.py
  test/unit/transform/glue_test.py
Labels: dagster

#3283 Resource field description cleanup
  docs/release_notes.rst
  migrations/versions/c716ec617469_wipe_alembic_migrations_due_to_.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia861.py
  src/pudl/package_data/eia861/column_maps/energy_efficiency_eia861.csv
  src/pudl/package_data/eia861/column_maps/net_metering_eia861.csv
  test/unit/harvest_test.py
  test/unit/io_managers_test.py
  test/unit/metadata_test.py
Labels: docs, eia861, metadata
