Repository catalyst-cooperative/pudl, pull requests merged in 2024-11, with the labels that each got.

#3934 Add Sphinx Google Analytics config + add-on.
  docs/conf.py
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Labels: docs, dependencies

#3946 Integrate EIA 930 data up through October
  docs/release_notes.rst
  src/pudl/workspace/datastore.py
Labels: eia930, data-update

#3948 Add Q3 2024 CEMS data to ETL
  docs/release_notes.rst
  src/pudl/metadata/sources.py
  src/pudl/workspace/datastore.py
Labels: epacems, data-update

#3951 EIA bulk elec q3 2024 integration
  docs/release_notes.rst
  src/pudl/workspace/datastore.py
Labels: eia_bulk_elec, data-update

#3961 Close out PUDL v2024.11.0 release notes
  .github/ISSUE_TEMPLATE/versioned_release.md
  CITATION.cff
  docs/release_notes.rst
Labels: docs, release

#3959 Reduce peak memory use of VCE RARE assets
  .pre-commit-config.yaml
  devtools/generate_batch_config.py
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
  src/pudl/etl/__init__.py
  src/pudl/transform/vcerare.py
Labels: performance, parquet, dagster, duckdb, vcerare

#3962 Clean up some nightly build infrastructure cruft
  .github/ISSUE_TEMPLATE/versioned_release.md
  .github/workflows/build-deploy-pudl.yml
  devtools/zenodo/zenodo_data_release.py
  docker/Dockerfile
  docker/gcp_pudl_etl.sh
  docs/dev/nightly_data_builds.rst
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Labels: docs, nightly-builds

#3590 Eia176 wide table
  src/pudl/etl/__init__.py
  src/pudl/extract/eia176.py
  src/pudl/transform/__init__.py
  src/pudl/transform/eia176.py
  test/unit/transform/eia176_test.py
Labels: new-data, eia176

#3976 Updates to splink FERC to EIA record linkage notebook
  devtools/splink-ferc1-eia-match.ipynb
  docs/release_notes.rst
  src/pudl/analysis/plant_parts_eia.py
Labels: eia923, eia860, record-linkage

#3978 EIA 176 wide tables - follow-up fixes
  src/pudl/etl/__init__.py
  src/pudl/extract/eia176.py
  src/pudl/transform/__init__.py
  src/pudl/transform/eia176.py
  test/unit/transform/eia176_test.py
Labels: eia176

#3979 Correct flipped starting/ending balance column rename.
  src/pudl/transform/params/ferc1.py
Labels: bug, ferc1

#3980 Update conda lockfile and pre-commit hooks.
  .pre-commit-config.yaml
  docs/release_notes.rst
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Labels: dependencies
