Repository catalyst-cooperative/pudl, pull requests merged in 2024-08, with the labels that each got.

#3765 Add title to quarterly updates issue template
  .github/ISSUE_TEMPLATE/quarterly_updates.md
Labels: github-actions, data-update

#3769 Add Q2 2024 CEMS data
  docs/dev/existing_data_updates.rst
  docs/release_notes.rst
  src/pudl/metadata/sources.py
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/workspace/datastore.py
  test/integration/epacems_test.py
Labels: epacems, data-update

#3778 Update DOI for NREL ATB to get error corrections
  docs/release_notes.rst
  src/pudl/workspace/datastore.py
Labels: nrelatb, data-update

#3768 Integrate Eia923 Q2 2024 Data
  docs/release_notes.rst
  docs/templates/eia923_child.rst.jinja
  src/pudl/package_data/eia923/file_map.csv
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/glue/utility_id_pudl.csv
  src/pudl/transform/eia923.py
  src/pudl/workspace/datastore.py
  test/validate/eia_test.py
Labels: eia923, data-update

#3788 Fix `release.yml` fork behaviors
  .github/workflows/release.yml
Labels: github-actions

#3787 repaired ferc broken links
  docs/data_dictionaries/ferc1_db.csv
  docs/data_dictionaries/ferc1_db.rst
Labels: docs

#3785 Update 2024 Q2 EIA bulk electricity data
  docs/release_notes.rst
  src/pudl/workspace/datastore.py
Labels: eia_bulk_elec, data-update

#3789 Integrate 2024 Half 2 data for EIA 930
  docs/release_notes.rst
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia930/column_maps/balance.csv
  src/pudl/package_data/eia930/column_maps/interchange.csv
  src/pudl/package_data/eia930/column_maps/subregion.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/workspace/datastore.py
Labels: eia930, data-update

#3767 Integrate Eia860M Q2 2024 Data
  docs/release_notes.rst
  docs/templates/eia860_child.rst.jinja
  src/pudl/extract/eia860m.py
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia860m/column_maps/generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860m/column_maps/generator_retired.csv
  src/pudl/package_data/eia860m/file_map.csv
  src/pudl/package_data/eia860m/page_map.csv
  src/pudl/package_data/eia860m/skipfooter.csv
  src/pudl/package_data/eia860m/skiprows.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/workspace/datastore.py
  test/validate/eia_test.py
Labels: eia860, data-update

#3790 Update all FERC dataset DOIs
  src/pudl/workspace/datastore.py
Labels: ferc1, ferc714, ferc2, ferc6, ferc60, data-update

#3715 Superset deployment
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
  superset/Dockerfile
  superset/README.md
  superset/cloudbuild.yaml
  superset/docker-compose.yml
  superset/requirements.txt
  superset/setup.sh
  superset/superset_config.py
  terraform/.terraform.lock.hcl
  terraform/main.tf
Labels: datasette, duckdb, superset

#3801 Close out v2024.8.0 release notes.
  docs/release_notes.rst
Labels: docs, release

#3807 Update release process documentation
  .github/ISSUE_TEMPLATE/versioned_release.md
  .zenodo.json
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Labels: docs, zenodo, release

#3780 added description of Data Source Heading
  docs/data_sources/index.rst
Labels: docs

#3774 Make an EIA plant part association table with generators
  docs/release_notes.rst
  migrations/versions/a47a74d21b3f_add_my_cool_ppe_assn_table.py
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/analysis/record_linkage/eia_ferc1_inputs.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1_eia_record_linkage.py
  test/integration/output_test.py
Labels: ppe, rmi

#3819 Remove `record_id_eia` foreign key relationship to `out_pudl__yearly_assn_eia_ferc1_plant_parts`
  migrations/versions/57f2bda37a11_remove_fk_relationship_for_record_id_eia.py
  src/pudl/metadata/resources/ferc1_eia_record_linkage.py
Labels: bug, ppe

#3817 Add PUDL pronunciation to docs and README
  README.rst
  docs/index.rst
Labels: docs

#3820 Fix column mapping errors
  src/pudl/extract/eia923.py
  src/pudl/extract/extractor.py
  src/pudl/extract/phmsagas.py
  src/pudl/package_data/eia923/column_maps/boiler_fuel.csv
  src/pudl/package_data/eia923/column_maps/byproduct_disposition.csv
  src/pudl/package_data/eia923/column_maps/byproduct_expenses_and_revenues.csv
  src/pudl/package_data/eia923/column_maps/cooling_system_information.csv
  src/pudl/package_data/eia923/column_maps/emissions_control.csv
  src/pudl/package_data/eia923/column_maps/energy_storage.csv
  src/pudl/package_data/eia923/column_maps/fgd_operation_maintenance.csv
  src/pudl/package_data/eia923/column_maps/fuel_receipts_costs.csv
  src/pudl/package_data/eia923/column_maps/generation_fuel.csv
  src/pudl/package_data/eia923/column_maps/generator.csv
  src/pudl/package_data/eia923/column_maps/plant_frame.csv
  src/pudl/package_data/eia923/column_maps/stocks.csv
  src/pudl/package_data/phmsagas/column_maps/yearly_gathering_pipe_miles_by_nps.csv
  src/pudl/package_data/phmsagas/column_maps/yearly_transmission_gathering_preparer_certification.csv
  src/pudl/package_data/phmsagas/column_maps/yearly_transmission_pipe_miles_by_nps.csv
  test/unit/extract/csv_test.py
  test/unit/extract/phmsagas_test.py
Labels: testing, excel, data-validation, csv
