Repository catalyst-cooperative/pudl, pull requests merged in 2024-06, with the labels that each got.

#3668 Bump GDAL to 3.9.0
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Labels: dependencies

#3660 Merge EIA861 short-form transform
  .pre-commit-config.yaml
  docs/release_notes.rst
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  migrations/versions/7992e5e19487_eia861_short_form_changes.py
  migrations/versions/827e88186933_add_eia861_short_form_table_and_update_.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/__init__.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/metadata/resources/eia861.py
  src/pudl/output/pudltabl.py
  src/pudl/package_data/eia860/column_maps/plant.csv
  src/pudl/package_data/eia861/column_maps/demand_response_eia861.csv
  src/pudl/package_data/eia861/column_maps/demand_side_management_eia861.csv
  src/pudl/package_data/eia861/column_maps/frame_eia861.csv
  src/pudl/package_data/eia861/column_maps/short_form_eia861.csv
  src/pudl/transform/eia860.py
  src/pudl/transform/eia861.py
Labels: new-data, eia861

#3673 Update expected row counts in service territory tables.
  test/validate/service_territory_test.py
Labels: testing, new-data, eia861

#3656 Add EIA AEO fuel cost projections
  docs/release_notes.rst
  migrations/versions/da38a41d7f99_add_fuel_cost_table.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eiaaeo.py
  src/pudl/transform/eiaaeo.py
Labels: new-data, gridlab, eiaaeo

#3672 SoD Docs Updates
  README.rst
  docs/CODE_OF_CONDUCT.md
  docs/data_access.rst
  docs/dev/datastore.rst
  docs/dev/existing_data_updates.rst
  docs/dev/project_management.rst
  docs/index.rst
  docs/pudl/id_mapping/id_mapping.md
  src/pudl/extract/ferc1.py
Labels: docs, community

#3680 Update nightly build script to quietly publish public Parquet outputs.
  docker/gcp_pudl_etl.sh
Labels: output, cloud, parquet, kaggle

#3681 Integrate 2023 EIA 860 Early Release
  devtools/debug-column-mapping.ipynb
  docs/release_notes.rst
  migrations/versions/b9b6cb1a5405_add_2023_eia_860er_storage_and_solar_.py
  src/pudl/extract/eia860.py
  src/pudl/helpers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia860/column_maps/boiler_cooling.csv
  src/pudl/package_data/eia860/column_maps/boiler_generator_assn.csv
  src/pudl/package_data/eia860/column_maps/boiler_info.csv
  src/pudl/package_data/eia860/column_maps/boiler_mercury.csv
  src/pudl/package_data/eia860/column_maps/boiler_nox.csv
  src/pudl/package_data/eia860/column_maps/boiler_particulate.csv
  src/pudl/package_data/eia860/column_maps/boiler_so2.csv
  src/pudl/package_data/eia860/column_maps/boiler_stack_flue.csv
  src/pudl/package_data/eia860/column_maps/cooling_equipment.csv
  src/pudl/package_data/eia860/column_maps/emission_control_strategies.csv
  src/pudl/package_data/eia860/column_maps/emissions_control_equipment.csv
  src/pudl/package_data/eia860/column_maps/fgd_equipment.csv
  src/pudl/package_data/eia860/column_maps/fgp_equipment.csv
  src/pudl/package_data/eia860/column_maps/generator_energy_storage_existing.csv
  src/pudl/package_data/eia860/column_maps/generator_energy_storage_proposed.csv
  src/pudl/package_data/eia860/column_maps/generator_energy_storage_retired.csv
  src/pudl/package_data/eia860/column_maps/generator_existing.csv
  src/pudl/package_data/eia860/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860/column_maps/generator_retired.csv
  src/pudl/package_data/eia860/column_maps/generator_solar_existing.csv
  src/pudl/package_data/eia860/column_maps/generator_solar_retired.csv
  src/pudl/package_data/eia860/column_maps/generator_wind_existing.csv
  src/pudl/package_data/eia860/column_maps/generator_wind_retired.csv
  src/pudl/package_data/eia860/column_maps/multifuel_existing.csv
  src/pudl/package_data/eia860/column_maps/multifuel_retired.csv
  src/pudl/package_data/eia860/column_maps/ownership.csv
  src/pudl/package_data/eia860/column_maps/plant.csv
  src/pudl/package_data/eia860/column_maps/stack_flue_equipment.csv
  src/pudl/package_data/eia860/column_maps/utility.csv
  src/pudl/package_data/eia860/file_map.csv
  src/pudl/package_data/eia860/page_map.csv
  src/pudl/package_data/eia860/skipfooter.csv
  src/pudl/package_data/eia860/skiprows.csv
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/glue/utility_id_pudl.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/transform/eia860.py
  src/pudl/workspace/datastore.py
  test/validate/eia_test.py
  test/validate/mcoe_test.py
Labels: eia860, rmi, data-update

#3686 Update docs to link to .zip not .gz S3 archives
  docs/data_access.rst
  docs/index.rst
Labels: docs

#3697 Take the most recently reported generator operating date when there's no 70%+ consistently reported date
  docs/release_notes.rst
  src/pudl/metadata/fields.py
  src/pudl/transform/eia.py
Labels: bug, data-loss, harvest
