Repository catalyst-cooperative/pudl, pull requests merged in 2024-10, with the labels that each got.

#3883 Create an asset factory for FERC 1 output tables
  docs/release_notes.rst
  src/pudl/output/ferc1.py
Labels: ferc1, dagster

#3861 Migrate where/when we filter for the freshest XBRL data
  src/pudl/extract/ferc1.py
  src/pudl/io_managers.py
  src/pudl/transform/__init__.py
  src/pudl/transform/ferc.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/ferc714.py
  src/pudl/transform/params/ferc1.py
  src/pudl/workspace/setup.py
  test/unit/io_managers_test.py
  test/unit/transform/ferc1_test.py
  test/validate/ferc1_test.py
Labels: xbrl

#3892 fix rolling fuel cost average bug
  docs/release_notes.rst
  migrations/versions/1fd5fac43603_add_my_cool_new_fuel_cost_source_column.py
  notebooks/work-in-progress/explore_fuel_costs_eiaapi.ipynb
  src/pudl/analysis/mcoe.py
  src/pudl/helpers.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia923.py
  src/pudl/metadata/resources/ferc1_eia_record_linkage.py
  src/pudl/metadata/resources/mcoe.py
  src/pudl/output/eia923.py
  test/unit/helpers_test.py
Labels: bug, eia923

#3897 Update `gridpathratoolkit` and `vceregen` metadata
  src/pudl/metadata/constants.py
  src/pudl/metadata/sources.py
Labels: metadata, zenodo, gridpathratoolkit, vceregen

#3896 CI and testing infrastructure improvements.
  .github/actionlint.yaml
  .github/workflows/pytest.yml
  .github/workflows/update-conda-lockfile.yml
  .github/workflows/zenodo-cache-sync.yml
  .pre-commit-config.yaml
  Makefile
  docker/Dockerfile
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Labels: dependencies, github-actions, nightly-builds

#3904 Update to micromamba 2.0.2 Docker image.
  .pre-commit-config.yaml
  docker/Dockerfile
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Labels: dependencies, nightly-builds

#3907 Update the source.py file with new name for vceregen dataset: vcerare
  src/pudl/metadata/sources.py
Labels: metadata, vcerare

#3903 Integrate 2023 EIA 923 final release data
  docs/release_notes.rst
  src/pudl/package_data/eia923/column_maps/boiler_fuel.csv
  src/pudl/package_data/eia923/column_maps/byproduct_disposition.csv
  src/pudl/package_data/eia923/column_maps/byproduct_expenses_and_revenues.csv
  src/pudl/package_data/eia923/column_maps/cooling_system_information.csv
  src/pudl/package_data/eia923/column_maps/emissions_control.csv
  src/pudl/package_data/eia923/column_maps/energy_storage.csv
  src/pudl/package_data/eia923/column_maps/fgd_operation_maintenance.csv
  src/pudl/package_data/eia923/column_maps/fuel_receipts_costs.csv
  src/pudl/package_data/eia923/column_maps/generation_fuel.csv
  src/pudl/package_data/eia923/column_maps/generator.csv
  src/pudl/package_data/eia923/column_maps/plant_frame.csv
  src/pudl/package_data/eia923/column_maps/stocks.csv
  src/pudl/package_data/eia923/file_map.csv
  src/pudl/package_data/eia923/page_map.csv
  src/pudl/package_data/eia923/skiprows.csv
  src/pudl/transform/eia923.py
  src/pudl/workspace/datastore.py
  test/validate/eia_test.py
  test/validate/mcoe_test.py
Labels: eia923, data-update

#3909 Update language in vcerare datasource description
  src/pudl/metadata/sources.py
Labels: metadata, vcerare

#3893 Extract VCE renewable generation profiles and remove deprecated `gsutil` from workflows
  .github/workflows/zenodo-cache-sync.yml
  docker/Dockerfile
  docker/gcp_pudl_etl.sh
  src/pudl/etl/__init__.py
  src/pudl/extract/__init__.py
  src/pudl/extract/extractor.py
  src/pudl/extract/vcerare.py
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/package_data/vcerare/__init__.py
  src/pudl/package_data/vcerare/file_map.csv
  src/pudl/settings.py
  src/pudl/workspace/datastore.py
  test/unit/workspace/datastore_test.py
Labels: bug, new-data, nightly-builds, vcerare

#3912 Unpin sphinx now that sphinx-issues is fixed.
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Labels: docs, dependencies

#3916 Close out release notes and repo metadata for v2024.10.0
  .zenodo.json
  CITATION.cff
  docs/release_notes.rst
Labels: docs, metadata, release

#3919 update conda lockfile
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Labels: dependencies

#3921 Add some links to the VCE RARE data source page.
  docs/templates/vcerare_child.rst.jinja
Labels: docs, vcerare
