Repository catalyst-cooperative/pudl, pull requests merged in 2024-05, with the labels that each got.

#3602 Fix quoting in hourly parquet deployment command
  docker/gcp_pudl_etl.sh
Labels: output, parquet, nightly-builds

#3603 Remove unused resource keys from asset definitions
  src/pudl/extract/eia176.py
  src/pudl/extract/eia191.py
  src/pudl/extract/eia757a.py
  src/pudl/extract/eia860m.py
  src/pudl/extract/eia861.py
  src/pudl/extract/eia923.py
  src/pudl/extract/extractor.py
  src/pudl/extract/nrelatb.py
  src/pudl/extract/phmsagas.py
Labels: dagster

#3604 Unpin GDAL dependency
  README.rst
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
  src/pudl/extract/eiaaeo.py
Labels: dependencies

#3610 Stop ignoring test directory passed to pytest.
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Labels: bug, testing

#3608 Clean up a couple warnings and remove obsolete materialize script.
  devtools/materialize_asset.py
  src/pudl/etl/__init__.py
  src/pudl/metadata/classes.py
Labels: bug

#3598 End use sectors generation by fuel type.
  docs/release_notes.rst
  migrations/versions/1c7536e23a27_add_end_use_sectors_generation_table_.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eiaaeo.py
  src/pudl/transform/eiaaeo.py
Labels: eiaaeo

#3622 Always clobber existing outputs in FERC to SQLite conversions
  docs/dev/dev_setup.rst
  docs/dev/run_the_etl.rst
  docs/release_notes.rst
  src/pudl/extract/dbf.py
  src/pudl/extract/xbrl.py
  src/pudl/ferc_to_sqlite/cli.py
  src/pudl/resources.py
  test/unit/extract/xbrl_test.py
Labels: ferc1, docs, ferc714, sqlite, cli, ferc2, xbrl, dagster, dbf, ferc6, ferc60

#3615 Update EIA Bulk Electricity archive/DOI.
  docs/release_notes.rst
  src/pudl/workspace/datastore.py
Labels: new-data, eia_bulk_elec

#3624 Add EPA CEMS 2024Q1
  docs/release_notes.rst
  src/pudl/metadata/sources.py
  src/pudl/workspace/datastore.py
Labels: epacems, new-data, rmi

#3626 Update EIA AEO table description units to be consistent with columns.
  src/pudl/etl/__init__.py
  src/pudl/metadata/resources/eiaaeo.py
Labels: docs, gridlab, eiaaeo

#3628 Tweak eia860m settings validations and tests.
  src/pudl/extract/eia860m.py
  src/pudl/settings.py
  test/unit/settings_test.py
Labels: eia923, eia860, new-data

#3630 NREL ATB - Stop dropping duplicate values before unstacking
  migrations/versions/00bb7a317c64_tweak_atb_column_names_and_descriptions.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/nrelatb.py
  src/pudl/transform/nrelatb.py
Labels: bug, gridlab, nrelatb

#3625 Q1 2024 eia860m eia923
  docs/release_notes.rst
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  src/pudl/extract/eia860.py
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia860m/column_maps/generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860m/column_maps/generator_retired.csv
  src/pudl/package_data/eia860m/file_map.csv
  src/pudl/package_data/eia860m/page_map.csv
  src/pudl/package_data/eia860m/skipfooter.csv
  src/pudl/package_data/eia860m/skiprows.csv
  src/pudl/package_data/eia923/column_maps/boiler_fuel.csv
  src/pudl/package_data/eia923/column_maps/energy_storage.csv
  src/pudl/package_data/eia923/column_maps/fuel_receipts_costs.csv
  src/pudl/package_data/eia923/column_maps/generation_fuel.csv
  src/pudl/package_data/eia923/column_maps/generator.csv
  src/pudl/package_data/eia923/column_maps/plant_frame.csv
  src/pudl/package_data/eia923/column_maps/stocks.csv
  src/pudl/package_data/eia923/file_map.csv
  src/pudl/package_data/eia923/page_map.csv
  src/pudl/package_data/eia923/skipfooter.csv
  src/pudl/package_data/eia923/skiprows.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/settings.py
  src/pudl/workspace/datastore.py
  test/unit/settings_test.py
  test/validate/eia_test.py
Labels: eia923, eia860, new-data, rmi

#3636 Map new EIA plants and utilities with PUDL IDs for 2024Q1 update
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/glue/utility_id_pudl.csv
Labels: glue, eia923, eia860, rmi

#3532 Breakdown total `utility_type` and partial `in_rate_base` in rate base table
  src/pudl/output/ferc1.py
  src/pudl/package_data/ferc1/xbrl_factoid_rate_base_category_tags.csv
  src/pudl/package_data/ferc1/xbrl_factoid_rate_base_tags.csv
  test/unit/output/ferc1_test.py
Labels: ferc1, output, rmi

#3638 Update expected MCOE row counts
  Makefile
  test/validate/mcoe_test.py
Labels: nightly-builds, data-validation

#3641 Publish FERC1 Rate Base Table
  docs/release_notes.rst
  migrations/versions/6dcb5e3e07dd_add_my_cool_rate_base_table.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/output/ferc1.py
Labels: ferc1, output, rmi

#3647 Rate base category tweaks
  src/pudl/metadata/fields.py
  src/pudl/package_data/ferc1/xbrl_factoid_rate_base_category_tags.csv
  src/pudl/package_data/ferc1/xbrl_factoid_rate_base_tags.csv
Labels: ferc1, rmi

#3652 Organize the large new data section of release notes
  docs/release_notes.rst
Labels: docs
