Repository catalyst-cooperative/pudl, pull requests merged in 2024-04, with the labels that each got.

#3517 Ferc1 rate base tag updates
  src/pudl/output/ferc1.py
  src/pudl/package_data/ferc1/xbrl_factoid_rate_base_category_tags.csv
  src/pudl/package_data/ferc1/xbrl_factoid_revenue_requirement_tags.csv
Labels: ferc1, output, rmi

#3529 Schema cleanup
  docs/release_notes.rst
  migrations/versions/825c04fb968d_standardize_some_column_and_asset_names.py
  src/pudl/helpers.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/package_data/eia860/column_maps/cooling_equipment.csv
  src/pudl/package_data/eia860/column_maps/emissions_control_equipment.csv
  src/pudl/package_data/eia860/column_maps/fgd_equipment.csv
  src/pudl/package_data/eia860/column_maps/fgp_equipment.csv
  src/pudl/package_data/eia860/column_maps/generator_wind_existing.csv
  src/pudl/package_data/eia860/column_maps/generator_wind_retired.csv
  src/pudl/package_data/eia860m/column_maps/generator_retired.csv
  src/pudl/transform/eia.py
  src/pudl/transform/eia860.py
Labels: eia860

#3524 Transform and harvesting eia860 solar table
  docs/dev/naming_conventions.rst
  docs/release_notes.rst
  migrations/versions/d3fc58bfbaac_add_my_cool_solar_table.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/package_data/eia860/column_maps/generator_solar_existing.csv
  src/pudl/package_data/eia860/column_maps/generator_solar_retired.csv
  src/pudl/package_data/eia860/skipfooter.csv
  src/pudl/transform/eia.py
  src/pudl/transform/eia860.py
Labels: eia860, new-data, gridlab

#3514 WIP: GridPath RA Toolkit wind and solar generation profiles
  docs/conf.py
  docs/data_sources/index.rst
  docs/release_notes.rst
  docs/templates/gridpathratoolkit_child.rst.jinja
  docs/templates/phmsagas_child.rst.jinja
  migrations/versions/41120381bfda_exclude_923_fgd_table_from_860_fk.py
  migrations/versions/49387e87e70a_wipe_and_reset.py
  migrations/versions/5d043449e9e1_change_923_column_name_combined_heat_.py
  migrations/versions/5eb340696bf0_fix_fk_for_monthly_cooling_data.py
  migrations/versions/825c04fb968d_standardize_some_column_and_asset_names.py
  migrations/versions/a16cffd105aa_add_cooling_equipment_codes_and_tables.py
  migrations/versions/b8ae440a2d32_add_923_and_860_fgd_tables.py
  migrations/versions/d3fc58bfbaac_add_my_cool_solar_table.py
  migrations/versions/d50a02389baf_add_my_cool_wind_table.py
  src/pudl/analysis/state_demand.py
  src/pudl/etl/__init__.py
  src/pudl/extract/__init__.py
  src/pudl/extract/gridpathratoolkit.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc714.py
  src/pudl/metadata/resources/gridpathratoolkit.py
  src/pudl/metadata/resources/pudl.py
  src/pudl/metadata/sources.py
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/settings.py
  src/pudl/transform/__init__.py
  src/pudl/transform/ferc714.py
  src/pudl/transform/gridpathratoolkit.py
  src/pudl/workspace/datastore.py
  test/validate/service_territory_test.py
Labels: new-data, gridlab, gridpathratoolkit

#3526 Transform and harvesting the eia860 Energy Storage table
  devtools/debug-column-mapping.ipynb
  devtools/debug-eia-etl.ipynb
  docs/release_notes.rst
  migrations/versions/c0841f4c5e4f_add_eia860_storage_and_coding_tables.py
  src/pudl/metadata/codes.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/package_data/eia860/column_maps/generator_energy_storage_existing.csv
  src/pudl/package_data/eia860/column_maps/generator_energy_storage_retired.csv
  src/pudl/package_data/eia860/skipfooter.csv
  src/pudl/transform/eia.py
  src/pudl/transform/eia860.py
Labels: eia860, new-data, gridlab

#3539 Refactor etl/__init__.py to make adding new modules easier.
  CONTRIBUTING.rst
  src/pudl/etl/__init__.py
Labels: dagster

#3541 Attempt to limit `_out_ferc714__hourly_demand_matrix` concurrency
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/analysis/record_linkage/eia_ferc1_record_linkage.py
  src/pudl/analysis/state_demand.py
  src/pudl/etl/__init__.py
  src/pudl/etl/cli.py
  src/pudl/etl/epacems_assets.py
  src/pudl/extract/gridpathratoolkit.py
  src/pudl/output/ferc714.py
  src/pudl/transform/eia860m.py
  src/pudl/transform/gridpathratoolkit.py
Labels: ferc714, performance, nightly-builds

#3543 Manage concurrency of high-memory processes
  .github/workflows/build-deploy-pudl.yml
  src/pudl/analysis/record_linkage/classify_plants_ferc1.py
  src/pudl/analysis/record_linkage/eia_ferc1_record_linkage.py
  src/pudl/analysis/record_linkage/link_cross_year.py
  src/pudl/analysis/state_demand.py
  src/pudl/etl/__init__.py
  src/pudl/etl/cli.py
  src/pudl/extract/extractor.py
Labels: performance, dagster, nightly-builds

#3548 Tag additional assets as high memory usage
  src/pudl/analysis/state_demand.py
  src/pudl/etl/epacems_assets.py
  src/pudl/extract/eia930.py
  src/pudl/extract/ferc714.py
  src/pudl/output/ferc714.py
  src/pudl/transform/eia860m.py
  src/pudl/transform/ferc714.py
Labels: performance, nightly-builds

#3552 Rename BA & Utility service territory tables to use conventions
  docs/release_notes.rst
  migrations/versions/00e4382815d9_rename_ba_utility_service_territory_.py
  src/pudl/analysis/service_territory.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/metadata/resources/eia861.py
  src/pudl/output/pudltabl.py
  test/integration/console_scripts_test.py
  test/integration/output_test.py
Labels: eia861, metadata, schema-change

#3554 Update lockfile to avoid yanked version of jaraco.context
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Labels: dependencies, conda-lock

#3546 EIA 923 energy storage transform
  docs/release_notes.rst
  migrations/versions/172898b30824_add_data_maturity_to_eia923_cooling_.py
  migrations/versions/4e14f531f5d6_add_eia923_energy_storage_monthly_table.py
  migrations/versions/823e58cbf0e0_update_foreign_key_relationships_for_.py
  src/pudl/helpers.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/labels.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/metadata/resources/eia923.py
  src/pudl/package_data/eia923/column_maps/energy_storage.csv
  src/pudl/transform/eia.py
  src/pudl/transform/eia860.py
  src/pudl/transform/eia923.py
Labels: eia923, new-data, gridlab

#3561 Update conda lockfile and other versions.
  .pre-commit-config.yaml
  docker/Dockerfile
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  src/pudl/metadata/classes.py
Labels: dependencies, conda-lock

#3558 Draft of package-level field encoding, applied to EIA
  docs/conf.py
  docs/release_notes.rst
  migrations/env.py
  src/pudl/etl/__init__.py
  src/pudl/io_managers.py
  src/pudl/metadata/__init__.py
  src/pudl/metadata/classes.py
  src/pudl/transform/classes.py
  src/pudl/transform/eia.py
  src/pudl/transform/eia860.py
  src/pudl/transform/eia860m.py
  src/pudl/transform/eia861.py
  src/pudl/transform/eia923.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/ferc714.py
  test/conftest.py
  test/unit/io_managers_test.py
  test/unit/metadata_test.py
Labels: eia923, eia860, data-cleaning, harvest

#3569 Update PUDL to use frictionless v5
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
  src/pudl/workspace/datastore.py
Labels: dependencies

#3538 Extract AEO Table 54, with bonus 13/15/20.
  docs/release_notes.rst
  src/pudl/etl/__init__.py
  src/pudl/extract/__init__.py
  src/pudl/extract/eiaaeo.py
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/settings.py
  src/pudl/workspace/datastore.py
Labels: new-data, gridlab, eiaaeo

#3545 Get last non-null value instead of latest XBRL filing.
  docs/release_notes.rst
  src/pudl/io_managers.py
  src/pudl/transform/params/ferc1.py
  test/unit/io_managers_test.py
Labels: ferc1, xbrl

#3583 Update grpcio and ruff and relock dependencies
  .pre-commit-config.yaml
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Labels: dependencies

#3570 Transform NREL ATB
  docs/dev/naming_conventions.rst
  docs/release_notes.rst
  migrations/versions/e0d3904b97f4_add_my_cool_nrel_atb_tables.py
  src/pudl/etl/__init__.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/nrelatb.py
  src/pudl/metadata/sources.py
  src/pudl/transform/__init__.py
  src/pudl/transform/nrelatb.py
Labels: new-data, gridlab, nrelatb

#3588 Enumerate all AEO table 54 schemas.
  src/pudl/metadata/classes.py
  src/pudl/metadata/resources/eiaaeo.py
Labels: gridlab, eiaaeo

#3584 EIA-930 initial transform
  Makefile
  docker/gcp_pudl_etl.sh
  docs/conf.py
  docs/data_access.rst
  docs/data_sources/eia930/eia930_instructions_2026-07-31.pdf
  docs/data_sources/index.rst
  docs/release_notes.rst
  docs/templates/data_source_parent.rst.jinja
  docs/templates/eia860_child.rst.jinja
  docs/templates/eia861_child.rst.jinja
  docs/templates/eia923_child.rst.jinja
  docs/templates/eia930_child.rst.jinja
  docs/templates/epacems_child.rst.jinja
  docs/templates/ferc1_child.rst.jinja
  docs/templates/ferc714_child.rst.jinja
  docs/templates/generic_child_template.rst.jinja
  docs/templates/gridpathratoolkit_child.rst.jinja
  docs/templates/phmsagas_child.rst.jinja
  docs/templates/resource.rst.jinja
  migrations/versions/110e61b9108d_add_eia930_parquet_only_hourly_output.py
  src/pudl/analysis/state_demand.py
  src/pudl/etl/__init__.py
  src/pudl/etl/static_assets.py
  src/pudl/extract/csv.py
  src/pudl/extract/eia930.py
  src/pudl/io_managers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/codes.py
  src/pudl/metadata/dfs.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia930.py
  src/pudl/metadata/resources/ferc714.py
  src/pudl/metadata/resources/gridpathratoolkit.py
  src/pudl/metadata/resources/pudl.py
  src/pudl/output/pudltabl.py
  src/pudl/package_data/eia930/column_maps/balance.csv
  src/pudl/package_data/eia930/column_maps/interchange.csv
  src/pudl/package_data/eia930/column_maps/subregion.csv
  src/pudl/transform/__init__.py
  src/pudl/transform/eia860.py
  src/pudl/transform/eia923.py
  src/pudl/transform/eia930.py
  src/pudl/transform/ferc714.py
  src/pudl/transform/gridpathratoolkit.py
  test/integration/output_test.py
  test/validate/service_territory_test.py
  test/validate/state_demand_test.py
Labels: data-cleaning, new-data, eia930, parquet, gridlab, schema-change
