Repository catalyst-cooperative/pudl, pull requests merged in 2024-07, with the labels that each got.

#3687 Make asset checks matter to integration tests
  src/pudl/etl/__init__.py
  src/pudl/etl/cli.py
  test/conftest.py
Labels: testing, dagster

#3707 Pin ferc_xbrl_extractor<1.5 to avoid conflict between old archives an…
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Labels: ferc1, dependencies, xbrl

#3711 Move `pudl_etl_job_factory` back to `pudl.etl.cli.py`
  src/pudl/etl/cli.py
  test/conftest.py
Labels: dagster, nightly-builds

#3701 Integrate 2023 FERC1 Update
  docs/release_notes.rst
  src/pudl/analysis/ml_tools/experiment_tracking.py
  src/pudl/io_managers.py
  src/pudl/package_data/ferc1/xbrl_calculation_component_fixes.csv
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
  test/validate/ferc1_test.py
Labels: ferc1, data-update

#3716 Disable rolling avg to fill missing fuel prices in EIA923 FRC table
  docs/release_notes.rst
  src/pudl/output/eia923.py
Labels: bug, eia923, data-repair

#3719 Integrate 2024 NREL ATB data
  docs/dev/existing_data_updates.rst
  docs/release_notes.rst
  migrations/versions/2c52a938f5cc_add_tax_credit_cases_into_atb_tables_.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/nrelatb.py
  src/pudl/metadata/sources.py
  src/pudl/package_data/nrelatb/column_maps/data.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/transform/nrelatb.py
  src/pudl/workspace/datastore.py
Labels: new-data, nrelatb

#3710 Update xbrl extraction to use new version
  docs/release_notes.rst
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
  src/pudl/analysis/ml_tools/experiment_tracking.py
  src/pudl/etl/__init__.py
  src/pudl/extract/xbrl.py
  src/pudl/ferc_to_sqlite/__init__.py
  src/pudl/io_managers.py
  src/pudl/metadata/sources.py
  src/pudl/package_data/ferc1/xbrl_calculation_component_fixes.csv
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/settings.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
  src/pudl/validate.py
  src/pudl/workspace/datastore.py
  test/integration/datasette_metadata_test.py
  test/unit/extract/xbrl_test.py
  test/validate/ferc1_test.py
Labels: ferc1, ferc714, ferc2, xbrl, ferc6, ferc60, data-update

#3723 Update allowable not water limited capacity ratio.
  src/pudl/validate.py
Labels: ferc1, nightly-builds, data-validation

#3670 Transform FERC-714 load forecast table
  .github/workflows/release.yml
  docs/release_notes.rst
  migrations/versions/0f594b84fbe7_.py
  migrations/versions/c4e8e24d4a98_updated_yearly_planning_area_demand_.py
  notebooks/work-in-progress/ferc714-core.ipynb
  src/pudl/extract/ferc714.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc714.py
  src/pudl/transform/ferc714.py
Labels: new-data, ferc714

#3724 Remove bad respondent ID 2
  src/pudl/transform/ferc714.py
Labels: ferc714, data-validation

#3730 Release pin on broken dagster 1.7.13 to get 1.7.14
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Labels: dependencies, github-actions

#3721 Integrate EIA 923 ER
  docs/release_notes.rst
  migrations/versions/00bb7a317c64_tweak_atb_column_names_and_descriptions.py
  migrations/versions/00e4382815d9_rename_ba_utility_service_territory_.py
  migrations/versions/0f594b84fbe7_.py
  migrations/versions/110e61b9108d_add_eia930_parquet_only_hourly_output.py
  migrations/versions/172898b30824_add_data_maturity_to_eia923_cooling_.py
  migrations/versions/1c7536e23a27_add_end_use_sectors_generation_table_.py
  migrations/versions/2c52a938f5cc_add_tax_credit_cases_into_atb_tables_.py
  migrations/versions/4013b53cfbd7_add_aeo_electric_sales_by_customer_class.py
  migrations/versions/4e14f531f5d6_add_eia923_energy_storage_monthly_table.py
  migrations/versions/53aababa3b9d_add_electric_sector_generation_table_.py
  migrations/versions/6dcb5e3e07dd_add_my_cool_rate_base_table.py
  migrations/versions/7992e5e19487_eia861_short_form_changes.py
  migrations/versions/823e58cbf0e0_update_foreign_key_relationships_for_.py
  migrations/versions/827e88186933_add_eia861_short_form_table_and_update_.py
  migrations/versions/aee9c15c7394_wipe_and_reset.py
  migrations/versions/b9b6cb1a5405_add_2023_eia_860er_storage_and_solar_.py
  migrations/versions/c0841f4c5e4f_add_eia860_storage_and_coding_tables.py
  migrations/versions/c4e8e24d4a98_updated_yearly_planning_area_demand_.py
  migrations/versions/da38a41d7f99_add_fuel_cost_table.py
  migrations/versions/e0d3904b97f4_add_my_cool_nrel_atb_tables.py
  src/pudl/metadata/codes.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia923.py
  src/pudl/package_data/eia923/column_maps/boiler_fuel.csv
  src/pudl/package_data/eia923/column_maps/byproduct_disposition.csv
  src/pudl/package_data/eia923/column_maps/byproduct_expenses_and_revenues.csv
  src/pudl/package_data/eia923/column_maps/cooling_system_information.csv
  src/pudl/package_data/eia923/column_maps/emissions_control.csv
  src/pudl/package_data/eia923/column_maps/energy_storage.csv
  src/pudl/package_data/eia923/column_maps/fgd_operation_maintenance.csv
  src/pudl/package_data/eia923/column_maps/fuel_receipts_costs.csv
  src/pudl/package_data/eia923/column_maps/generation_fuel.csv
  src/pudl/package_data/eia923/column_maps/generator.csv
  src/pudl/package_data/eia923/file_map.csv
  src/pudl/package_data/eia923/page_map.csv
  src/pudl/package_data/eia923/skiprows.csv
  src/pudl/transform/eia923.py
  src/pudl/validate.py
  src/pudl/workspace/datastore.py
  test/validate/eia_test.py
Labels: eia923, data-update

#3727 If branch is a fork, skip the `release.yml` workflow
  .github/workflows/release.yml
Labels: testing, github-actions

#3734 Eia923 er validation test fix
  test/validate/mcoe_test.py
Labels: eia923, data-update

#3738 Update conda lockfile
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Labels: dependencies, dagster

#3699 Add direct_support keys in `core_eia860__scd_generators_energy_storage` as foreign keys to `core_eia__entity_generators`
  migrations/versions/49d2f4f7d7b7_update_direct_support_plant_ids_to_.py
  src/pudl/helpers.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/__init__.py
  src/pudl/metadata/resources/eia.py
  src/pudl/output/eia.py
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/validate.py
  test/validate/eia_test.py
Labels: eia860, sqlite, data-validation

#3740 Update all documentation URLs to point at nightly not latest
  .github/ISSUE_TEMPLATE/existing_data_updates.md
  .github/ISSUE_TEMPLATE/quarterly_updates.md
  .github/ISSUE_TEMPLATE/versioned_release.md
  .github/pull_request_template.md
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  README.rst
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
  src/pudl/metadata/resources/glue.py
  src/pudl/metadata/templates/datasette-metadata.yml.jinja
Labels: docs

#3743 Remove additional generator from expected `gens_eia860` row count
  test/validate/eia_test.py
Labels: nightly-builds, data-validation

#3745 Once again unpin dagster since it's no longer b0rked.
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Labels: dependencies, dagster

#3751 Add `generator_operating_date` to 860M changelog table
  docs/release_notes.rst
  migrations/versions/52aa9f44b6a7_add_generator_operating_date_to_860_.py
  src/pudl/metadata/resources/eia860m.py
Labels: eia860, schema-change
