Repository catalyst-cooperative/pudl, pull requests merged in 2024-02, with the labels that each got.

#3329 Fix nightly builds 2024-01-31
  devtools/generate_batch_config.py
  docker/gcp_pudl_etl.sh
Labels: nightly-builds

#3335 Fix nightly build failure on EIA plant parts asset reindex problem.
  src/pudl/helpers.py
Labels: nightly-builds

#3332 Trigger CI on merge group; only trigger integration on merge group.
  .github/workflows/docker-build-test.yml
  .github/workflows/pytest.yml
Labels: testing

#3334 Fix nightly build failure 2024-02-01
  docker/gcp_pudl_etl.sh
  src/pudl/helpers.py
Labels: nightly-builds

#3341 Bump exact version pin of grpcio to 1.60.0 and relock
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Labels: dependencies

#3342 Update release notes for PUDL v2024.02.03
  docs/release_notes.rst
Labels: docs, release

#3344 Fix v2024.02.03 build issues
  .github/workflows/build-deploy-pudl.yml
  .github/workflows/release.yml
  docs/release_notes.rst
Labels: release

#3346 Fix (more) v2024.02.03 release issues
  .github/workflows/build-deploy-pudl.yml
  .github/workflows/release.yml
  docs/release_notes.rst
Labels: release

#3349 Re-lock conda with additional explicit dependencies found in v2024.02.05
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Labels: dependencies

#3350 Update to Ruff 0.2 and enable additional rules
  .pre-commit-config.yaml
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
  src/pudl/analysis/allocate_gen_fuel.py
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/analysis/record_linkage/link_cross_year.py
  src/pudl/analysis/service_territory.py
  src/pudl/analysis/spatial.py
  src/pudl/analysis/timeseries_cleaning.py
  src/pudl/extract/dbf.py
  src/pudl/extract/eia861.py
  src/pudl/extract/eia_bulk_elec.py
  src/pudl/extract/excel.py
  src/pudl/extract/ferc2.py
  src/pudl/glue/ferc1_eia.py
  src/pudl/helpers.py
  src/pudl/io_managers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/helpers.py
  src/pudl/output/censusdp1tract.py
  src/pudl/output/ferc1.py
  src/pudl/output/ferc714.py
  src/pudl/output/pudltabl.py
  src/pudl/output/sql/helpers.py
  src/pudl/settings.py
  src/pudl/transform/classes.py
  src/pudl/transform/eia.py
  src/pudl/transform/eia860.py
  src/pudl/transform/eia861.py
  src/pudl/transform/epacems.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
  src/pudl/validate.py
  src/pudl/workspace/datastore.py
  src/pudl/workspace/resource_cache.py
  test/conftest.py
  test/unit/analysis/timeseries_cleaning_test.py
  test/unit/harvest_test.py
  test/unit/transform/classes_test.py
Labels: testing, dependencies

#3353 Update EIA Bulk Electricity archive DOI
  src/pudl/workspace/datastore.py
Labels: datastore, new-data, eia_bulk_elec

#3296 Output Parquet files as well as SQLite in PUDL ETL
  docker/gcp_pudl_etl.sh
  src/pudl/analysis/allocate_gen_fuel.py
  src/pudl/analysis/mcoe.py
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/analysis/record_linkage/eia_ferc1_record_linkage.py
  src/pudl/analysis/service_territory.py
  src/pudl/analysis/state_demand.py
  src/pudl/etl/__init__.py
  src/pudl/etl/check_foreign_keys.py
  src/pudl/etl/cli.py
  src/pudl/etl/eia_bulk_elec_assets.py
  src/pudl/etl/epacems_assets.py
  src/pudl/etl/glue_assets.py
  src/pudl/etl/static_assets.py
  src/pudl/extract/ferc714.py
  src/pudl/ferc_to_sqlite/cli.py
  src/pudl/io_managers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/constants.py
  src/pudl/output/eia.py
  src/pudl/output/eia860.py
  src/pudl/output/eia923.py
  src/pudl/output/ferc1.py
  src/pudl/output/ferc714.py
  src/pudl/output/sql/helpers.py
  src/pudl/transform/eia.py
  src/pudl/transform/eia861.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/ferc714.py
  src/pudl/workspace/setup.py
  test/conftest.py
  test/integration/etl_test.py
  test/unit/io_managers_test.py
  test/validate/service_territory_test.py
Labels: output, parquet

#3098 Split monolithic ferc_to_sqlite ops into per-dataset pieces
  src/pudl/extract/dbf.py
  src/pudl/extract/ferc.py
  src/pudl/extract/xbrl.py
  src/pudl/ferc_to_sqlite/__init__.py
  src/pudl/ferc_to_sqlite/cli.py
  src/pudl/resources.py
  test/conftest.py
  test/integration/datasette_metadata_test.py
  test/unit/extract/xbrl_test.py
Labels: ferc1, testing, performance, github-actions, xbrl, dbf, community

#3352 Add a simple test coverage check.
  .github/workflows/pytest.yml
Labels: testing, github-actions

#3371 Add a simple pytest coverage check on workflow_dispatch or merge queue
  .github/pull_request_template.md
  .github/workflows/pytest.yml
  .pre-commit-config.yaml
  Makefile
  docs/dev/testing.rst
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Labels: testing, github-actions

#3374 Provide CodeCov token in pytest workflow.
  .codecov.yml
  .github/pull_request_template.md
  .github/workflows/pytest.yml
  pyproject.toml
Labels: testing, github-actions

#3361 Update docs + add release template
  .github/ISSUE_TEMPLATE/versioned_release.md
  docs/dev/run_a_release.rst
Labels: docs, release

#3377 Stop using live DB in unit tests!!
  test/conftest.py
  test/unit/conftest.py
  test/unit/extract/xbrl_test.py
Labels: bug, testing, nightly-builds

#3369 Use context managers for opening zipfiles
  src/pudl/convert/censusdp1tract_to_sqlite.py
  src/pudl/extract/dbf.py
  src/pudl/extract/eia176.py
  src/pudl/extract/epacems.py
  src/pudl/extract/excel.py
  src/pudl/extract/ferc714.py
  test/integration/etl_test.py
Labels: bug, nightly-builds

#3379 Add Q4 CEMS data
  README.rst
  docs/data_access.rst
  docs/release_notes.rst
  src/pudl/metadata/sources.py
  src/pudl/workspace/datastore.py
Labels: epacems, new-data

#3389 Extract raw 923 Schedule 8 deprecated tabs (2008-2011)
  src/pudl/extract/eia923.py
  src/pudl/package_data/eia923/column_maps/boiler_nox_operation.csv
  src/pudl/package_data/eia923/column_maps/fgp_operation.csv
  src/pudl/package_data/eia923/file_map.csv
  src/pudl/package_data/eia923/page_map.csv
  src/pudl/package_data/eia923/skipfooter.csv
  src/pudl/package_data/eia923/skiprows.csv
Labels: eia923, new-data

#3373 Extract raw 923 Schedule 8 A-D
  src/pudl/extract/eia923.py
  src/pudl/package_data/eia923/column_maps/boiler_nox_operation.csv
  src/pudl/package_data/eia923/column_maps/byproduct_disposition.csv
  src/pudl/package_data/eia923/column_maps/byproduct_expenses_and_revenues.csv
  src/pudl/package_data/eia923/column_maps/cooling_system_information.csv
  src/pudl/package_data/eia923/column_maps/fgd_operation_maintenance.csv
  src/pudl/package_data/eia923/column_maps/fgp_operation.csv
  src/pudl/package_data/eia923/file_map.csv
  src/pudl/package_data/eia923/page_map.csv
  src/pudl/package_data/eia923/skipfooter.csv
  src/pudl/package_data/eia923/skiprows.csv
Labels: eia923, new-data

#3399 Update nightly build script to distribute parquet
  docker/gcp_pudl_etl.sh
Labels: output, release, parquet, nightly-builds

#3331 Make an EIA860m Changelog table
  migrations/versions/9dfb4295511e_wipe_and_reset.py
  src/pudl/etl/__init__.py
  src/pudl/extract/eia860.py
  src/pudl/extract/eia860m.py
  src/pudl/helpers.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/metadata/resources/eia860m.py
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia860m/column_maps/generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/generator_proposed.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/settings.py
  src/pudl/transform/__init__.py
  src/pudl/transform/eia860.py
  src/pudl/transform/eia860m.py
  test/data/date_merge_unit_test/timeseries_fillin_through_month_expected_out.csv
  test/unit/helpers_test.py
  test/unit/settings_test.py
Labels: eia860

#3409 Parametermize adding a column in the FERC1 transform & ensure `_correction` records end up in the calculation compoent table
  src/pudl/output/ferc1.py
  src/pudl/transform/classes.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
  test/unit/transform/ferc1_test.py
Labels: ferc1, rmi

#3391 Simplify pytest-cov configuration.
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Labels: testing

#3282 Prototype dagster-pandera integration
  src/pudl/etl/__init__.py
  src/pudl/metadata/classes.py
  src/pudl/workspace/resource_cache.py
  test/unit/metadata_test.py
Labels: testing, metadata

#3415 Fix small plants input table to FERC all plants table
  src/pudl/output/ferc1.py
Labels: bug, ferc1, ccai

#3347 Standardize process for merging tagged commits into persistent branches automatically
  .github/workflows/release.yml
  docker/gcp_pudl_etl.sh
  docs/release_notes.rst
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
  src/pudl/extract/excel.py
Labels: release, nightly-builds

#3417 Restore individual FERC 1 plant output tables.
  docs/release_notes.rst
  migrations/versions/98836fb06355_restore_ferc1_plant_output_tables.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/output/ferc1.py
  src/pudl/output/pudltabl.py
  test/validate/plants_steam_ferc1_test.py
Labels: ferc1, output

#3272 Update PUDL to use pandas 2.2
  devtools/datasette/publish.py
  docs/release_notes.rst
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  notebooks/.gitignore
  pyproject.toml
  src/pudl/analysis/allocate_gen_fuel.py
  src/pudl/analysis/mcoe.py
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/analysis/record_linkage/eia_ferc1_record_linkage.py
  src/pudl/analysis/record_linkage/eia_ferc1_train.py
  src/pudl/convert/censusdp1tract_to_sqlite.py
  src/pudl/etl/glue_assets.py
  src/pudl/extract/excel.py
  src/pudl/glue/ferc1_eia.py
  src/pudl/helpers.py
  src/pudl/output/eia923.py
  src/pudl/output/ferc714.py
  src/pudl/output/pudltabl.py
  src/pudl/package_data/glue/eia_ferc1_one_to_many.csv
  src/pudl/package_data/glue/eia_ferc1_one_to_many_orig.csv
  src/pudl/package_data/glue/eia_ferc1_train.csv
  src/pudl/transform/eia.py
  src/pudl/transform/eia861.py
  src/pudl/validate.py
  test/conftest.py
  test/integration/ferc1_eia_train_test.py
  test/unit/analysis/allocate_gen_fuel_test.py
  test/unit/analysis/plant_parts_eia_test.py
  test/unit/extract/csv_test.py
  test/unit/extract/excel_test.py
  test/unit/helpers_test.py
  test/unit/transform/classes_test.py
  test/unit/transform/ferc1_test.py
  test/unit/transform/glue_test.py
  test/validate/eia_test.py
  test/validate/mcoe_test.py
  test/validate/plant_parts_eia_test.py
  test/validate/service_territory_test.py
Labels: testing, performance, dependencies

#3289 Experiment tracking
  .gitignore
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
  src/pudl/analysis/ml_tools/__init__.py
  src/pudl/analysis/ml_tools/experiment_tracking.py
  src/pudl/analysis/ml_tools/models.py
  src/pudl/analysis/record_linkage/classify_plants_ferc1.py
  src/pudl/analysis/record_linkage/eia_ferc1_record_linkage.py
  src/pudl/analysis/record_linkage/embed_dataframe.py
  src/pudl/analysis/record_linkage/link_cross_year.py
  src/pudl/analysis/record_linkage/model_helpers.py
  src/pudl/etl/__init__.py
  src/pudl/package_data/settings/pudl_models.yml
  src/pudl/package_data/settings/record_linkage_model_config.yml
  test/integration/record_linkage_test.py
  test/unit/analysis/ml_tools_test.py
Labels: ccai

#3422 Integrate monthly EIA923 data through November 2023
  docs/release_notes.rst
  src/pudl/package_data/eia923/file_map.csv
  src/pudl/package_data/eia923/page_map.csv
  src/pudl/workspace/datastore.py
  test/validate/eia_test.py
Labels: eia923, new-data

#3421 Address loose ends in versioned release mechanics
  Makefile
  docker/gcp_pudl_etl.sh
  docs/release_notes.rst
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  migrations/versions/c76866dcc23c_rename_valid_till_date_to_valid_until_.py
  pyproject.toml
  src/pudl/etl/__init__.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia860m.py
  src/pudl/transform/eia860m.py
  src/pudl/workspace/resource_cache.py
Labels: metadata, release, nightly-builds

#3427 Close out release notes for PUDL v2024.2.6
  docs/release_notes.rst
Labels: docs, release

#3432 Fix minor issues that arose in v2024.2.6 release
  .github/ISSUE_TEMPLATE/versioned_release.md
  docker/gcp_pudl_etl.sh
Labels: release

#3419 Harvest generator operating dates when they're within a year of one another
  README.rst
  docs/release_notes.rst
  src/pudl/transform/eia.py
Labels: eia860, harvest

#3435 Add new citations of Catalyst / PUDL
  docs/catalyst_cites.bib
  docs/catalyst_pubs.bib
  docs/further_reading.bib
  docs/release_notes.rst
Labels: docs
