Repository catalyst-cooperative/pudl, pull requests merged in 2025-09, with the labels that each got.

#4576 Update links in data dictionary. Add code snippets.
  docs/conf.py
  docs/templates/resource.rst.jinja
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Labels: docs, metadata, eel-hole

#4556 Update FERC-714 DOI and special handling for salt river 2024 filings
  dbt/seeds/etl_full_row_counts.csv
  src/pudl/transform/ferc714.py
  src/pudl/workspace/datastore.py
Labels: data-repair, ferc714

#4594 Update EIA 860M data up through July 2025
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia860m/column_maps/generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860m/column_maps/generator_retired.csv
  src/pudl/package_data/eia860m/file_map.csv
  src/pudl/package_data/eia860m/page_map.csv
  src/pudl/package_data/eia860m/skipfooter.csv
  src/pudl/package_data/eia860m/skiprows.csv
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/glue/utility_id_pudl.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/workspace/datastore.py
Labels: eia860, data-update

#4599 Update release template; exclude more files from triggering full CI
  .github/ISSUE_TEMPLATE/versioned_release.md
  .github/release.yml
  .github/workflows/pytest.yml
  CITATION.cff
  docs/release_notes.rst
Labels: docs, metadata, release

#4595 Publish `_core_phmsa__yearly_distribution_*` numeric data tables
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_by_install_decade/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_by_material/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_by_material_and_size/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_excavation_damages/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_leaks/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_misc/schema.yml
  dbt/models/phmsagas/core_phmsagas__yearly_distribution_operators/schema.yml
  migrations/versions/6de52eea80d1_add_first_draft_of_phmsagas_schema.py
  src/pudl/extract/phmsagas.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/phmsagas.py
  src/pudl/package_data/phmsagas/column_maps/yearly_distribution.csv
  src/pudl/transform/phmsagas.py
Labels: new-data, phmsa

#4622 Add data source documentation for Census PEP FIPS codes
  docs/conf.py
  docs/data_sources/index.rst
  docs/index.rst
  docs/release_notes.rst
  docs/templates/censuspep_child.rst.jinja
  docs/templates/data_source_parent.rst.jinja
  docs/templates/generic_child_template.rst.jinja
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Labels: docs, censuspep

#4625 Update gdal and fix row counts / dbt test that failed nightly build
  .pre-commit-config.yaml
  dbt/models/sec10k/core_sec10k__assn_exhibit_21_subsidiaries_and_eia_utilities/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
  src/pudl/metadata/classes.py
Labels: dependencies, dbt, data-validation

#4623 Close out docs after EIA-930 imputation result validation
  docs/methodology/timeseries_imputation.rst
  docs/release_notes.rst
  docs/templates/eia930_child.rst.jinja
  src/pudl/metadata/resources/eia930.py
Labels: docs, eia930, kaggle

#4627 Experiment with 3rd-party GitHub Runners
  .github/actionlint.yml
  .github/workflows/pytest.yml
  pyproject.toml
Labels: performance, github-actions

#4291 Reintegrate 88888 99999
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  docs/templates/eia861_child.rst.jinja
  src/pudl/transform/eia861.py
  src/pudl/transform/eia923.py
  test/unit/transform/eia861.py
Labels: eia923, data-cleaning, eia861, enhancement, data-loss, missing-info
