Repository catalyst-cooperative/pudl, pull requests merged in 2025-05, with the labels that each got.

#4241 Q2 eia923
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia923/column_maps/boiler_fuel.csv
  src/pudl/package_data/eia923/column_maps/energy_storage.csv
  src/pudl/package_data/eia923/column_maps/fuel_receipts_costs.csv
  src/pudl/package_data/eia923/column_maps/generation_fuel.csv
  src/pudl/package_data/eia923/column_maps/generator.csv
  src/pudl/package_data/eia923/column_maps/plant_frame.csv
  src/pudl/package_data/eia923/column_maps/stocks.csv
  src/pudl/package_data/eia923/file_map.csv
  src/pudl/package_data/eia923/page_map.csv
  src/pudl/package_data/eia923/skipfooter.csv
  src/pudl/package_data/eia923/skiprows.csv
  src/pudl/workspace/datastore.py
Labels: eia923, data-update

#4171 Migrate vs_bounds validation tests to dbt
  dbt/macros/debug_quantile_constraints.sql
  dbt/macros/schema.yml
  dbt/macros/weighted_quantile.sql
  dbt/models/eia923/out_eia923__fuel_receipts_costs/schema.yml
  dbt/models/eia923/out_eia923__generation_fuel_combined/schema.yml
  dbt/models/eia923/out_eia923__monthly_boiler_fuel/schema.yml
  dbt/models/eia923/out_eia923__yearly_boiler_fuel/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_steam_plants_fuel_by_plant_sched402/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_steam_plants_fuel_by_plant_sched402/validate_ferc1__yearly_steam_plants_fuel_by_plant_sched402.sql
  dbt/models/ferc1/out_ferc1__yearly_steam_plants_fuel_sched402/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_steam_plants_sched402/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_steam_plants_sched402/validate_ferc1__yearly_steam_plants_sched402.sql
  dbt/models/output/_out_eia__yearly_generators/schema.yml
  dbt/models/output/out_eia__monthly_generators/schema.yml
  dbt/models/output/out_eia__yearly_generators/schema.yml
  dbt/tests/data_tests/generic_tests/expect_column_weighted_quantile_values_to_be_between.sql
  dbt/tests/data_tests/generic_tests/expect_quantile_constraints.sql
  dbt/tests/unit_tests/test_weighted_quantile.sql
  docs/dev/debugging_quantile_checks.rst
  docs/dev/testing.rst
  docs/release_notes.rst
  src/pudl/scripts/dbt_helper.py
  src/pudl/validate.py
  test/unit/dbt_helper_test.py
  test/validate/bf_eia923_test.py
  test/validate/frc_eia923_test.py
  test/validate/fuel_ferc1_test.py
  test/validate/gens_eia860_test.py
  test/validate/gf_eia923_test.py
  test/validate/mcoe_test.py
  test/validate/plants_steam_ferc1_test.py
Labels: testing, dbt, data-validation

#4245 Remove deprecated fbp_ferc1 vs_bounds data validations.
  test/validate/fbp_ferc1_test.py
Labels: ferc1, dbt, data-validation

#4198 Migrate existing asset checks into dbt data tests
  dbt/models/vcerare/out_vcerare__hourly_available_capacity_factor/schema.yml
  src/pudl/transform/eia860.py
  src/pudl/transform/eia923.py
  src/pudl/transform/ferc714.py
  src/pudl/transform/vcerare.py
Labels: testing, dbt, data-validation

#4215 Integrating (most of) 2024 FERC Form 1
  dbt/seeds/etl_fast_row_counts.csv
  dbt/seeds/etl_full_row_counts.csv
  docs/dev/pudl_id_mapping.rst
  docs/release_notes.rst
  src/pudl/metadata/sources.py
  src/pudl/output/ferc1.py
  src/pudl/package_data/ferc1/xbrl_calculation_component_fixes.csv
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/glue/utility_id_ferc1.csv
  src/pudl/package_data/glue/utility_id_pudl.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/settings.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
  src/pudl/workspace/datastore.py
Labels: ferc1, data-update

#4253 Skip MCOE null cols check that is crashing pytest worker.
  test/validate/mcoe_test.py
Labels: testing, nightly-builds, data-validation

#4252 Resolve GeoPandas library warnings
  src/pudl/analysis/spatial.py
Labels: geospatial, community

#4259 Disable row counts for etl-fast and remove nightly dbt target
  dbt/README.md
  dbt/dbt_project.yml
  dbt/profiles.yml
  dbt/tests/data_tests/generic_tests/check_row_counts_per_partition.sql
Labels: dbt, data-validation

#4260 Improve ergonomics of FERC 1 explosion tables.
  dbt/models/ferc1/out_ferc1__yearly_detailed_balance_sheet_assets/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_detailed_balance_sheet_liabilities/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_detailed_income_statements/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_rate_base/schema.yml
  migrations/versions/375fdd29a34b_add_utility_name_and_pudl_id_to_rate_.py
  migrations/versions/b2f5c3b44300_add_utility_name_and_pudl_id_to_.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/output/ferc1.py
Labels: ferc1, schema-change

#4250 Update FERC DOIs and XBRL to SQLite settings for 2024
  .github/workflows/pytest.yml
  dbt/seeds/etl_fast_row_counts.csv
  docs/data_access.rst
  docs/release_notes.rst
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/transform/ferc714.py
  src/pudl/workspace/datastore.py
Labels: ferc2, xbrl, dbf, ferc6, ferc60, data-update

#4153 fix: rowcounts check now fails on missing/extra partitions
  dbt/macros/row_counts_per_partition.sql
  dbt/seeds/etl_full_row_counts.csv
  dbt/tests/data_tests/generic_tests/check_row_counts_per_partition.sql
  dbt/tests/unit_tests/test_row_counts_by_partition.sql
  dbt/tests/unit_tests/test_row_counts_extra_partition.sql
  dbt/tests/unit_tests/test_row_counts_missing_partition.sql
  dbt/tests/unit_tests/test_row_counts_null_partition_column.sql
  dbt/tests/unit_tests/test_row_counts_wrong_partition.sql
  test/integration/dbt_test.py
Labels: testing, dbt, data-validation

#4240 Q2 eia860m
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/metadata/codes.py
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia860m/column_maps/generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860m/column_maps/generator_retired.csv
  src/pudl/package_data/eia860m/file_map.csv
  src/pudl/package_data/eia860m/page_map.csv
  src/pudl/package_data/eia860m/skipfooter.csv
  src/pudl/package_data/eia860m/skiprows.csv
  src/pudl/package_data/eia923/column_maps/boiler_fuel.csv
  src/pudl/package_data/eia923/column_maps/energy_storage.csv
  src/pudl/package_data/eia923/column_maps/fuel_receipts_costs.csv
  src/pudl/package_data/eia923/column_maps/generation_fuel.csv
  src/pudl/package_data/eia923/column_maps/generator.csv
  src/pudl/package_data/eia923/column_maps/plant_frame.csv
  src/pudl/package_data/eia923/column_maps/stocks.csv
  src/pudl/package_data/eia923/file_map.csv
  src/pudl/package_data/eia923/page_map.csv
  src/pudl/package_data/eia923/skipfooter.csv
  src/pudl/package_data/eia923/skiprows.csv
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/glue/utility_id_pudl.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/transform/eia923.py
  src/pudl/workspace/datastore.py
Labels: eia923, eia860, data-update

#4269 Bloat the Google Batch VM
  dbt/package-lock.yml
  dbt/seeds/etl_full_row_counts.csv
  devtools/generate_batch_config.py
Labels: ferc714, eia930, nightly-builds

#4271 Remove memory intensive output tests obviated by dbt row counts.
  dbt/README.md
  dbt/seeds/etl_full_row_counts.csv
  docker/Dockerfile
  src/pudl/scripts/dbt_helper.py
  test/integration/dbt_test.py
  test/integration/output_test.py
  test/unit/dbt_helper_test.py
  test/validate/gen_eia923_test.py
  test/validate/mcoe_test.py
Labels: output, testing, github-actions

#4266 add min_count=1 into groupby sum for heat rate
  src/pudl/analysis/mcoe.py
  test/integration/ferc_dbf_extract_test.py
Labels: output

#4209 Fix capitalizations in bibtex files
  docs/catalyst_cites.bib
  docs/catalyst_pubs.bib
  docs/further_reading.bib
Labels: docs

#4274 Disable Datasette deployment in nightly builds
  docker/gcp_pudl_etl.sh
Labels: docs, datasette, nightly-builds

#4279 Close out release notes for v2025.5.0
  .zenodo.json
  CITATION.cff
  docs/release_notes.rst
Labels: docs, release

#4289 Post PUDL v2025.5.0 release cleanup.
  .github/ISSUE_TEMPLATE/versioned_release.md
  docker/gcp_pudl_etl.sh
Labels: release, nightly-builds

#4287 Remove and/or relocate some FERC Form 1 data tests
  dbt/models/ferc1/out_ferc1__yearly_all_plants/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_hydroelectric_plants_sched406/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_pumped_storage_plants_sched408/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_small_plants_sched410/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_steam_plants_fuel_sched402/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_steam_plants_sched402/schema.yml
  docs/templates/ferc1_child.rst.jinja
  test/integration/ferc_xbrl_extract_test.py
  test/validate/ferc1_test.py
Labels: ferc1, testing, dbt, data-validation

#4296 Remove no_null_rows tests
  src/pudl/analysis/mcoe.py
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/output/pudltabl.py
  src/pudl/transform/eiaaeo.py
  src/pudl/validate.py
  test/integration/output_test.py
  test/validate/mcoe_test.py
Labels: output, testing, ppe, dagster, data-validation, eiaaeo

#4298 Skip `ferc1_eia_train_test` in GHA CI to cut memory usage
  pyproject.toml
  test/integration/ferc1_eia_train_test.py
Labels: eia923, ferc1, eia860, testing, performance, record-linkage

#4247 Eia930 imputation comparison
  dbt/models/eia930/out_eia930__hourly_operations/schema.yml
  dbt/models/eia930/out_eia930__hourly_subregion_demand/schema.yml
  docs/release_notes.rst
  notebooks/work-in-progress/imputation_comparison.ipynb
  notebooks/work-in-progress/timeseries-comparison.ipynb
  pyproject.toml
  src/pudl/analysis/timeseries_cleaning.py
  src/pudl/analysis/timeseries_evaluation.py
  src/pudl/metadata/dfs.py
  src/pudl/output/eia930.py
  test/integration/ferc1_eia_train_test.py
Labels: data-repair, eia930

#4273 Add core table for EIA AEO Table 2
  dbt/models/eiaaeo/core_eiaaeo__yearly_projected_energy_use_by_sector_and_type/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  migrations/versions/eda43a449586_add_eiaaeo_table_2.py
  src/pudl/extract/eiaaeo.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eiaaeo.py
  src/pudl/transform/eiaaeo.py
Labels: new-data, eiaaeo

#4303 Document our timeseries imputation methodology
  docs/index.rst
  docs/methodology/index.rst
  docs/methodology/timeseries_imputation.rst
  docs/templates/eia930_child.rst.jinja
  docs/templates/ferc714_child.rst.jinja
  src/pudl/analysis/timeseries_cleaning.py
  src/pudl/output/eia930.py
  src/pudl/output/ferc714.py
Labels: analysis, data-repair, docs, ferc714, eia930, time
