Repository catalyst-cooperative/pudl, pull requests merged in 2025-03, with the labels that each got.

#4090 make weighted quantile continuous by interpolation
  dbt/README.md
  dbt/macros/weighted_quantile.sql
  dbt/models/ferc1/out_ferc1__yearly_steam_plants_sched402/schema.yml
  dbt/models/output/out_eia__monthly_generators/schema.yml
  dbt/models/output/out_eia__yearly_generators/schema.yml
  dbt/tests/unit_tests/test_weighted_quantile.sql
Labels: testing, dbt, data-validation

#4127 Update dependencies, pre-commit hooks, apply ruff linter.
  .pre-commit-config.yaml
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
  src/pudl/analysis/record_linkage/eia_ferc1_train.py
  src/pudl/etl/glue_assets.py
  src/pudl/helpers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/helpers.py
  src/pudl/output/ferc1.py
  src/pudl/transform/ferc1.py
Labels: dependencies

#4122 Run dbt data tests in CI / integration tests
  .github/workflows/pytest.yml
  dbt/README.md
  dbt/dbt_project.yml
  dbt/models/output/out_eia__monthly_generators/schema.yml
  dbt/models/output/out_eia__yearly_generators/schema.yml
  dbt/package-lock.yml
  dbt/packages.yml
  dbt/profiles.yml
  dbt/seeds/etl_fast_row_counts.csv
  devtools/dbt_helper.py
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
  src/pudl/package_data/settings/etl_fast.yml
  test/conftest.py
  test/integration/dbt_test.py
Labels: testing, dbt, data-validation

#4113 Refactor Time series cleaning
  .pre-commit-config.yaml
  dbt/models/ferc714/core_ferc714__hourly_planning_area_demand/schema.yml
  dbt/seeds/etl_fast_row_counts.csv
  dbt/seeds/etl_full_row_counts.csv
  docker/Dockerfile
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  migrations/versions/0d951848efc7_add_imputation_code_table.py
  notebooks/work-in-progress/timeseries_cleaning_regression.ipynb
  pyproject.toml
  src/pudl/analysis/state_demand.py
  src/pudl/analysis/timeseries_cleaning.py
  src/pudl/etl/static_assets.py
  src/pudl/extract/ferc714.py
  src/pudl/metadata/dfs.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc714.py
  src/pudl/metadata/resources/pudl.py
  src/pudl/output/ferc714.py
  src/pudl/transform/ferc714.py
  test/unit/analysis/timeseries_cleaning_test.py
Labels: data-repair, ferc714, eia930, time

#4147 Remove obsolete, failing FERC-714 state demand row count test.
  test/validate/state_demand_test.py
Labels: testing, ferc714, data-validation

#4146 Remove deprecated minmax rows tests
  .github/pull_request_template.md
  Makefile
  docs/dev/existing_data_updates.rst
  docs/dev/testing.rst
  src/pudl/validate.py
  test/validate/eia_test.py
  test/validate/epacamd_eia_test.py
  test/validate/ferc1_test.py
  test/validate/mcoe_test.py
  test/validate/service_territory_test.py
Labels: testing, nightly-builds, dbt, data-validation

#4117 Migrate correlation validation test
  dbt/dbt_project.yml
  dbt/models/ferc1/out_ferc1__yearly_steam_plants_fuel_by_plant_sched402/schema.yml
  dbt/tests/data_tests/generic_tests/check_column_correlation.sql
  dbt/tests/data_tests/generic_tests/check_row_counts_per_partition.sql
  dbt/tests/data_tests/generic_tests/expect_column_weighted_quantile_values_to_be_between.sql
  dbt/tests/data_tests/generic_tests/no_null_rows.sql
  dbt/tests/data_tests/generic_tests/not_all_null.sql
  dbt/tests/data_tests/generic_tests/schema.yml
  dbt/tests/data_tests/generic_tests/test_idle_capacity.sql
  docs/release_notes.rst
  test/validate/fbp_ferc1_test.py
Labels: testing, dbt, data-validation
