Repository catalyst-cooperative/pudl, pull requests merged in 2025-02, with the labels that each got.

#3988 Integrate EIA 860 multifuel table
  docs/release_notes.rst
  docs/templates/eia860_child.rst.jinja
  migrations/versions/3b65c445d4b4_add_multifuel_table.py
  src/pudl/extract/eia860.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/__init__.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/metadata/resources/mcoe.py
  src/pudl/package_data/eia860/column_maps/generator.csv
  src/pudl/package_data/eia860/column_maps/generator_existing.csv
  src/pudl/package_data/eia860/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860/column_maps/generator_retired.csv
  src/pudl/package_data/eia860/column_maps/multifuel_existing.csv
  src/pudl/package_data/eia860/column_maps/multifuel_proposed.csv
  src/pudl/package_data/eia860/column_maps/multifuel_retired.csv
  src/pudl/transform/eia.py
  src/pudl/transform/eia860.py
Labels: eia860, new-data, community

#4035 Add sec10k metadata directly in PUDL
  docker/Dockerfile
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  migrations/versions/1189596f92ed_add_sec10k_tables.py
  migrations/versions/1d963598bf21_.py
  migrations/versions/4d7466b7f5c1_add_sec10k_tables.py
  migrations/versions/ac67e04d1383_use_sec10k_column_suffix.py
  pyproject.toml
  src/pudl/analysis/__init__.py
  src/pudl/analysis/pudl_models.py
  src/pudl/etl/__init__.py
  src/pudl/io_managers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia923.py
  src/pudl/metadata/resources/sec10k.py
Labels: testing, metadata, github-actions, sec10k

#4049 Update PUDL bibliography
  docs/catalyst_cites.bib
  docs/catalyst_pubs.bib
Labels: docs

#4046 Change SEC 10-K table schemas to fix FK errors and use quarterly naming.
  docs/release_notes.rst
  migrations/versions/1e2ec7bf2b64_rename_sec_10k_tables_to_reflect_.py
  src/pudl/analysis/pudl_models.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/metadata/resources/sec10k.py
Labels: docs, sqlite, metadata, schema-change, sec10k

#4052 Add Q4 2024 CEMS data to ETL
  docs/release_notes.rst
  src/pudl/metadata/sources.py
  src/pudl/workspace/datastore.py
Labels: epacems, data-update

#4051 Update Q1 2025 EIA bulk electricity data
  docs/release_notes.rst
  src/pudl/workspace/datastore.py
Labels: eia_bulk_elec, data-update

#4047 Eia860m eia923 q1 2025
  docs/release_notes.rst
  src/pudl/metadata/codes.py
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia860m/column_maps/generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860m/column_maps/generator_retired.csv
  src/pudl/package_data/eia860m/file_map.csv
  src/pudl/package_data/eia860m/page_map.csv
  src/pudl/package_data/eia860m/skipfooter.csv
  src/pudl/package_data/eia860m/skiprows.csv
  src/pudl/package_data/eia923/file_map.csv
  src/pudl/package_data/eia923/page_map.csv
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/glue/utility_id_pudl.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/workspace/datastore.py
  test/validate/eia_test.py
Labels: eia923, eia860, data-update

#4057 Publish yearly detailed FERC1 accounting tables
  docs/release_notes.rst
  migrations/versions/b2acd10c5d2b_add_my_cool_ferc1_detailed_tables.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/output/ferc1.py
  src/pudl/package_data/ferc1/xbrl_factoid_rate_base_tags.csv
  src/pudl/package_data/ferc1/xbrl_factoid_revenue_requirement_tags.csv
Labels: ferc1

#4062 Close out release notes for PUDL v2025.2.0
  CITATION.cff
  docs/data_sources/other_data.rst
  docs/release_notes.rst
Labels: docs, release

#4084 New citations!
  docs/catalyst_cites.bib
Labels: docs
