Repository catalyst-cooperative/pudl, pull requests merged in 2025-08, with the labels that each got.

#4509 Test calculate rowcounts
  test/unit/dbt_helper_test.py
Labels: testing, dbt, data-validation

#4502 Contributor PR: Integrate EIA Schedule 8a
  dbt/models/eia923/_core_eia923__yearly_byproduct_disposition/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  migrations/versions/9466571f3daa_add_eia_923_byproduct_disposition_table.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia923.py
  src/pudl/output/ferc1.py
  src/pudl/package_data/eia923/column_maps/byproduct_disposition.csv
  src/pudl/transform/eia923.py
Labels: eia923, new-data, community

#4527 Fix flood of pydantic warnings output when importing PUDL
  src/pudl/metadata/classes.py
Labels: data-types

#4507 Ferc1 2024 2nd pass
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/package_data/glue/utility_id_ferc1.csv
  src/pudl/package_data/glue/utility_id_pudl.csv
  src/pudl/workspace/datastore.py
Labels: ferc1, data-update

#4497 Fix ferc714 misalign
  docs/release_notes.rst
  src/pudl/transform/ferc714.py
Labels: data-repair, ferc714

#4500 Extract PHMSA Gas Distribution 1970-1989
  docs/release_notes.rst
  src/pudl/extract/extractor.py
  src/pudl/extract/phmsagas.py
  src/pudl/metadata/sources.py
  src/pudl/package_data/phmsagas/column_maps/yearly_distribution.csv
  src/pudl/package_data/phmsagas/file_map.csv
  src/pudl/package_data/phmsagas/page_map.csv
  src/pudl/package_data/phmsagas/skipfooter.csv
  src/pudl/package_data/phmsagas/skiprows.csv
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/settings.py
  test/unit/extract/csv_test.py
Labels: new-data, phmsa

#4528 Add ferc1 util xbrl dbf id to out
  dbt/models/ferc1/out_ferc1__yearly_all_plants/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_balance_sheet_assets_sched110/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_balance_sheet_liabilities_sched110/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_cash_flows_sched120/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_depreciation_by_function_sched219/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_depreciation_changes_sched219/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_depreciation_summary_sched336/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_detailed_balance_sheet_assets/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_detailed_balance_sheet_liabilities/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_detailed_income_statements/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_energy_dispositions_sched401/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_energy_sources_sched401/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_hydroelectric_plants_sched406/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_income_statements_sched114/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_operating_expenses_sched320/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_operating_revenues_sched300/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_other_regulatory_liabilities_sched278/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_plant_in_service_sched204/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_pumped_storage_plants_sched408/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_purchased_power_and_exchanges_sched326/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_rate_base/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_retained_earnings_sched118/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_sales_by_rate_schedules_sched304/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_small_plants_sched410/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_steam_plants_fuel_by_plant_sched402/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_steam_plants_fuel_sched402/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_steam_plants_sched402/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_transmission_lines_sched422/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_utility_plant_summary_sched200/schema.yml
  docs/release_notes.rst
  migrations/versions/06ca81ec4de6_.py
  migrations/versions/341e3c844e85_add_xbrl_dbf_util_id_cols_to_ferc1_out_.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/output/ferc1.py
Labels: ferc1, enhancement

#4536 add may june 2025 to eia860m
  dbt/models/sec10k/core_sec10k__assn_exhibit_21_subsidiaries_and_eia_utilities/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia860m/column_maps/generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860m/column_maps/generator_retired.csv
  src/pudl/package_data/eia860m/file_map.csv
  src/pudl/package_data/eia860m/page_map.csv
  src/pudl/package_data/eia860m/skipfooter.csv
  src/pudl/package_data/eia860m/skiprows.csv
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/glue/utility_id_pudl.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/workspace/datastore.py
Labels: eia860, data-update

#4538 Update EIA 923 w/ 2025 Q3
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/package_data/eia923/file_map.csv
  src/pudl/transform/eia923.py
  src/pudl/workspace/datastore.py
  test/unit/transform/eia923_test.py
Labels: eia923, data-update

#4543 Close out release notes for PUDL v2025.8.0
  .github/workflows/pytest.yml
  CITATION.cff
  docs/release_notes.rst
Labels: release

#4540 Fix pytest logs
  src/pudl/__init__.py
  src/pudl/helpers.py
  src/pudl/init_logging.py
  src/pudl/logging_helpers.py
  src/pudl/scripts/dbt_helper.py
  test/conftest.py
  test/integration/ferc_dbf_extract_test.py
  test/unit/dbt_helper_test.py
Labels: testing

#4546 Add GeoParquet support and integrate Census DP1 tables
  Makefile
  dbt/models/censusdp1tract/out_censusdp1tract__counties/schema.yml
  dbt/models/censusdp1tract/out_censusdp1tract__states/schema.yml
  dbt/models/censusdp1tract/out_censusdp1tract__tracts/schema.yml
  dbt/models/ferc714/out_ferc714__georeferenced_respondents/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/conf.py
  docs/data_sources/index.rst
  docs/index.rst
  docs/release_notes.rst
  docs/templates/censusdp1tract_child.rst.jinja
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
  src/pudl/analysis/service_territory.py
  src/pudl/analysis/state_demand.py
  src/pudl/etl/__init__.py
  src/pudl/etl/asset_checks.py
  src/pudl/helpers.py
  src/pudl/io_managers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/constants.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/censusdp1tract.py
  src/pudl/metadata/resources/ferc714.py
  src/pudl/metadata/sources.py
  src/pudl/output/censusdp1tract.py
  src/pudl/output/ferc714.py
Labels: output, ferc714, performance, parquet, censusdp1tract

#4561 Update docs/release notes to reflect new Kaggle setup.
  docs/data_access.rst
  docs/release_notes.rst
Labels: docs, kaggle

#4548 Stop quietly nulling values that conflict with ENUM constraints
  docs/release_notes.rst
  migrations/versions/76397c4db652_fix_enum_constraints.py
  src/pudl/extract/dbf.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/codes.py
  src/pudl/metadata/fields.py
  src/pudl/output/ferc1.py
  test/conftest.py
  test/integration/ferc_dbf_extract_test.py
  test/integration/ferc_xbrl_extract_test.py
  test/unit/workspace/datastore_test.py
Labels: bug, data-cleaning

#4532 dbt docs: debugging failures
  docs/dev/data_validation_quickstart.rst
  docs/dev/data_validation_reference.rst
  src/pudl/dbt_wrapper.py
  src/pudl/scripts/dbt_helper.py
  test/unit/dbt_helper_test.py
Labels: docs, dbt

#4573 Fixes to appease make pre-commit
  .pre-commit-config.yaml
  devtools/datasette/fly/run.sh
  devtools/pudl_to_postgres.sh
  devtools/pyspy_pudl_etl.sh
  notebooks/work-in-progress/CEMS_by_utility.ipynb
  notebooks/work-in-progress/better-heatrates.ipynb
  notebooks/work-in-progress/data-zipper-dev.ipynb
  notebooks/work-in-progress/eia861-transform.ipynb
  notebooks/work-in-progress/eia_bulk_data_testbed.ipynb
  notebooks/work-in-progress/eia_column_changes_through_time.ipynb
  notebooks/work-in-progress/epacems-parquet.ipynb
  notebooks/work-in-progress/explore-CEMS.ipynb
  notebooks/work-in-progress/explore-data-validation.ipynb
  notebooks/work-in-progress/explore-mcoe.ipynb
  notebooks/work-in-progress/explore-output-tables.ipynb
  notebooks/work-in-progress/ferc714-core.ipynb
  notebooks/work-in-progress/ferc714-output.ipynb
  notebooks/work-in-progress/havest_examples.ipynb
  notebooks/work-in-progress/jupyterhub-test.ipynb
  notebooks/work-in-progress/make_master_unit_list_eia.ipynb
  notebooks/work-in-progress/output-sql-ready.ipynb
  notebooks/work-in-progress/replace_eia_api.ipynb
  notebooks/work-in-progress/state-demand.ipynb
  notebooks/work-in-progress/test-validation-tests.ipynb
Labels: testing

#4567 Add EIA-API data source page
  docs/conf.py
  docs/data_sources/eiaapi/eiaapi_technical_documentation_2025-08-26.html
  docs/data_sources/index.rst
  docs/data_sources/other_data.rst
  docs/index.rst
  docs/release_notes.rst
  docs/templates/data_source_parent.rst.jinja
  docs/templates/eiaapi_child.rst.jinja
  docs/templates/generic_child_template.rst.jinja
  src/pudl/metadata/sources.py
  src/pudl/transform/eiaapi.py
Labels: docs, eiaapi

#4572 Add new citations up through August 2025
  docs/catalyst_cites.bib
Labels: docs
