Repository catalyst-cooperative/pudl, pull requests merged in 2025-07, with the labels that each got.

#4034 fix: move expensive TimezoneFinder call out of top level.
  src/pudl/transform/eia.py
Labels: performance

#4383 Close out release notes for PUDL v2025.7.0
  .zenodo.json
  CITATION.cff
  docs/release_notes.rst
Labels: docs, release

#4366 Migrate `test_nuclear_fraction` to validation test
  dbt/models/eia923/core_eia923__monthly_generation_fuel_nuclear/schema.yml
  dbt/models/eia923/out_eia923__monthly_generation_fuel_combined/schema.yml
  dbt/models/output/out_eia__monthly_generators/schema.yml
  dbt/tests/data_tests/generic_tests/expect_column_fraction_with_condition.sql
  dbt/tests/data_tests/generic_tests/schema.yml
  test/integration/output_test.py
Labels: eia923, testing, dbt, data-validation

#4445 fix: force `run_code_checks` to be a valid boolean value
  .github/workflows/pytest.yml
Labels: testing, github-actions

#4446 Migrate resource description metadata for eia860
  docs/release_notes.rst
  src/pudl/metadata/resources/eia860.py
Labels: eia860, metadata

#4473 feat: add IAP to usage metrics dashboard
  terraform/.terraform.lock.hcl
  terraform/main.tf
  terraform/pudl-usage-metrics-dashboard.tf
Labels: cloud

#4475 Migrate resource description metadata for *_pudl__* tables
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/metadata/resources/ferc1_eia_record_linkage.py
  src/pudl/metadata/resources/ferc714.py
  src/pudl/metadata/resources/pudl.py
  src/pudl/metadata/warnings.py
Labels: docs, metadata

#4479 Migrate eia861 metadata
  src/pudl/metadata/resources/eia861.py
  src/pudl/metadata/warnings.py
Labels: eia861, metadata

#4464 Migrate resource description metadata for eia tables
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eiaapi.py
  src/pudl/metadata/resources/ferc1_eia_record_linkage.py
  src/pudl/metadata/resources/mcoe.py
Labels: docs, metadata

#4490 Update PUDL development environment to Python 3.13
  .github/workflows/pytest.yml
  .github/workflows/release.yml
  .github/workflows/update-conda-lockfile.yml
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Labels: dependencies
