Repository catalyst-cooperative/pudl, pull requests merged in 2025-04, with the labels that each got.

#4123 Add test to compare column values
  dbt/models/output/out_eia__yearly_assn_plant_parts_plant_gen/schema.yml
  dbt/models/output/out_eia__yearly_plant_parts/schema.yml
  dbt/tests/data_tests/generic_tests/expect_includes_all_value_combinations_from.sql
  dbt/tests/data_tests/generic_tests/schema.yml
  docs/release_notes.rst
  src/pudl/analysis/plant_parts_eia.py
Labels: testing, dbt, data-validation

#4149 EIA 930 subregion demand imputation
  dbt/models/eia930/out_eia930__hourly_subregion_demand/schema.yml
  dbt/seeds/etl_fast_row_counts.csv
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  notebooks/work-in-progress/eia930-demand-imputation-validation.ipynb
  notebooks/work-in-progress/timeseries-comparison.ipynb
  src/pudl/analysis/__init__.py
  src/pudl/analysis/timeseries_cleaning.py
  src/pudl/analysis/timeseries_evaluation.py
  src/pudl/etl/__init__.py
  src/pudl/metadata/dfs.py
  src/pudl/metadata/resources/eia930.py
  src/pudl/output/__init__.py
  src/pudl/output/eia930.py
  src/pudl/output/ferc714.py
  test/integration/timeseries_plot_test.py
Labels: data-repair, eia930, time, schema-change

#4114 "Bespoke" category dbt validation migrations (easy/medium only)
  dbt/models/eia860/_core_eia860__fgd_equipment/schema.yml
  dbt/models/eia860/out_eia860__yearly_ownership/schema.yml
  dbt/models/eia923/out_eia923__monthly_generation_fuel_combined/schema.yml
  dbt/models/eia923/out_eia923__yearly_generation_fuel_combined/schema.yml
  dbt/models/ferc1/core_ferc1__yearly_hydroelectric_plants_sched406/schema.yml
  dbt/models/ferc1/core_ferc1__yearly_pumped_storage_plants_sched408/schema.yml
  dbt/models/ferc1/core_ferc1__yearly_small_plants_sched410/schema.yml
  dbt/models/ferc1/core_ferc1__yearly_steam_plants_fuel_sched402/schema.yml
  dbt/models/ferc1/core_ferc1__yearly_steam_plants_sched402/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_steam_plants_fuel_by_plant_sched402/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_steam_plants_fuel_by_plant_sched402/validate_ferc1__yearly_steam_plants_fuel_by_plant_sched402.sql
  dbt/models/ferc1/out_ferc1__yearly_steam_plants_sched402/schema.yml
  dbt/models/output/_out_eia__yearly_generators/schema.yml
  dbt/models/vcerare/out_vcerare__hourly_available_capacity_factor/schema.yml
  dbt/tests/data_tests/generic_tests/expect_complete_valid_ownership.sql
  dbt/tests/data_tests/generic_tests/expect_consistent_generator_ids.sql
  dbt/tests/data_tests/generic_tests/expect_fgd_cost_totals_to_agree.sql
  dbt/tests/data_tests/generic_tests/expect_matching_primary_fuel_by_cost_and_mmbtu.sql
  dbt/tests/data_tests/generic_tests/expect_one2one_mapping.sql
  dbt/tests/data_tests/generic_tests/expect_unique_column_combination.sql
  dbt/tests/data_tests/generic_tests/expect_unique_utility_id_eia.sql
  dbt/tests/data_tests/generic_tests/expect_valid_hour_of_year.sql
  dbt/tests/data_tests/generic_tests/schema.yml
  dbt/tests/data_tests/singular_tests/validate__out_eia__yearly_generators__nuclear_units.sql
  dbt/tests/data_tests/singular_tests/validate_core_eia860__assn_boiler_generator__associations.sql
  dbt/tests/data_tests/singular_tests/validate_out_gridpathratoolkit__hourly_available_capacity_factor__aggregation_groups.sql
  devtools/dbt_helper.py
  docs/release_notes.rst
  migrations/versions/58ff77a4079c_add_operator_utility_id_eia_to_core_.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/transform/eia860.py
  src/pudl/transform/gridpathratoolkit.py
  src/pudl/transform/vcerare.py
  test/validate/eia860_test.py
  test/validate/fbp_ferc1_test.py
  test/validate/ferc1_test.py
  test/validate/gf_eia923_test.py
  test/validate/plants_steam_ferc1_test.py
Labels: testing, dbt, data-validation

#4168 fix: up fly app timeout
  devtools/datasette/fly/production.toml
  devtools/datasette/fly/staging.toml
Labels: cloud, datasette

#4166 Require conda-lock v3
  .github/workflows/update-conda-lockfile.yml
  Makefile
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Labels: dependencies

#4164 Remove ZEROLab from PUDL Sustainers.
  README.rst
  docs/index.rst
  terraform/main.tf
  terraform/pudl-usage-metrics-dashboard.tf
Labels: docs, cloud

#4170 Make sec10k metadata consistent with archiver
  src/pudl/metadata/sources.py
  src/pudl/settings.py
Labels: metadata, zenodo, sec10k

#4162 EIA 930 BA level imputation
  dbt/models/eia930/out_eia930__hourly_operations/schema.yml
  dbt/seeds/etl_fast_row_counts.csv
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  notebooks/work-in-progress/timeseries-comparison.ipynb
  src/pudl/analysis/timeseries_cleaning.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia930.py
  src/pudl/output/eia930.py
  src/pudl/transform/eia930.py
Labels: data-repair, eia930, time, schema-change

#4183 Remove obsolete vs_self, vs_historical, & check_unique_rows tests
  dbt/models/ferc1/core_ferc1__yearly_hydroelectric_plants_sched406/schema.yml
  dbt/models/ferc1/core_ferc1__yearly_pumped_storage_plants_sched408/schema.yml
  src/pudl/validate.py
  test/validate/bf_eia923_test.py
  test/validate/eia_test.py
  test/validate/fbp_ferc1_test.py
  test/validate/ferc1_test.py
  test/validate/frc_eia923_test.py
  test/validate/fuel_ferc1_test.py
  test/validate/gens_eia860_test.py
  test/validate/gf_eia923_test.py
  test/validate/mcoe_test.py
  test/validate/notebooks/validate_bf_eia923.ipynb
  test/validate/notebooks/validate_fbp_ferc1.ipynb
  test/validate/notebooks/validate_frc_eia923.ipynb
  test/validate/notebooks/validate_fuel_ferc1.ipynb
  test/validate/notebooks/validate_gens_eia860.ipynb
  test/validate/notebooks/validate_gf_eia923.ipynb
  test/validate/notebooks/validate_mcoe.ipynb
  test/validate/notebooks/validate_plants_steam_ferc1.ipynb
  test/validate/plants_steam_ferc1_test.py
Labels: testing, dbt, data-validation

#4019 Integrate the Census-based FIPS codes to replace `addfips`
  dbt/seeds/etl_fast_row_counts.csv
  dbt/seeds/etl_full_row_counts.csv
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
  src/pudl/etl/__init__.py
  src/pudl/extract/__init__.py
  src/pudl/extract/censuspep.py
  src/pudl/helpers.py
  src/pudl/metadata/sources.py
  src/pudl/package_data/censuspep/__init__.py
  src/pudl/package_data/censuspep/column_maps/__init__.py
  src/pudl/package_data/censuspep/column_maps/geocodes.csv
  src/pudl/package_data/censuspep/file_map.csv
  src/pudl/package_data/censuspep/page_map.csv
  src/pudl/package_data/censuspep/skipfooter.csv
  src/pudl/package_data/censuspep/skiprows.csv
  src/pudl/package_data/censuspep/territories.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/settings.py
  src/pudl/transform/__init__.py
  src/pudl/transform/censuspep.py
  src/pudl/transform/eia860.py
  src/pudl/transform/eia861.py
  src/pudl/transform/eia923.py
  src/pudl/workspace/datastore.py
  test/unit/helpers_test.py
Labels: geospatial

#4193 fix: retry on OS errors
  devtools/zenodo/zenodo_data_release.py
Labels: bug, nightly-builds

#4145 Add devtools script to check for schema drift against dbt
  dbt/models/eia860/core_eia860__scd_ownership/schema.yml
  dbt/models/eia860/out_eia860__yearly_ownership/schema.yml
  dbt/models/eia930/core_eia930__hourly_net_generation_by_energy_source/schema.yml
  dbt/models/eia930/core_eia930__hourly_operations/schema.yml
  dbt/models/ferc714/out_ferc714__hourly_planning_area_demand/schema.yml
  dbt/models/pudl/core_pudl__codes_imputation_reasons/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  pyproject.toml
  src/pudl/scripts/dbt_helper.py
  test/integration/dbt_test.py
  test/unit/dbt_helper_test.py
  test/unit/dbt_schema_drift_test.py
Labels: admin, testing, metadata, dbt, data-validation

#4199 Update gdal & pre-commit hooks; relock dependencies
  .pre-commit-config.yaml
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Labels: dependencies

#4201 Refactor dbt helper
  src/pudl/scripts/dbt_helper.py
Labels: testing, dbt

#4208 Remove PUDL user survey banner from documentation.
  docs/conf.py
Labels: docs

#4190 Aggregated eia930 demand
  dbt/models/eia860/core_eia__codes_balancing_authorities/schema.yml
  dbt/models/eia930/out_eia930__hourly_aggregated_demand/schema.yml
  dbt/seeds/etl_fast_row_counts.csv
  dbt/seeds/etl_full_row_counts.csv
  migrations/versions/984c8772be9a_add_interconnect_code.py
  src/pudl/metadata/codes.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia930.py
  src/pudl/output/eia930.py
Labels: eia930

#4211 Update dependencies to avoid slow hypothesis dataframe generation.
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Labels: testing, dependencies

#4213 Fix aggregated eia930 imputed demand row counts
  dbt/seeds/etl_full_row_counts.csv
Labels: bug, eia930

#4219 Use correct target in dbt_helper integration test
  docker/gcp_pudl_etl.sh
  test/integration/dbt_test.py
Labels: testing, nightly-builds, dbt

#4224 Use latest version of ferc xbrl extractor with bug fix
  docs/release_notes.rst
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Labels: data-loss, xbrl, ferc6

#4223 Make dbt target selection explicit in dbt_helper arguments.
  dbt/README.md
  src/pudl/scripts/dbt_helper.py
  test/integration/dbt_test.py
  test/unit/dbt_helper_test.py
Labels: testing, nightly-builds, dbt
