Repository catalyst-cooperative/pudl, pull requests merged in 2025-06, with the labels that each got.

#4309 Update conda lockfile
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Labels: dependencies, geospatial

#4307 Switch PudlTabl from reading SQLite to reading Parquet
  docker/gcp_pudl_etl.sh
  pyproject.toml
  src/pudl/analysis/record_linkage/eia_ferc1_train.py
  src/pudl/glue/ferc1_eia.py
  src/pudl/helpers.py
  src/pudl/io_managers.py
  src/pudl/output/pudltabl.py
  src/pudl/validate.py
  test/conftest.py
  test/integration/ferc1_eia_train_test.py
  test/integration/glue_test.py
  test/integration/output_test.py
  test/unit/analysis/allocate_gen_fuel_test.py
  test/validate/eia_test.py
  test/validate/ferc1_test.py
  test/validate/mcoe_test.py
  test/validate/plant_parts_eia_test.py
Labels: output, testing, sqlite, performance, parquet

#4312 Extract PR data from eia 923 into raw data frames
  src/pudl/extract/eia923.py
  src/pudl/package_data/eia923/column_maps/puerto_rico_generation_fuel.csv
  src/pudl/package_data/eia923/column_maps/puerto_rico_plant_frame.csv
  src/pudl/package_data/eia923/file_map.csv
  src/pudl/package_data/eia923/page_map.csv
  src/pudl/package_data/eia923/skipfooter.csv
  src/pudl/package_data/eia923/skiprows.csv
Labels: eia923, new-data

#4336 Add extra flag to timeseries imputation for bad years of data
  src/pudl/analysis/timeseries_cleaning.py
  src/pudl/metadata/dfs.py
Labels: analysis, ferc714, eia930, time

#4341 Test saving observed dbt row counts in nightly builds
  docker/gcp_pudl_etl.sh
  docs/dev/testing.rst
Labels: nightly-builds, dbt, data-validation

#4349 Replace FERC-714 hour consistency test with dbt test.
  dbt/models/ferc714/core_ferc714__hourly_planning_area_demand/schema.yml
  dbt/models/ferc714/out_ferc714__hourly_planning_area_demand/schema.yml
  dbt/tests/data_tests/generic_tests/expect_consistent_years.sql
  dbt/tests/data_tests/generic_tests/schema.yml
  test/validate/service_territory_test.py
Labels: testing, ferc714, time, dbt, data-validation

#4353 Remove superset terraform config and Docker files
  superset/Dockerfile
  superset/README.md
  superset/automation/create_table_dashboards.py
  superset/automation/templates/charts/row_count.json
  superset/automation/templates/charts/table_download.json
  superset/automation/templates/dashboards/table_download_position.json.jinja
  superset/catalyst_logo.png
  superset/cloudbuild.yaml
  superset/docker-compose.yml
  superset/requirements.txt
  superset/setup.sh
  superset/superset_config.py
  terraform/main.tf
Labels: cloud, superset, terraform

#4348 Migrate `check_date_freq` monthly vs. annual checks into dbt
  dbt/models/eia860/out_eia860__yearly_ownership/schema.yml
  dbt/models/eia923/out_eia923__monthly_boiler_fuel/schema.yml
  dbt/models/eia923/out_eia923__monthly_fuel_receipts_costs/schema.yml
  dbt/models/eia923/out_eia923__monthly_generation/schema.yml
  dbt/models/eia923/out_eia923__monthly_generation_fuel_combined/schema.yml
  dbt/models/ferc714/core_ferc714__hourly_planning_area_demand/schema.yml
  dbt/models/ferc714/out_ferc714__hourly_planning_area_demand/schema.yml
  dbt/models/output/core_eia860__assn_boiler_generator/schema.yml
  dbt/models/output/out_eia923__monthly_generation_fuel_by_generator/schema.yml
  dbt/models/output/out_eia923__monthly_generation_fuel_by_generator_energy_source/schema.yml
  dbt/models/output/out_eia__yearly_boilers/schema.yml
  dbt/models/output/out_eia__yearly_plants/schema.yml
  dbt/models/output/out_eia__yearly_utilities/schema.yml
  dbt/package-lock.yml
  dbt/tests/data_tests/generic_tests/expect_consistent_years.sql
  dbt/tests/data_tests/generic_tests/expect_date_frequency_ratio.sql
  dbt/tests/data_tests/generic_tests/schema.yml
  src/pudl/validate.py
  test/integration/output_test.py
  test/validate/service_territory_test.py
Labels: eia923, eia860, testing, dbt, data-validation

#4097 Restructure SEC ownership tables
  .github/actionlint.yml
  .github/workflows/pytest.yml
  dbt/models/sec10k/core_sec10k__assn_exhibit_21_subsidiaries_and_eia_utilities/schema.yml
  dbt/models/sec10k/core_sec10k__assn_exhibit_21_subsidiaries_and_filers/schema.yml
  dbt/models/sec10k/core_sec10k__parents_and_subsidiaries/schema.yml
  dbt/models/sec10k/core_sec10k__quarterly_exhibit_21_company_ownership/schema.yml
  dbt/models/sec10k/out_sec10k__parents_and_subsidiaries/schema.yml
  dbt/seeds/etl_fast_row_counts.csv
  dbt/seeds/etl_full_row_counts.csv
  docs/methodology/index.rst
  docs/methodology/sec10k_modeling.rst
  docs/release_notes.rst
  migrations/versions/a4d4a2646d09_update_sec_ownership_tables.py
  migrations/versions/d8b39f16e69e_.py
  src/pudl/analysis/record_linkage/name_cleaner.py
  src/pudl/metadata/dfs.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/metadata/resources/sec10k.py
  src/pudl/output/sec10k.py
  src/pudl/transform/sec10k.py
  test/unit/transform/sec10k_test.py
Labels: schema-change, sec10k

#4362 Add pre-commit hook to keep row count files sorted.
  .pre-commit-config.yaml
  dbt/seeds/etl_fast_row_counts.csv
  dbt/seeds/etl_full_row_counts.csv
Labels: testing, dbt

#4359 Update changed unpartitioned row-counts manually & sort row count file.
  dbt/models/sec10k/core_sec10k__assn_exhibit_21_subsidiaries_and_eia_utilities/schema.yml
  dbt/models/sec10k/core_sec10k__quarterly_exhibit_21_company_ownership/schema.yml
  dbt/seeds/etl_full_row_counts.csv
Labels: testing, dbt, data-validation
