Repository catalyst-cooperative/pudl, pull requests merged in 2025-01, with the labels that each got.

#4003 Make it possible to pass another `sources` dict to DataSource
  src/pudl/metadata/classes.py
Labels: datapkg, metadata

#4004 Add EIA 176 2023 data
  docs/release_notes.rst
  src/pudl/metadata/sources.py
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/workspace/datastore.py
Labels: eia176, data-update

#4006 add censusfips metadata
  src/pudl/metadata/sources.py
Labels: bug, new-data

#4021 Update conda lockfile.
  .pre-commit-config.yaml
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Labels: dependencies

#4025 Acknowledge PUDL Sustainers
  .github/FUNDING.yml
  .gitignore
  README.rst
  docs/CONTRIBUTING.rst
  docs/conf.py
  docs/images/logos/GridLab.png
  docs/images/logos/NSF.png
  docs/images/logos/RMI.png
  docs/images/logos/Sloan.png
  docs/images/logos/ZEROLab.png
  docs/index.rst
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
  src/pudl/metadata/templates/datasette-metadata.yml.jinja
Labels: docs
